mqtt43/mqtt43.20251214.flows.json
[
    {
        "id": "82c1b90e.34f6a8",
        "type": "tab",
        "label": "BattMon24",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e5d3b05c.b979b",
        "type": "tab",
        "label": "BlockHeat41",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7495b29c.33f8ec",
        "type": "tab",
        "label": "FurnaceTemp",
        "disabled": false,
        "info": ""
    },
    {
        "id": "406be489.84d4cc",
        "type": "tab",
        "label": "GardenWater02",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b5c4464f.4a3ea8",
        "type": "tab",
        "label": "GardenWater03",
        "disabled": true,
        "info": ""
    },
    {
        "id": "2cac6a36.f88766",
        "type": "tab",
        "label": "GreenhouseTemp14",
        "disabled": true,
        "info": ""
    },
    {
        "id": "dce0c5aa.0d63c8",
        "type": "tab",
        "label": "GreenhouseTemp15",
        "disabled": true,
        "info": ""
    },
    {
        "id": "e802f506.b7b218",
        "type": "tab",
        "label": "RainGauge",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d2e8ffc8.434878",
        "type": "tab",
        "label": "Temp11",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c8fd5ca6.a08288",
        "type": "tab",
        "label": "Temperatures",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e461446c.a15ed8",
        "type": "tab",
        "label": "Testing",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3f343a43.bcb246",
        "type": "tab",
        "label": "TruckBattery",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3bd6686c23d8dec0",
        "type": "tab",
        "label": "Weather",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ce257eba.c4e94",
        "type": "tab",
        "label": "Xmas Lites (4 Relays)",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4f5f66f6863a95c9",
        "type": "tab",
        "label": "Xmas Lites (8 SSR)",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4a46e484ea34c71a",
        "type": "group",
        "z": "82c1b90e.34f6a8",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [],
        "x": 294,
        "y": 59,
        "w": 40,
        "h": 40
    },
    {
        "id": "09e304fd7441b2f7",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt43.local",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d652aaa7b8da0325",
        "type": "ui_tab",
        "name": "BME280",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "fa4429238fe6b941",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "716c9ae.4946064",
        "type": "ui_group",
        "name": "Rain Gauge",
        "tab": "4d218e63.34d8c",
        "order": 1,
        "disp": true,
        "width": 16,
        "collapse": false
    },
    {
        "id": "4d572a9c.a8ec54",
        "type": "ui_group",
        "name": "Front Yard",
        "tab": "cbbd87c0c82687af",
        "order": 1,
        "disp": true,
        "width": "22",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2f57be2a.1d9482",
        "type": "ui_group",
        "name": "12V Battery Voltages",
        "tab": "3a8c30fa.bd04f",
        "order": 2,
        "disp": true,
        "width": "22",
        "collapse": false
    },
    {
        "id": "ea76cd67.24cac",
        "type": "ui_tab",
        "name": "FurnaceTemp",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b59dcd88.7ace4",
        "type": "ui_tab",
        "name": "BlockHeat41",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "71f6ff47.b6fe9",
        "type": "ui_group",
        "name": "Controls",
        "tab": "b59dcd88.7ace4",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false
    },
    {
        "id": "95b2cce2.32d5e",
        "type": "ui_group",
        "name": "Temperatures",
        "tab": "b59dcd88.7ace4",
        "order": 2,
        "disp": true,
        "width": 10,
        "collapse": false
    },
    {
        "id": "333bb6f5.53ffaa",
        "type": "mqtt-broker",
        "name": "mqtt21",
        "broker": "192.168.200.21",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "4d218e63.34d8c",
        "type": "ui_tab",
        "name": "RainGauge",
        "icon": "dashboard",
        "order": 9,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "dff264e5.62692",
        "type": "ui_tab",
        "name": "Temperatures",
        "icon": "dashboard",
        "order": 11,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a21ea40a.946868",
        "type": "ui_group",
        "name": "Furnace Temperature",
        "tab": "ea76cd67.24cac",
        "order": 3,
        "disp": true,
        "width": "10",
        "collapse": false
    },
    {
        "id": "3a8c30fa.bd04f",
        "type": "ui_tab",
        "name": "BattMon34",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1be952ad.5b7c3d",
        "type": "ui_tab",
        "name": "GardenWater03",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b137338.ff230d",
        "type": "ui_group",
        "name": "Solar Voltage",
        "tab": "1be952ad.5b7c3d",
        "order": 1,
        "disp": true,
        "width": 10,
        "collapse": false
    },
    {
        "id": "ce063734.e3e7a8",
        "type": "ui_group",
        "name": "ESP8266",
        "tab": "1be952ad.5b7c3d",
        "order": 2,
        "disp": true,
        "width": 10,
        "collapse": false
    },
    {
        "id": "f5b2243.9c64bd8",
        "type": "ui_tab",
        "name": "Xmas Lights (4 Relays)",
        "icon": "dashboard",
        "order": 15,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1249cb1b.4f9575",
        "type": "ui_group",
        "name": "Front Deck",
        "tab": "f5b2243.9c64bd8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "db4d2bda.55ed18",
        "type": "ui_tab",
        "name": "Testing",
        "icon": "dashboard",
        "order": 12,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "dc077d1c.5e85f",
        "type": "ui_group",
        "name": "Temps",
        "tab": "dff264e5.62692",
        "order": 1,
        "disp": true,
        "width": 16,
        "collapse": false
    },
    {
        "id": "899eb5c4.d4f138",
        "type": "ui_group",
        "name": "Temps",
        "tab": "db4d2bda.55ed18",
        "order": 2,
        "disp": true,
        "width": 14,
        "collapse": false,
        "className": ""
    },
    {
        "id": "c7225b00.065aa8",
        "type": "ui_tab",
        "name": "GardenWater02",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a641b81d.993c8",
        "type": "ui_group",
        "name": "Solar Voltage",
        "tab": "c7225b00.065aa8",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": false
    },
    {
        "id": "e81fc5c6.6eb65",
        "type": "ui_group",
        "name": "ESP8266",
        "tab": "c7225b00.065aa8",
        "order": 2,
        "disp": true,
        "width": 10,
        "collapse": false
    },
    {
        "id": "43536f61.019008",
        "type": "ui_tab",
        "name": "GreenhouseTemp14",
        "icon": "dashboard",
        "order": 7,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2c9c121d.b719fe",
        "type": "ui_group",
        "name": "Default",
        "tab": "43536f61.019008",
        "order": 1,
        "disp": true,
        "width": "14",
        "collapse": false
    },
    {
        "id": "2932414f.20186e",
        "type": "ui_tab",
        "name": "Temp11",
        "icon": "dashboard",
        "order": 10,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7d0ffe0e.6dd698",
        "type": "ui_group",
        "name": "Default",
        "tab": "2932414f.20186e",
        "order": 1,
        "disp": true,
        "width": 14,
        "collapse": false
    },
    {
        "id": "4086190f.cb2ae8",
        "type": "ui_tab",
        "name": "GreenHouseTemp15",
        "icon": "dashboard",
        "order": 8,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d98b3fdb.f0274",
        "type": "ui_group",
        "name": "Default",
        "tab": "4086190f.cb2ae8",
        "order": 1,
        "disp": true,
        "width": 14,
        "collapse": false
    },
    {
        "id": "5f9546d5.8725b8",
        "type": "ui_tab",
        "name": "TruckVolt",
        "icon": "dashboard",
        "order": 13,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4dad3600.d61218",
        "type": "ui_group",
        "name": "Default",
        "tab": "5f9546d5.8725b8",
        "order": 1,
        "disp": true,
        "width": 12,
        "collapse": false
    },
    {
        "id": "81d7c8edabb179d4",
        "type": "ui_group",
        "name": "BME280",
        "tab": "d652aaa7b8da0325",
        "order": 1,
        "disp": true,
        "width": "14",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7ada61c24e02f374",
        "type": "ui_spacer",
        "z": "e461446c.a15ed8",
        "name": "spacer",
        "group": "81d7c8edabb179d4",
        "order": 7,
        "width": 3,
        "height": 1
    },
    {
        "id": "3b14efdb956bb75b",
        "type": "ui_spacer",
        "z": "e461446c.a15ed8",
        "name": "spacer",
        "group": "81d7c8edabb179d4",
        "order": 9,
        "width": 4,
        "height": 1
    },
    {
        "id": "759fd74a57824143",
        "type": "ui_spacer",
        "z": "e461446c.a15ed8",
        "name": "spacer",
        "group": "81d7c8edabb179d4",
        "order": 10,
        "width": 3,
        "height": 1
    },
    {
        "id": "b6278ebf04bf5f37",
        "type": "ui_spacer",
        "z": "e461446c.a15ed8",
        "name": "spacer",
        "group": "81d7c8edabb179d4",
        "order": 11,
        "width": 4,
        "height": 1
    },
    {
        "id": "f8aa1f5d4331c39b",
        "type": "ui_spacer",
        "z": "e461446c.a15ed8",
        "name": "spacer",
        "group": "81d7c8edabb179d4",
        "order": 12,
        "width": 3,
        "height": 1
    },
    {
        "id": "aec200dfaf51058f",
        "type": "ui_spacer",
        "z": "e461446c.a15ed8",
        "name": "spacer",
        "group": "81d7c8edabb179d4",
        "order": 13,
        "width": 4,
        "height": 1
    },
    {
        "id": "be34715c8d73119d",
        "type": "ui_spacer",
        "z": "e461446c.a15ed8",
        "name": "spacer",
        "group": "81d7c8edabb179d4",
        "order": 14,
        "width": 3,
        "height": 1
    },
    {
        "id": "e45e6889bce55dd7",
        "type": "ui_spacer",
        "z": "e461446c.a15ed8",
        "name": "spacer",
        "group": "81d7c8edabb179d4",
        "order": 15,
        "width": 4,
        "height": 1
    },
    {
        "id": "d1241c7a06cbeb0f",
        "type": "ui_spacer",
        "z": "e461446c.a15ed8",
        "name": "spacer",
        "group": "81d7c8edabb179d4",
        "order": 16,
        "width": 3,
        "height": 1
    },
    {
        "id": "a37c484b5a31af50",
        "type": "ui_spacer",
        "z": "e461446c.a15ed8",
        "name": "spacer",
        "group": "81d7c8edabb179d4",
        "order": 17,
        "width": 4,
        "height": 1
    },
    {
        "id": "0734ad1c4b98212e",
        "type": "ui_spacer",
        "z": "e461446c.a15ed8",
        "name": "spacer",
        "group": "81d7c8edabb179d4",
        "order": 18,
        "width": 3,
        "height": 1
    },
    {
        "id": "01688bf94cbac93d",
        "type": "ui_spacer",
        "z": "e461446c.a15ed8",
        "name": "spacer",
        "group": "81d7c8edabb179d4",
        "order": 19,
        "width": 4,
        "height": 1
    },
    {
        "id": "e578d5066e4a882d",
        "type": "ui_spacer",
        "z": "e461446c.a15ed8",
        "name": "spacer",
        "group": "81d7c8edabb179d4",
        "order": 20,
        "width": 3,
        "height": 1
    },
    {
        "id": "79410de616e31b2e",
        "type": "ui_spacer",
        "z": "e461446c.a15ed8",
        "name": "spacer",
        "group": "81d7c8edabb179d4",
        "order": 21,
        "width": 4,
        "height": 1
    },
    {
        "id": "a47c5bafa17c6b2b",
        "type": "ui_group",
        "name": "Gauges",
        "tab": "0e6f12a64cf934ae",
        "order": 2,
        "disp": true,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "412ae33ef3641257",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4b49cab34b74484a",
        "type": "ui_spacer",
        "z": "e461446c.a15ed8",
        "name": "spacer",
        "group": "a47c5bafa17c6b2b",
        "order": 12,
        "width": 15,
        "height": 1
    },
    {
        "id": "22c59d36236eacc7",
        "type": "ui_spacer",
        "z": "e461446c.a15ed8",
        "name": "spacer",
        "group": "a47c5bafa17c6b2b",
        "order": 15,
        "width": 15,
        "height": 1
    },
    {
        "id": "07a26db7bbf288d2",
        "type": "ui_spacer",
        "z": "e461446c.a15ed8",
        "name": "spacer",
        "group": "a47c5bafa17c6b2b",
        "order": 18,
        "width": 5,
        "height": 1
    },
    {
        "id": "2aac1f3046f89e34",
        "type": "ui_spacer",
        "z": "e461446c.a15ed8",
        "name": "spacer",
        "group": "a47c5bafa17c6b2b",
        "order": 20,
        "width": 5,
        "height": 1
    },
    {
        "id": "3ddbe0741f9e27e3",
        "type": "ui_spacer",
        "z": "e461446c.a15ed8",
        "name": "spacer",
        "group": "a47c5bafa17c6b2b",
        "order": 23,
        "width": 5,
        "height": 1
    },
    {
        "id": "85c40ac9ed6a9a59",
        "type": "ui_spacer",
        "z": "e461446c.a15ed8",
        "name": "spacer",
        "group": "a47c5bafa17c6b2b",
        "order": 26,
        "width": 5,
        "height": 1
    },
    {
        "id": "c60c0d8d311797df",
        "type": "ui_spacer",
        "z": "e461446c.a15ed8",
        "name": "spacer",
        "group": "a47c5bafa17c6b2b",
        "order": 29,
        "width": 5,
        "height": 1
    },
    {
        "id": "37e80be567140375",
        "type": "ui_spacer",
        "z": "e461446c.a15ed8",
        "name": "spacer",
        "group": "a47c5bafa17c6b2b",
        "order": 32,
        "width": 10,
        "height": 1
    },
    {
        "id": "5782874618c69bd2",
        "type": "ui_spacer",
        "z": "e461446c.a15ed8",
        "name": "spacer",
        "group": "a47c5bafa17c6b2b",
        "order": 36,
        "width": 10,
        "height": 1
    },
    {
        "id": "07680d5045ccc041",
        "type": "ui_spacer",
        "z": "e461446c.a15ed8",
        "name": "spacer",
        "group": "a47c5bafa17c6b2b",
        "order": 39,
        "width": 10,
        "height": 1
    },
    {
        "id": "c190919d14be5ec3",
        "type": "ui_spacer",
        "z": "e461446c.a15ed8",
        "name": "spacer",
        "group": "a47c5bafa17c6b2b",
        "order": 42,
        "width": 10,
        "height": 1
    },
    {
        "id": "0e6f12a64cf934ae",
        "type": "ui_tab",
        "name": "Weather",
        "icon": "dashboard",
        "order": 14,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "cbbd87c0c82687af",
        "type": "ui_tab",
        "name": "Xmas Lites (8 SSR)",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "518bf099c37d4358",
        "type": "ui_group",
        "name": "24V Battery Voltages",
        "tab": "3a8c30fa.bd04f",
        "order": 2,
        "disp": true,
        "width": 22,
        "collapse": false,
        "className": ""
    },
    {
        "id": "cf57254c0c7870d4",
        "type": "ui_group",
        "name": "Controls",
        "tab": "3a8c30fa.bd04f",
        "order": 3,
        "disp": true,
        "width": 22,
        "collapse": false,
        "className": ""
    },
    {
        "id": "1ecce7b8.bd1fb8",
        "type": "ui_chart",
        "z": "82c1b90e.34f6a8",
        "name": "",
        "group": "518bf099c37d4358",
        "order": 3,
        "width": 10,
        "height": 6,
        "label": "24V Battery Voltages",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "23",
        "ymax": "30",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff9200",
            "#1c15e4",
            "#aa7941",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 360,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "cd7cf873.bfd4f8",
        "type": "mqtt in",
        "z": "82c1b90e.34f6a8",
        "name": "",
        "topic": "Garage/BlueOrange",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "333bb6f5.53ffaa",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 150,
        "y": 100,
        "wires": [
            [
                "1ecce7b8.bd1fb8",
                "13b6866d.e42d4a"
            ]
        ]
    },
    {
        "id": "f064bc47.b9301",
        "type": "mqtt in",
        "z": "82c1b90e.34f6a8",
        "name": "",
        "topic": "Garage/BlueBlue",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "333bb6f5.53ffaa",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 140,
        "y": 260,
        "wires": [
            [
                "1ecce7b8.bd1fb8",
                "57ea321c.1195ac"
            ]
        ]
    },
    {
        "id": "71d34e9a.2454e",
        "type": "mqtt in",
        "z": "82c1b90e.34f6a8",
        "name": "",
        "topic": "Garage/WhiteBrown",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "333bb6f5.53ffaa",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 150,
        "y": 380,
        "wires": [
            [
                "6c2543db.b9be3c",
                "c9884d1b.e02e5"
            ]
        ]
    },
    {
        "id": "6c2543db.b9be3c",
        "type": "ui_chart",
        "z": "82c1b90e.34f6a8",
        "name": "",
        "group": "2f57be2a.1d9482",
        "order": 3,
        "width": 10,
        "height": 6,
        "label": "12V Battery Voltages",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "11",
        "ymax": "16",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#aa7941",
            "#ff9200",
            "#0432ff",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 340,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "49e826a8.f261e8",
        "type": "mqtt in",
        "z": "82c1b90e.34f6a8",
        "name": "",
        "topic": "Garage/WhiteOrange",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "333bb6f5.53ffaa",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 160,
        "y": 540,
        "wires": [
            [
                "6c2543db.b9be3c",
                "68991dee.8dc2b4"
            ]
        ]
    },
    {
        "id": "13b6866d.e42d4a",
        "type": "ui_gauge",
        "z": "82c1b90e.34f6a8",
        "name": "",
        "group": "518bf099c37d4358",
        "order": 1,
        "width": 6,
        "height": 6,
        "gtype": "gage",
        "title": "Solar Batteries (BlueOrange)",
        "label": "Volts",
        "format": "{{value}}",
        "min": "23",
        "max": "30",
        "colors": [
            "#ff2600",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "24",
        "seg2": "26",
        "diff": false,
        "className": "",
        "x": 440,
        "y": 100,
        "wires": []
    },
    {
        "id": "57ea321c.1195ac",
        "type": "ui_gauge",
        "z": "82c1b90e.34f6a8",
        "name": "",
        "group": "518bf099c37d4358",
        "order": 2,
        "width": 6,
        "height": 6,
        "gtype": "gage",
        "title": "Garage Batteries (BlueBlue)",
        "label": "Volts",
        "format": "{{value}}",
        "min": "23",
        "max": "30",
        "colors": [
            "#ff2600",
            "#f6ec00",
            "#00b500"
        ],
        "seg1": "24",
        "seg2": "28",
        "diff": false,
        "className": "",
        "x": 440,
        "y": 260,
        "wires": []
    },
    {
        "id": "c9884d1b.e02e5",
        "type": "ui_gauge",
        "z": "82c1b90e.34f6a8",
        "name": "",
        "group": "2f57be2a.1d9482",
        "order": 1,
        "width": 6,
        "height": 6,
        "gtype": "gage",
        "title": "Ham Battery (WhiteBrown)",
        "label": "Volts",
        "format": "{{value}}",
        "min": "11",
        "max": "16",
        "colors": [
            "#ff2600",
            "#77bb40",
            "#f6ec00"
        ],
        "seg1": "12",
        "seg2": "15",
        "diff": false,
        "className": "",
        "x": 440,
        "y": 380,
        "wires": []
    },
    {
        "id": "68991dee.8dc2b4",
        "type": "ui_gauge",
        "z": "82c1b90e.34f6a8",
        "name": "",
        "group": "2f57be2a.1d9482",
        "order": 2,
        "width": 6,
        "height": 6,
        "gtype": "gage",
        "title": "Trailer Batteries (WhiteOrange)",
        "label": "Volts",
        "format": "{{value}}",
        "min": "11",
        "max": "16",
        "colors": [
            "#ff2600",
            "#77bb40",
            "#f6ec00"
        ],
        "seg1": "12",
        "seg2": "15",
        "x": 430,
        "y": 540,
        "wires": []
    },
    {
        "id": "a74d0a28bfbcaa53",
        "type": "mqtt out",
        "z": "82c1b90e.34f6a8",
        "name": "",
        "topic": "esp8266/22/relay1",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "412ae33ef3641257",
        "x": 790,
        "y": 700,
        "wires": []
    },
    {
        "id": "a3e73112c1a37067",
        "type": "ui_switch",
        "z": "82c1b90e.34f6a8",
        "name": "Relay 1 - Garage Batteries",
        "label": "Relay 1 - Garage Batteries",
        "tooltip": "",
        "group": "cf57254c0c7870d4",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 480,
        "y": 700,
        "wires": [
            [
                "a74d0a28bfbcaa53"
            ]
        ]
    },
    {
        "id": "427f3d1ace613894",
        "type": "ui_switch",
        "z": "82c1b90e.34f6a8",
        "name": "Relay 2 - Solar Batteries",
        "label": "Relay 2 - Solar Batteries",
        "tooltip": "",
        "group": "cf57254c0c7870d4",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 470,
        "y": 840,
        "wires": [
            [
                "669d9f7d7a627936"
            ]
        ]
    },
    {
        "id": "669d9f7d7a627936",
        "type": "mqtt out",
        "z": "82c1b90e.34f6a8",
        "name": "",
        "topic": "esp8266/22/relay2",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "412ae33ef3641257",
        "x": 790,
        "y": 840,
        "wires": []
    },
    {
        "id": "f4c6d454ad7946d9",
        "type": "inject",
        "z": "82c1b90e.34f6a8",
        "name": "Morning On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 01 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "on",
        "payloadType": "str",
        "x": 110,
        "y": 640,
        "wires": [
            [
                "a3e73112c1a37067"
            ]
        ]
    },
    {
        "id": "b46f13e37cb1932e",
        "type": "inject",
        "z": "82c1b90e.34f6a8",
        "name": "Morning Off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 06 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "off",
        "payloadType": "str",
        "x": 110,
        "y": 680,
        "wires": [
            [
                "a3e73112c1a37067"
            ]
        ]
    },
    {
        "id": "bfba9d9142511a71",
        "type": "inject",
        "z": "82c1b90e.34f6a8",
        "d": true,
        "name": "Afternoon On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 13 * * 1,3,5",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "on",
        "payloadType": "str",
        "x": 120,
        "y": 820,
        "wires": [
            [
                "427f3d1ace613894"
            ]
        ]
    },
    {
        "id": "6f843a3c7df1e41c",
        "type": "inject",
        "z": "82c1b90e.34f6a8",
        "name": "Afternoon off",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 17 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "off",
        "payloadType": "str",
        "x": 120,
        "y": 860,
        "wires": [
            [
                "427f3d1ace613894"
            ]
        ]
    },
    {
        "id": "337e8a0b47636fe9",
        "type": "inject",
        "z": "82c1b90e.34f6a8",
        "d": true,
        "name": "Evening On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 18 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "on",
        "payloadType": "str",
        "x": 110,
        "y": 720,
        "wires": [
            [
                "a3e73112c1a37067"
            ]
        ]
    },
    {
        "id": "77512793d3923a59",
        "type": "inject",
        "z": "82c1b90e.34f6a8",
        "d": true,
        "name": "Evening Off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 22 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "off",
        "payloadType": "str",
        "x": 110,
        "y": 760,
        "wires": [
            [
                "a3e73112c1a37067"
            ]
        ]
    },
    {
        "id": "8fde0b53.708508",
        "type": "mqtt out",
        "z": "e5d3b05c.b979b",
        "name": "",
        "topic": "BlockHeat/right23",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "412ae33ef3641257",
        "x": 610,
        "y": 80,
        "wires": []
    },
    {
        "id": "c401ae7d.c4ebc",
        "type": "mqtt out",
        "z": "e5d3b05c.b979b",
        "name": "",
        "topic": "BlockHeat/left24",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "412ae33ef3641257",
        "x": 610,
        "y": 280,
        "wires": []
    },
    {
        "id": "6d0d65a9.16c5ec",
        "type": "ui_switch",
        "z": "e5d3b05c.b979b",
        "name": "",
        "label": "Right-23",
        "tooltip": "",
        "group": "71f6ff47.b6fe9",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "false",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "true",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 400,
        "y": 80,
        "wires": [
            [
                "8fde0b53.708508"
            ]
        ]
    },
    {
        "id": "f7130e8d.e306f",
        "type": "ui_switch",
        "z": "e5d3b05c.b979b",
        "name": "",
        "label": "Left-24",
        "tooltip": "",
        "group": "71f6ff47.b6fe9",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "false",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "true",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 420,
        "y": 280,
        "wires": [
            [
                "c401ae7d.c4ebc"
            ]
        ]
    },
    {
        "id": "e5f6cf68.68d85",
        "type": "mqtt in",
        "z": "e5d3b05c.b979b",
        "name": "",
        "topic": "BlockHeat/BlockInTemp",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "412ae33ef3641257",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 130,
        "y": 440,
        "wires": [
            [
                "7b7ec3d9.4034ac",
                "87876f26.3a6f9"
            ]
        ]
    },
    {
        "id": "7b7ec3d9.4034ac",
        "type": "ui_gauge",
        "z": "e5d3b05c.b979b",
        "name": "Inside Temperature",
        "group": "95b2cce2.32d5e",
        "order": 1,
        "width": 5,
        "height": 5,
        "gtype": "gage",
        "title": "Inside Temp",
        "label": "Celcius",
        "format": "{{value}}",
        "min": "-35",
        "max": "35",
        "colors": [
            "#e6e600",
            "#00b400",
            "#ca3838"
        ],
        "seg1": "0",
        "seg2": "15",
        "x": 390,
        "y": 440,
        "wires": []
    },
    {
        "id": "9865e7a7.ac99c8",
        "type": "ui_gauge",
        "z": "e5d3b05c.b979b",
        "name": "Outside Temperatures",
        "group": "95b2cce2.32d5e",
        "order": 2,
        "width": 5,
        "height": 5,
        "gtype": "gage",
        "title": "Outside Temp",
        "label": "Celcius",
        "format": "{{value}}",
        "min": "-35",
        "max": "35",
        "colors": [
            "#e6e600",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "0",
        "seg2": "15",
        "x": 400,
        "y": 600,
        "wires": []
    },
    {
        "id": "949dcb51.d9c7b8",
        "type": "mqtt in",
        "z": "e5d3b05c.b979b",
        "name": "",
        "topic": "BlockHeat/BlockOutTemp",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "412ae33ef3641257",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 130,
        "y": 600,
        "wires": [
            [
                "9865e7a7.ac99c8",
                "87876f26.3a6f9"
            ]
        ]
    },
    {
        "id": "87876f26.3a6f9",
        "type": "ui_chart",
        "z": "e5d3b05c.b979b",
        "name": "BlockHeat Temps",
        "group": "95b2cce2.32d5e",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "BlockHeat Temps",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-40",
        "ymax": "30",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 390,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "7c70658e.afef6c",
        "type": "inject",
        "z": "e5d3b05c.b979b",
        "name": "BlockHeat Time ON",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 03 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "6d0d65a9.16c5ec",
                "f7130e8d.e306f"
            ]
        ]
    },
    {
        "id": "4ccf6bba.977ab4",
        "type": "inject",
        "z": "e5d3b05c.b979b",
        "name": "BlockHeat Time OFF",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 10 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 160,
        "y": 260,
        "wires": [
            [
                "6d0d65a9.16c5ec",
                "f7130e8d.e306f"
            ]
        ]
    },
    {
        "id": "9cfdc014.907fd",
        "type": "mqtt in",
        "z": "7495b29c.33f8ec",
        "name": "",
        "topic": "Garage/FurnaceTemp",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "333bb6f5.53ffaa",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 170,
        "y": 120,
        "wires": [
            [
                "d41fa6fb.902338"
            ]
        ]
    },
    {
        "id": "d41fa6fb.902338",
        "type": "ui_gauge",
        "z": "7495b29c.33f8ec",
        "name": "Garage Temperature",
        "group": "a21ea40a.946868",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "FurnaceTemp",
        "label": "Celcius",
        "format": "{{value}}",
        "min": 0,
        "max": "35",
        "colors": [
            "#0015b3",
            "#1be600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "25",
        "x": 590,
        "y": 120,
        "wires": []
    },
    {
        "id": "1f051af8.8c4455",
        "type": "ui_slider",
        "z": "7495b29c.33f8ec",
        "name": "",
        "label": "Garage Temperature",
        "tooltip": "",
        "group": "a21ea40a.946868",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": "10",
        "max": "22",
        "step": 1,
        "x": 210,
        "y": 240,
        "wires": [
            [
                "2d3ff7f1.fffa28"
            ]
        ]
    },
    {
        "id": "2d3ff7f1.fffa28",
        "type": "mqtt out",
        "z": "7495b29c.33f8ec",
        "name": "",
        "topic": "Garage/FurnaceHeat",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "333bb6f5.53ffaa",
        "x": 600,
        "y": 240,
        "wires": []
    },
    {
        "id": "62fdfc00.ed757c",
        "type": "ui_gauge",
        "z": "406be489.84d4cc",
        "name": "Battery Voltage",
        "group": "a641b81d.993c8",
        "order": 4,
        "width": 10,
        "height": 6,
        "gtype": "gage",
        "title": "Battery Voltage",
        "label": "Volts",
        "format": "{{value}}",
        "min": "10",
        "max": "15",
        "colors": [
            "#b3001b",
            "#00e645",
            "#00b500"
        ],
        "seg1": "12",
        "seg2": "14",
        "diff": false,
        "className": "",
        "x": 420,
        "y": 60,
        "wires": []
    },
    {
        "id": "b218a804.410ed8",
        "type": "ui_chart",
        "z": "406be489.84d4cc",
        "name": "Battery Voltage Daily",
        "group": "a641b81d.993c8",
        "order": 5,
        "width": 10,
        "height": 6,
        "label": "Battery Voltage Daily",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "11",
        "ymax": "15",
        "removeOlder": "36",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 440,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "513ef858.f67dc8",
        "type": "file",
        "z": "406be489.84d4cc",
        "d": true,
        "name": "",
        "filename": "/home/robin/BattVolt",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 440,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "9f7c2021.6e8f6",
        "type": "mqtt in",
        "z": "406be489.84d4cc",
        "name": "",
        "topic": "esp8266/02/RSSI",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "333bb6f5.53ffaa",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 120,
        "y": 380,
        "wires": [
            [
                "2af69aae.17b89e",
                "bd125159.49ce6"
            ]
        ]
    },
    {
        "id": "2af69aae.17b89e",
        "type": "ui_chart",
        "z": "406be489.84d4cc",
        "name": "ESP8266 RSSI",
        "group": "a641b81d.993c8",
        "order": 8,
        "width": 6,
        "height": 6,
        "label": "RSSI",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-35",
        "ymax": "-85",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ea32e",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 420,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "bd125159.49ce6",
        "type": "ui_gauge",
        "z": "406be489.84d4cc",
        "name": "RSSI",
        "group": "a641b81d.993c8",
        "order": 7,
        "width": 4,
        "height": 6,
        "gtype": "gage",
        "title": "ESP8266 RSSI",
        "label": "dB",
        "format": "{{value}}",
        "min": "-85",
        "max": "-35",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "-75",
        "seg2": "60",
        "x": 390,
        "y": 340,
        "wires": []
    },
    {
        "id": "669a0f0a.16cc9",
        "type": "mqtt in",
        "z": "406be489.84d4cc",
        "name": "",
        "topic": "esp8266/02/outTemp",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "333bb6f5.53ffaa",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 140,
        "y": 520,
        "wires": [
            [
                "7d6c4d22.211764",
                "84ee777c.86c488",
                "2fac8623.366512"
            ]
        ]
    },
    {
        "id": "7d6c4d22.211764",
        "type": "ui_gauge",
        "z": "406be489.84d4cc",
        "name": "Outside Temp",
        "group": "e81fc5c6.6eb65",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Outside Temp Daily",
        "label": "Celcius",
        "format": "{{value}}",
        "min": "-40",
        "max": "40",
        "colors": [
            "#0006b3",
            "#00e645",
            "#ca3838"
        ],
        "seg1": "0",
        "seg2": "25",
        "diff": false,
        "className": "",
        "x": 420,
        "y": 520,
        "wires": []
    },
    {
        "id": "910067e1.48eea",
        "type": "inject",
        "z": "406be489.84d4cc",
        "name": "Morning On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 06 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10000000",
        "payloadType": "str",
        "x": 130,
        "y": 880,
        "wires": [
            [
                "11596caf.3b3a7b"
            ]
        ]
    },
    {
        "id": "6421e836.9d48c8",
        "type": "inject",
        "z": "406be489.84d4cc",
        "name": "Morning Off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "03 06 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "00000000",
        "payloadType": "str",
        "x": 130,
        "y": 940,
        "wires": [
            [
                "11596caf.3b3a7b"
            ]
        ]
    },
    {
        "id": "e2d53442.fc804",
        "type": "inject",
        "z": "406be489.84d4cc",
        "name": "Evening On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 18 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10000000",
        "payloadType": "str",
        "x": 130,
        "y": 1120,
        "wires": [
            [
                "11596caf.3b3a7b"
            ]
        ]
    },
    {
        "id": "a388fd5e.ee7e98",
        "type": "inject",
        "z": "406be489.84d4cc",
        "name": "Evening Off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "03 18 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "00000000",
        "payloadType": "str",
        "x": 130,
        "y": 1180,
        "wires": [
            [
                "11596caf.3b3a7b"
            ]
        ]
    },
    {
        "id": "e3745c2d.74fc38",
        "type": "mqtt out",
        "z": "406be489.84d4cc",
        "name": "",
        "topic": "esp8266/02/GPIO",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "333bb6f5.53ffaa",
        "x": 790,
        "y": 1440,
        "wires": []
    },
    {
        "id": "11596caf.3b3a7b",
        "type": "ui_switch",
        "z": "406be489.84d4cc",
        "d": true,
        "name": "",
        "label": "Garden Pump 01 (10000000)",
        "tooltip": "",
        "group": "a641b81d.993c8",
        "order": 1,
        "width": 10,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "10000000",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "00000000",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 460,
        "y": 1060,
        "wires": [
            [
                "e3745c2d.74fc38"
            ]
        ]
    },
    {
        "id": "14274981.4034ce",
        "type": "inject",
        "z": "406be489.84d4cc",
        "d": true,
        "name": "Noon On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 12 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10000000",
        "payloadType": "str",
        "x": 130,
        "y": 1000,
        "wires": [
            [
                "11596caf.3b3a7b"
            ]
        ]
    },
    {
        "id": "aab4eeda.09b9b8",
        "type": "inject",
        "z": "406be489.84d4cc",
        "name": "Noon Off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "03 12 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "00000000",
        "payloadType": "str",
        "x": 130,
        "y": 1060,
        "wires": [
            [
                "11596caf.3b3a7b"
            ]
        ]
    },
    {
        "id": "84ee777c.86c488",
        "type": "ui_chart",
        "z": "406be489.84d4cc",
        "name": "",
        "group": "e81fc5c6.6eb65",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Outside Temp Weekly",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-40",
        "ymax": "40",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 440,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "b202174a.ea353",
        "type": "mqtt in",
        "z": "406be489.84d4cc",
        "name": "",
        "topic": "esp8266/02/battVolt",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "333bb6f5.53ffaa",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 130,
        "y": 140,
        "wires": [
            [
                "62fdfc00.ed757c",
                "b218a804.410ed8",
                "513ef858.f67dc8",
                "7f15dd70.2b03dc"
            ]
        ]
    },
    {
        "id": "7f15dd70.2b03dc",
        "type": "ui_chart",
        "z": "406be489.84d4cc",
        "name": "Battery Voltage Weekly",
        "group": "a641b81d.993c8",
        "order": 6,
        "width": 10,
        "height": 6,
        "label": "Battery Voltage Weekly",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "11",
        "ymax": "15",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#0e87dd",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 450,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "2fac8623.366512",
        "type": "ui_chart",
        "z": "406be489.84d4cc",
        "name": "",
        "group": "e81fc5c6.6eb65",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Outside Temp Daily",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-40",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 430,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "7bc42986.d8ce1",
        "type": "mqtt in",
        "z": "406be489.84d4cc",
        "name": "",
        "topic": "esp8266/02/battTemp",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "333bb6f5.53ffaa",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 140,
        "y": 720,
        "wires": [
            [
                "3eff2c31.273294",
                "76d0f06e.b4fed8",
                "3134d19f.5a7b4e"
            ]
        ]
    },
    {
        "id": "3eff2c31.273294",
        "type": "ui_gauge",
        "z": "406be489.84d4cc",
        "name": "Battery Temp",
        "group": "e81fc5c6.6eb65",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Battery Temperature",
        "label": "Celcius",
        "format": "{{value}}",
        "min": "-40",
        "max": "40",
        "colors": [
            "#1a5fb4",
            "#00e645",
            "#ca3838"
        ],
        "seg1": "0",
        "seg2": "25",
        "diff": false,
        "className": "",
        "x": 420,
        "y": 720,
        "wires": []
    },
    {
        "id": "76d0f06e.b4fed8",
        "type": "ui_chart",
        "z": "406be489.84d4cc",
        "name": "Battery Temp Daily",
        "group": "e81fc5c6.6eb65",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Battery Temp Daily",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-40",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#8529db",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 440,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "3134d19f.5a7b4e",
        "type": "ui_chart",
        "z": "406be489.84d4cc",
        "name": "",
        "group": "e81fc5c6.6eb65",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "Battery Temp Weekly",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-40",
        "ymax": "40",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#7823c7",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 460,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "791cc9a4.c8ca9",
        "type": "inject",
        "z": "406be489.84d4cc",
        "name": "Morning On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "05 06 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "01000000",
        "payloadType": "str",
        "x": 130,
        "y": 1260,
        "wires": [
            [
                "becd0222.72a4c"
            ]
        ]
    },
    {
        "id": "becd0222.72a4c",
        "type": "ui_switch",
        "z": "406be489.84d4cc",
        "d": true,
        "name": "",
        "label": "Garden Pump 02 (01000000)",
        "tooltip": "",
        "group": "a641b81d.993c8",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "01000000",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "00000000",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 440,
        "y": 1440,
        "wires": [
            [
                "e3745c2d.74fc38"
            ]
        ]
    },
    {
        "id": "93e5f15.e5e1d9",
        "type": "inject",
        "z": "406be489.84d4cc",
        "name": "Morning Off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "08 06 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "00000000",
        "payloadType": "str",
        "x": 130,
        "y": 1320,
        "wires": [
            [
                "becd0222.72a4c"
            ]
        ]
    },
    {
        "id": "29a76d2c.73621a",
        "type": "inject",
        "z": "406be489.84d4cc",
        "d": true,
        "name": "Noon On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "05 12 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "01000000",
        "payloadType": "str",
        "x": 130,
        "y": 1380,
        "wires": [
            [
                "becd0222.72a4c"
            ]
        ]
    },
    {
        "id": "83d23b1f.2524e",
        "type": "inject",
        "z": "406be489.84d4cc",
        "name": "Noon Off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "08 12 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "00000000",
        "payloadType": "str",
        "x": 130,
        "y": 1440,
        "wires": [
            [
                "becd0222.72a4c"
            ]
        ]
    },
    {
        "id": "ef1fde4c.22b3b",
        "type": "inject",
        "z": "406be489.84d4cc",
        "name": "Evening On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "05 18 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 130,
        "y": 1500,
        "wires": [
            [
                "becd0222.72a4c"
            ]
        ]
    },
    {
        "id": "c06287e.4cd7ef8",
        "type": "inject",
        "z": "406be489.84d4cc",
        "name": "Evening Off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "08 18 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "00000000",
        "payloadType": "str",
        "x": 130,
        "y": 1560,
        "wires": [
            [
                "becd0222.72a4c"
            ]
        ]
    },
    {
        "id": "a3b480f4faca749e",
        "type": "inject",
        "z": "406be489.84d4cc",
        "d": true,
        "name": "Morning On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "10 06 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "00100000",
        "payloadType": "str",
        "x": 130,
        "y": 1640,
        "wires": [
            [
                "8fbeb4c4ec2a93de"
            ]
        ]
    },
    {
        "id": "53a99cd8e8d87ece",
        "type": "inject",
        "z": "406be489.84d4cc",
        "name": "Morning Off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "13 06 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "00000000",
        "payloadType": "str",
        "x": 130,
        "y": 1700,
        "wires": [
            [
                "8fbeb4c4ec2a93de"
            ]
        ]
    },
    {
        "id": "aac2cd0b14cf79f0",
        "type": "inject",
        "z": "406be489.84d4cc",
        "d": true,
        "name": "Noon On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "10 12 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "00100000",
        "payloadType": "str",
        "x": 130,
        "y": 1760,
        "wires": [
            [
                "8fbeb4c4ec2a93de"
            ]
        ]
    },
    {
        "id": "dc034a31abc2e2fc",
        "type": "inject",
        "z": "406be489.84d4cc",
        "name": "Noon Off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "11 12 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "00000000",
        "payloadType": "str",
        "x": 130,
        "y": 1820,
        "wires": [
            [
                "8fbeb4c4ec2a93de"
            ]
        ]
    },
    {
        "id": "d16edc95fea75027",
        "type": "inject",
        "z": "406be489.84d4cc",
        "d": true,
        "name": "Evening On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "10 18 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "00100000",
        "payloadType": "str",
        "x": 130,
        "y": 1880,
        "wires": [
            [
                "8fbeb4c4ec2a93de"
            ]
        ]
    },
    {
        "id": "af0d271765d8790a",
        "type": "inject",
        "z": "406be489.84d4cc",
        "name": "Evening Off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "13 18 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "00000000",
        "payloadType": "str",
        "x": 130,
        "y": 1940,
        "wires": [
            [
                "8fbeb4c4ec2a93de"
            ]
        ]
    },
    {
        "id": "8fbeb4c4ec2a93de",
        "type": "ui_switch",
        "z": "406be489.84d4cc",
        "d": true,
        "name": "",
        "label": "Garden Pump 03 (00100000)",
        "tooltip": "",
        "group": "a641b81d.993c8",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "00100000",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "00000000",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 440,
        "y": 1820,
        "wires": [
            [
                "e3745c2d.74fc38"
            ]
        ]
    },
    {
        "id": "8fa53ccd.3ff75",
        "type": "ui_gauge",
        "z": "b5c4464f.4a3ea8",
        "name": "Battery Voltage",
        "group": "b137338.ff230d",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Battery Voltage",
        "label": "Volts",
        "format": "{{value}}",
        "min": "10",
        "max": "15",
        "colors": [
            "#b3001b",
            "#60ef39",
            "#f9f06b"
        ],
        "seg1": "12",
        "seg2": "14",
        "x": 400,
        "y": 60,
        "wires": []
    },
    {
        "id": "aaf98ec1.64242",
        "type": "ui_chart",
        "z": "b5c4464f.4a3ea8",
        "name": "Battery Voltage Daily",
        "group": "b137338.ff230d",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Battery Voltage Daily",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "11",
        "ymax": "15",
        "removeOlder": "36",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 420,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "6a01be00.824f84",
        "type": "file",
        "z": "b5c4464f.4a3ea8",
        "d": true,
        "name": "",
        "filename": "/home/robin/BattVolt",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 420,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "177342bd.b0398d",
        "type": "mqtt in",
        "z": "b5c4464f.4a3ea8",
        "name": "",
        "topic": "esp8266/03/RSSI",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "333bb6f5.53ffaa",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 120,
        "y": 380,
        "wires": [
            [
                "2becd7bb.8e6468",
                "e9f73128.a39c8"
            ]
        ]
    },
    {
        "id": "2becd7bb.8e6468",
        "type": "ui_chart",
        "z": "b5c4464f.4a3ea8",
        "name": "ESP8266 RSSI",
        "group": "b137338.ff230d",
        "order": 6,
        "width": 6,
        "height": 6,
        "label": "RSSI",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-35",
        "ymax": "-85",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ea32e",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 420,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "e9f73128.a39c8",
        "type": "ui_gauge",
        "z": "b5c4464f.4a3ea8",
        "name": "RSSI",
        "group": "b137338.ff230d",
        "order": 5,
        "width": 4,
        "height": 6,
        "gtype": "gage",
        "title": "ESP8266 RSSI",
        "label": "dB",
        "format": "{{value}}",
        "min": "-85",
        "max": "-35",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "-75",
        "seg2": "60",
        "x": 390,
        "y": 340,
        "wires": []
    },
    {
        "id": "13d88c41.32b214",
        "type": "mqtt in",
        "z": "b5c4464f.4a3ea8",
        "name": "",
        "topic": "esp8266/03/outTemp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "333bb6f5.53ffaa",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 140,
        "y": 580,
        "wires": [
            [
                "dc9a6020.c1239",
                "b5c7821e.0336b",
                "94deebfd.f3db48"
            ]
        ]
    },
    {
        "id": "dc9a6020.c1239",
        "type": "ui_gauge",
        "z": "b5c4464f.4a3ea8",
        "name": "Outside Temp",
        "group": "ce063734.e3e7a8",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Outside Temp Daily",
        "label": "Celcius",
        "format": "{{value}}",
        "min": "-40",
        "max": "40",
        "colors": [
            "#0006b3",
            "#00e645",
            "#ca3838"
        ],
        "seg1": "0",
        "seg2": "22",
        "x": 400,
        "y": 520,
        "wires": []
    },
    {
        "id": "9807ee29.aa07f",
        "type": "inject",
        "z": "b5c4464f.4a3ea8",
        "d": true,
        "name": "Morning On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 06 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10000000",
        "payloadType": "str",
        "x": 110,
        "y": 880,
        "wires": [
            [
                "160aca6.d66cb36"
            ]
        ]
    },
    {
        "id": "2c32a55f.1a168a",
        "type": "inject",
        "z": "b5c4464f.4a3ea8",
        "d": true,
        "name": "Morning Off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "03 06 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "00000000",
        "payloadType": "str",
        "x": 110,
        "y": 940,
        "wires": [
            [
                "160aca6.d66cb36"
            ]
        ]
    },
    {
        "id": "25eb5e26.79b1a2",
        "type": "inject",
        "z": "b5c4464f.4a3ea8",
        "d": true,
        "name": "Evening On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 18 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10000000",
        "payloadType": "str",
        "x": 110,
        "y": 1120,
        "wires": [
            [
                "160aca6.d66cb36"
            ]
        ]
    },
    {
        "id": "5f796731.778d78",
        "type": "inject",
        "z": "b5c4464f.4a3ea8",
        "d": true,
        "name": "Evening Off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "03 18 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "00000000",
        "payloadType": "str",
        "x": 110,
        "y": 1180,
        "wires": [
            [
                "160aca6.d66cb36"
            ]
        ]
    },
    {
        "id": "92eb50d2.3066b",
        "type": "mqtt out",
        "z": "b5c4464f.4a3ea8",
        "name": "",
        "topic": "esp8266/03/GPIO",
        "qos": "1",
        "retain": "true",
        "broker": "333bb6f5.53ffaa",
        "x": 650,
        "y": 1060,
        "wires": []
    },
    {
        "id": "160aca6.d66cb36",
        "type": "ui_switch",
        "z": "b5c4464f.4a3ea8",
        "name": "",
        "label": "Garden Pump 01",
        "tooltip": "",
        "group": "b137338.ff230d",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "10000000",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "00000000",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 410,
        "y": 1060,
        "wires": [
            [
                "92eb50d2.3066b"
            ]
        ]
    },
    {
        "id": "d2c5f530.8c2788",
        "type": "inject",
        "z": "b5c4464f.4a3ea8",
        "d": true,
        "name": "Noon On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 12 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10000000",
        "payloadType": "str",
        "x": 110,
        "y": 1000,
        "wires": [
            [
                "160aca6.d66cb36"
            ]
        ]
    },
    {
        "id": "d74b21f2.2efad",
        "type": "inject",
        "z": "b5c4464f.4a3ea8",
        "d": true,
        "name": "Noon Off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "03 12 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "00000000",
        "payloadType": "str",
        "x": 110,
        "y": 1060,
        "wires": [
            [
                "160aca6.d66cb36"
            ]
        ]
    },
    {
        "id": "b5c7821e.0336b",
        "type": "ui_chart",
        "z": "b5c4464f.4a3ea8",
        "name": "",
        "group": "ce063734.e3e7a8",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Outside Temp Weekly",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-40",
        "ymax": "40",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 420,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "30960182.23f76e",
        "type": "mqtt in",
        "z": "b5c4464f.4a3ea8",
        "name": "",
        "topic": "esp8266/03/battVolt",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "333bb6f5.53ffaa",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 150,
        "y": 160,
        "wires": [
            [
                "8fa53ccd.3ff75",
                "aaf98ec1.64242",
                "6a01be00.824f84",
                "31a2476a.3fea68"
            ]
        ]
    },
    {
        "id": "31a2476a.3fea68",
        "type": "ui_chart",
        "z": "b5c4464f.4a3ea8",
        "name": "Battery Voltage Weekly",
        "group": "b137338.ff230d",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Battery Voltage Weekly",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "11",
        "ymax": "15",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#0e87dd",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 430,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "94deebfd.f3db48",
        "type": "ui_chart",
        "z": "b5c4464f.4a3ea8",
        "name": "",
        "group": "ce063734.e3e7a8",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Outside Temp Daily",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-40",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 410,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "263280d7.c81da",
        "type": "mqtt in",
        "z": "b5c4464f.4a3ea8",
        "name": "",
        "topic": "esp8266/03/battTemp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "333bb6f5.53ffaa",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 120,
        "y": 720,
        "wires": [
            [
                "3ae3b757.25fc4",
                "583f63e6.3a1824",
                "5d857db3.634d9c"
            ]
        ]
    },
    {
        "id": "3ae3b757.25fc4",
        "type": "ui_gauge",
        "z": "b5c4464f.4a3ea8",
        "name": "Battery Temp",
        "group": "ce063734.e3e7a8",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Battery Temperature",
        "label": "Celcius",
        "format": "{{value}}",
        "min": "-40",
        "max": "40",
        "colors": [
            "#1a5fb4",
            "#8ff0a4",
            "#ca3838"
        ],
        "seg1": "0",
        "seg2": "22",
        "x": 400,
        "y": 720,
        "wires": []
    },
    {
        "id": "583f63e6.3a1824",
        "type": "ui_chart",
        "z": "b5c4464f.4a3ea8",
        "name": "Battery Temp Daily",
        "group": "ce063734.e3e7a8",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Battery Temp Daily",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-40",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#8529db",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 420,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "5d857db3.634d9c",
        "type": "ui_chart",
        "z": "b5c4464f.4a3ea8",
        "name": "",
        "group": "ce063734.e3e7a8",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "Battery Temp Weekly",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-40",
        "ymax": "40",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#7823c7",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 440,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "ccb42ad7.5324f8",
        "type": "mqtt in",
        "z": "2cac6a36.f88766",
        "name": "",
        "topic": "esp8266/14/blueTemp",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "333bb6f5.53ffaa",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 160,
        "y": 40,
        "wires": [
            [
                "d23e909.5d5307",
                "a9bfb57b.03fe4"
            ]
        ]
    },
    {
        "id": "db292bd0.25fb58",
        "type": "mqtt in",
        "z": "2cac6a36.f88766",
        "name": "",
        "topic": "esp8266/14/greenTemp",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "333bb6f5.53ffaa",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 160,
        "y": 180,
        "wires": [
            [
                "40263d0f.8a2fd4",
                "da04bde4.ce60d"
            ]
        ]
    },
    {
        "id": "bc192211.fbbf2",
        "type": "mqtt in",
        "z": "2cac6a36.f88766",
        "name": "",
        "topic": "esp8266/14/orangeTemp",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "333bb6f5.53ffaa",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 170,
        "y": 320,
        "wires": [
            [
                "28394def.b445a2",
                "690c9e9a.292fa8"
            ]
        ]
    },
    {
        "id": "15451f73.8ca609",
        "type": "mqtt in",
        "z": "2cac6a36.f88766",
        "name": "",
        "topic": "esp8266/14/brownTemp",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "333bb6f5.53ffaa",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 160,
        "y": 460,
        "wires": [
            [
                "fbd1c850.56e038",
                "ce0795a8.006ee"
            ]
        ]
    },
    {
        "id": "da55b1aa.f1d8c",
        "type": "mqtt in",
        "z": "2cac6a36.f88766",
        "name": "",
        "topic": "esp8266/14/RSSI",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "333bb6f5.53ffaa",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 140,
        "y": 600,
        "wires": [
            [
                "f8f95ec6.1f57f8",
                "6087a457.8811e4"
            ]
        ]
    },
    {
        "id": "d23e909.5d5307",
        "type": "ui_gauge",
        "z": "2cac6a36.f88766",
        "name": "",
        "group": "2c9c121d.b719fe",
        "order": 1,
        "width": 7,
        "height": 7,
        "gtype": "gage",
        "title": "Greenhouse Outside Temp",
        "label": "Celcius",
        "format": "{{value}}",
        "min": "-10",
        "max": "40",
        "colors": [
            "#1a5fb4",
            "#e6e600",
            "#26a269"
        ],
        "seg1": "0",
        "seg2": "15",
        "x": 500,
        "y": 40,
        "wires": []
    },
    {
        "id": "a9bfb57b.03fe4",
        "type": "ui_chart",
        "z": "2cac6a36.f88766",
        "name": "",
        "group": "2c9c121d.b719fe",
        "order": 2,
        "width": 7,
        "height": 7,
        "label": "Greenhouse Outside Temp",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-10",
        "ymax": "40",
        "removeOlder": "4",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 500,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "40263d0f.8a2fd4",
        "type": "ui_gauge",
        "z": "2cac6a36.f88766",
        "name": "",
        "group": "2c9c121d.b719fe",
        "order": 3,
        "width": 7,
        "height": 7,
        "gtype": "gage",
        "title": "Greenhouse Inside Temp",
        "label": "Celcius",
        "format": "{{value}}",
        "min": "-10",
        "max": "50",
        "colors": [
            "#1a5fb4",
            "#e6e600",
            "#26a269"
        ],
        "seg1": "0",
        "seg2": "15",
        "x": 490,
        "y": 180,
        "wires": []
    },
    {
        "id": "da04bde4.ce60d",
        "type": "ui_chart",
        "z": "2cac6a36.f88766",
        "name": "",
        "group": "2c9c121d.b719fe",
        "order": 4,
        "width": 7,
        "height": 7,
        "label": "Greenhouse Inside Temp",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-10",
        "ymax": "50",
        "removeOlder": "4",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 490,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "28394def.b445a2",
        "type": "ui_gauge",
        "z": "2cac6a36.f88766",
        "name": "",
        "group": "2c9c121d.b719fe",
        "order": 5,
        "width": 7,
        "height": 7,
        "gtype": "gage",
        "title": "Greenhouse Clear Jar",
        "label": "Celcius",
        "format": "{{value}}",
        "min": "-10",
        "max": "40",
        "colors": [
            "#1a5fb4",
            "#e6e600",
            "#26a269"
        ],
        "seg1": "0",
        "seg2": "15",
        "x": 480,
        "y": 320,
        "wires": []
    },
    {
        "id": "690c9e9a.292fa8",
        "type": "ui_chart",
        "z": "2cac6a36.f88766",
        "name": "",
        "group": "2c9c121d.b719fe",
        "order": 6,
        "width": 7,
        "height": 7,
        "label": "Greenhouse Clear Jar",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-10",
        "ymax": "50",
        "removeOlder": "4",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 480,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "fbd1c850.56e038",
        "type": "ui_gauge",
        "z": "2cac6a36.f88766",
        "name": "",
        "group": "2c9c121d.b719fe",
        "order": 7,
        "width": 7,
        "height": 7,
        "gtype": "gage",
        "title": "Greenhouse Black Jar",
        "label": "Celcius",
        "format": "{{value}}",
        "min": "-10",
        "max": "40",
        "colors": [
            "#1a5fb4",
            "#e6e600",
            "#26a269"
        ],
        "seg1": "0",
        "seg2": "15",
        "x": 480,
        "y": 460,
        "wires": []
    },
    {
        "id": "ce0795a8.006ee",
        "type": "ui_chart",
        "z": "2cac6a36.f88766",
        "name": "",
        "group": "2c9c121d.b719fe",
        "order": 8,
        "width": 7,
        "height": 7,
        "label": "Greenhouse Black Jar",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-10",
        "ymax": "50",
        "removeOlder": "4",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 480,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "f8f95ec6.1f57f8",
        "type": "ui_gauge",
        "z": "2cac6a36.f88766",
        "name": "",
        "group": "2c9c121d.b719fe",
        "order": 9,
        "width": 7,
        "height": 7,
        "gtype": "gage",
        "title": "ESP8266-14-RSSI",
        "label": "units",
        "format": "{{value}}",
        "min": "-40",
        "max": "-90",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "-55",
        "seg2": "-70",
        "x": 470,
        "y": 600,
        "wires": []
    },
    {
        "id": "6087a457.8811e4",
        "type": "ui_chart",
        "z": "2cac6a36.f88766",
        "name": "",
        "group": "2c9c121d.b719fe",
        "order": 10,
        "width": 7,
        "height": 7,
        "label": "ESP8266-14-RSSI",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-40",
        "ymax": "-90",
        "removeOlder": "4",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 470,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "a5d3d876.0d6f68",
        "type": "mqtt in",
        "z": "2cac6a36.f88766",
        "name": "",
        "topic": "esp8266/14/battVolt",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "333bb6f5.53ffaa",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 150,
        "y": 740,
        "wires": [
            [
                "bf046e3f.f25c6",
                "285067d.a2ddd18"
            ]
        ]
    },
    {
        "id": "bf046e3f.f25c6",
        "type": "ui_gauge",
        "z": "2cac6a36.f88766",
        "name": "",
        "group": "2c9c121d.b719fe",
        "order": 10,
        "width": "7",
        "height": "7",
        "gtype": "gage",
        "title": "ESP8266-14 Battery Voltage",
        "label": "Volts",
        "format": "{{value}}",
        "min": "10",
        "max": "15",
        "colors": [
            "#a51d2d",
            "#e6e600",
            "#3ec035"
        ],
        "seg1": "11.5",
        "seg2": "12.5",
        "x": 500,
        "y": 740,
        "wires": []
    },
    {
        "id": "285067d.a2ddd18",
        "type": "ui_chart",
        "z": "2cac6a36.f88766",
        "name": "",
        "group": "2c9c121d.b719fe",
        "order": 11,
        "width": "7",
        "height": "7",
        "label": "ESP8266-14 Battery Voltage",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "10",
        "ymax": "15",
        "removeOlder": "4",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 500,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "1ab011b.66319ee",
        "type": "mqtt in",
        "z": "dce0c5aa.0d63c8",
        "name": "",
        "topic": "esp8266/15/blueTemp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "333bb6f5.53ffaa",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 160,
        "y": 40,
        "wires": [
            [
                "7c0b3401.efbe7c",
                "c36573f6.4c687"
            ]
        ]
    },
    {
        "id": "f1cc3a5.9fb69c8",
        "type": "mqtt in",
        "z": "dce0c5aa.0d63c8",
        "name": "",
        "topic": "esp8266/15/greenTemp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "333bb6f5.53ffaa",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 160,
        "y": 180,
        "wires": [
            [
                "b9cde80d.8e1308",
                "d27f6d51.dd183"
            ]
        ]
    },
    {
        "id": "eb66a3cb.b765b",
        "type": "mqtt in",
        "z": "dce0c5aa.0d63c8",
        "name": "",
        "topic": "esp8266/15/orangeTemp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "333bb6f5.53ffaa",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 170,
        "y": 320,
        "wires": [
            [
                "15598afe.c11b05",
                "f6618a62.97bb28"
            ]
        ]
    },
    {
        "id": "38d753ba.21ac4c",
        "type": "mqtt in",
        "z": "dce0c5aa.0d63c8",
        "name": "",
        "topic": "esp8266/15/brownTemp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "333bb6f5.53ffaa",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 160,
        "y": 460,
        "wires": [
            [
                "f737bd9.86a244",
                "93d5aad5.fa7a18"
            ]
        ]
    },
    {
        "id": "4469bd30.6bdf54",
        "type": "mqtt in",
        "z": "dce0c5aa.0d63c8",
        "name": "",
        "topic": "esp8266/15/RSSI",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "333bb6f5.53ffaa",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 140,
        "y": 600,
        "wires": [
            [
                "594fd98c.793e08",
                "7a1dcd61.9598f4"
            ]
        ]
    },
    {
        "id": "7c0b3401.efbe7c",
        "type": "ui_gauge",
        "z": "dce0c5aa.0d63c8",
        "name": "",
        "group": "d98b3fdb.f0274",
        "order": 1,
        "width": 7,
        "height": 7,
        "gtype": "gage",
        "title": "Greenhouse Outside Temp",
        "label": "Celcius",
        "format": "{{value}}",
        "min": "-10",
        "max": "40",
        "colors": [
            "#1a5fb4",
            "#e6e600",
            "#26a269"
        ],
        "seg1": "0",
        "seg2": "15",
        "x": 500,
        "y": 40,
        "wires": []
    },
    {
        "id": "c36573f6.4c687",
        "type": "ui_chart",
        "z": "dce0c5aa.0d63c8",
        "name": "",
        "group": "d98b3fdb.f0274",
        "order": 2,
        "width": 7,
        "height": 7,
        "label": "Greenhouse Outside Temp",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-10",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 500,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "b9cde80d.8e1308",
        "type": "ui_gauge",
        "z": "dce0c5aa.0d63c8",
        "name": "",
        "group": "d98b3fdb.f0274",
        "order": 3,
        "width": 7,
        "height": 7,
        "gtype": "gage",
        "title": "Greenhouse Inside Temp",
        "label": "Celcius",
        "format": "{{value}}",
        "min": "-10",
        "max": "50",
        "colors": [
            "#1a5fb4",
            "#e6e600",
            "#26a269"
        ],
        "seg1": "0",
        "seg2": "15",
        "x": 490,
        "y": 180,
        "wires": []
    },
    {
        "id": "d27f6d51.dd183",
        "type": "ui_chart",
        "z": "dce0c5aa.0d63c8",
        "name": "",
        "group": "d98b3fdb.f0274",
        "order": 4,
        "width": 7,
        "height": 7,
        "label": "Greenhouse Inside Temp",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-10",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 490,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "15598afe.c11b05",
        "type": "ui_gauge",
        "z": "dce0c5aa.0d63c8",
        "name": "",
        "group": "d98b3fdb.f0274",
        "order": 5,
        "width": 7,
        "height": 7,
        "gtype": "gage",
        "title": "Greenhouse Clear Jar",
        "label": "Celcius",
        "format": "{{value}}",
        "min": "-10",
        "max": "40",
        "colors": [
            "#1a5fb4",
            "#e6e600",
            "#26a269"
        ],
        "seg1": "0",
        "seg2": "15",
        "x": 480,
        "y": 320,
        "wires": []
    },
    {
        "id": "f6618a62.97bb28",
        "type": "ui_chart",
        "z": "dce0c5aa.0d63c8",
        "name": "",
        "group": "d98b3fdb.f0274",
        "order": 6,
        "width": 7,
        "height": 7,
        "label": "Greenhouse Clear Jar",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-10",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 480,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "f737bd9.86a244",
        "type": "ui_gauge",
        "z": "dce0c5aa.0d63c8",
        "name": "",
        "group": "d98b3fdb.f0274",
        "order": 7,
        "width": 7,
        "height": 7,
        "gtype": "gage",
        "title": "Greenhouse Black Jar",
        "label": "Celcius",
        "format": "{{value}}",
        "min": "-10",
        "max": "40",
        "colors": [
            "#1a5fb4",
            "#e6e600",
            "#26a269"
        ],
        "seg1": "0",
        "seg2": "15",
        "x": 480,
        "y": 460,
        "wires": []
    },
    {
        "id": "93d5aad5.fa7a18",
        "type": "ui_chart",
        "z": "dce0c5aa.0d63c8",
        "name": "",
        "group": "d98b3fdb.f0274",
        "order": 8,
        "width": 7,
        "height": 7,
        "label": "Greenhouse Black Jar",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-10",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 480,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "594fd98c.793e08",
        "type": "ui_gauge",
        "z": "dce0c5aa.0d63c8",
        "name": "",
        "group": "d98b3fdb.f0274",
        "order": 9,
        "width": 7,
        "height": 7,
        "gtype": "gage",
        "title": "ESP8266-15-RSSI",
        "label": "units",
        "format": "{{value}}",
        "min": "-40",
        "max": "-90",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "-55",
        "seg2": "-70",
        "x": 470,
        "y": 600,
        "wires": []
    },
    {
        "id": "7a1dcd61.9598f4",
        "type": "ui_chart",
        "z": "dce0c5aa.0d63c8",
        "name": "",
        "group": "d98b3fdb.f0274",
        "order": 10,
        "width": 7,
        "height": 7,
        "label": "ESP8266-15-RSSI",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-40",
        "ymax": "-90",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 470,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "1235999e.076656",
        "type": "mqtt in",
        "z": "dce0c5aa.0d63c8",
        "name": "",
        "topic": "esp8266/15/battVolt",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "333bb6f5.53ffaa",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 150,
        "y": 740,
        "wires": [
            [
                "9a96840b.b171c8",
                "fae0b8e4.8ce148"
            ]
        ]
    },
    {
        "id": "9a96840b.b171c8",
        "type": "ui_gauge",
        "z": "dce0c5aa.0d63c8",
        "name": "",
        "group": "d98b3fdb.f0274",
        "order": 11,
        "width": 7,
        "height": 7,
        "gtype": "gage",
        "title": "ESP8266-15 Battery Voltage",
        "label": "Volts",
        "format": "{{value}}",
        "min": "10",
        "max": "15",
        "colors": [
            "#a51d2d",
            "#e6e600",
            "#3ec035"
        ],
        "seg1": "11.5",
        "seg2": "12.5",
        "x": 500,
        "y": 740,
        "wires": []
    },
    {
        "id": "fae0b8e4.8ce148",
        "type": "ui_chart",
        "z": "dce0c5aa.0d63c8",
        "name": "",
        "group": "d98b3fdb.f0274",
        "order": 12,
        "width": 7,
        "height": 7,
        "label": "ESP8266-15 Battery Voltage",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "10",
        "ymax": "15",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 500,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "8a5df4c1.d306f8",
        "type": "mqtt in",
        "z": "e802f506.b7b218",
        "name": "Raingauge",
        "topic": "Weather/Raingauge",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "333bb6f5.53ffaa",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 150,
        "y": 100,
        "wires": [
            [
                "fc0be77a.0c5ba8"
            ]
        ]
    },
    {
        "id": "fc0be77a.0c5ba8",
        "type": "ui_chart",
        "z": "e802f506.b7b218",
        "name": "Rain Gauge",
        "group": "716c9ae.4946064",
        "order": 5,
        "width": 16,
        "height": "12",
        "label": "Rain Gauge",
        "chartType": "line",
        "legend": "true",
        "xformat": "D/M",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "80",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 400,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "84e5d6bf.b3baa",
        "type": "mqtt in",
        "z": "e802f506.b7b218",
        "name": "Quad1",
        "topic": "Weather/Quad1",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "333bb6f5.53ffaa",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 150,
        "y": 200,
        "wires": [
            [
                "cfb5bc88.d151d"
            ]
        ]
    },
    {
        "id": "f9fc538b.b9d2a",
        "type": "mqtt in",
        "z": "e802f506.b7b218",
        "name": "Quad2",
        "topic": "Weather/Quad2",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "333bb6f5.53ffaa",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 150,
        "y": 280,
        "wires": [
            [
                "328b640a.f93694"
            ]
        ]
    },
    {
        "id": "56a053c6.98a2d4",
        "type": "mqtt in",
        "z": "e802f506.b7b218",
        "name": "Quad3",
        "topic": "Weather/Quad3",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "333bb6f5.53ffaa",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 150,
        "y": 360,
        "wires": [
            [
                "d4a5a449.f087f"
            ]
        ]
    },
    {
        "id": "bacabd06.068e68",
        "type": "mqtt in",
        "z": "e802f506.b7b218",
        "name": "Quad4",
        "topic": "Weather/Quad4",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "333bb6f5.53ffaa",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 150,
        "y": 440,
        "wires": [
            [
                "eb9ceced.73b4b"
            ]
        ]
    },
    {
        "id": "cfb5bc88.d151d",
        "type": "ui_gauge",
        "z": "e802f506.b7b218",
        "name": "Midnight > 6am",
        "group": "716c9ae.4946064",
        "order": 1,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "00:00 > 06:00",
        "label": "mm",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 400,
        "y": 200,
        "wires": []
    },
    {
        "id": "328b640a.f93694",
        "type": "ui_gauge",
        "z": "e802f506.b7b218",
        "name": "6am > 12pm",
        "group": "716c9ae.4946064",
        "order": 2,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "06:00 > 12:00",
        "label": "mm",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 390,
        "y": 280,
        "wires": []
    },
    {
        "id": "d4a5a449.f087f",
        "type": "ui_gauge",
        "z": "e802f506.b7b218",
        "name": "Noon > 6pm",
        "group": "716c9ae.4946064",
        "order": 3,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "12:00 > 18:00",
        "label": "mm",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 390,
        "y": 360,
        "wires": []
    },
    {
        "id": "eb9ceced.73b4b",
        "type": "ui_gauge",
        "z": "e802f506.b7b218",
        "name": "6pm > Midnight",
        "group": "716c9ae.4946064",
        "order": 4,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "18:00 > 24:00",
        "label": "mm",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 400,
        "y": 440,
        "wires": []
    },
    {
        "id": "1b8feda9.3bacea",
        "type": "mqtt in",
        "z": "d2e8ffc8.434878",
        "name": "",
        "topic": "esp8266/11/brownTemp",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "333bb6f5.53ffaa",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 160,
        "y": 40,
        "wires": [
            [
                "7595000.e6c89",
                "c8bf0e90.05a84"
            ]
        ]
    },
    {
        "id": "9bb9d06a.8ce06",
        "type": "mqtt in",
        "z": "d2e8ffc8.434878",
        "name": "",
        "topic": "esp8266/11/greenTemp",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "333bb6f5.53ffaa",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 160,
        "y": 180,
        "wires": [
            [
                "c06c371e.403b2",
                "2d854492.5c3594"
            ]
        ]
    },
    {
        "id": "e0b4538f.6baaf8",
        "type": "mqtt in",
        "z": "d2e8ffc8.434878",
        "name": "",
        "topic": "esp8266/11/orangeTemp",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "333bb6f5.53ffaa",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 170,
        "y": 320,
        "wires": [
            [
                "82ecfc1d.ad5e58",
                "ca359aa.e41d168"
            ]
        ]
    },
    {
        "id": "7afaa893.4c8e5",
        "type": "mqtt in",
        "z": "d2e8ffc8.434878",
        "name": "",
        "topic": "esp8266/11/blueTemp",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "333bb6f5.53ffaa",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 160,
        "y": 460,
        "wires": [
            [
                "787bb703.31dbf",
                "473c7f75.36121"
            ]
        ]
    },
    {
        "id": "d0a9391f.b596c8",
        "type": "mqtt in",
        "z": "d2e8ffc8.434878",
        "name": "",
        "topic": "esp8266/11/RSSI",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "333bb6f5.53ffaa",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 140,
        "y": 600,
        "wires": [
            [
                "4fe1cf0c.3e5c7",
                "4c470450.f8c264"
            ]
        ]
    },
    {
        "id": "7595000.e6c89",
        "type": "ui_gauge",
        "z": "d2e8ffc8.434878",
        "name": "",
        "group": "7d0ffe0e.6dd698",
        "order": 1,
        "width": 7,
        "height": 7,
        "gtype": "gage",
        "title": "Greenhouse Outside Temp",
        "label": "Celcius",
        "format": "{{value}}",
        "min": "-10",
        "max": "40",
        "colors": [
            "#1a5fb4",
            "#e6e600",
            "#26a269"
        ],
        "seg1": "0",
        "seg2": "15",
        "x": 500,
        "y": 40,
        "wires": []
    },
    {
        "id": "c8bf0e90.05a84",
        "type": "ui_chart",
        "z": "d2e8ffc8.434878",
        "name": "",
        "group": "7d0ffe0e.6dd698",
        "order": 2,
        "width": 7,
        "height": 7,
        "label": "Greenhouse Outside Temp",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-10",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 500,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "c06c371e.403b2",
        "type": "ui_gauge",
        "z": "d2e8ffc8.434878",
        "name": "",
        "group": "7d0ffe0e.6dd698",
        "order": 3,
        "width": 7,
        "height": 7,
        "gtype": "gage",
        "title": "Greenhouse Lamp Temp",
        "label": "Celcius",
        "format": "{{value}}",
        "min": "-10",
        "max": "70",
        "colors": [
            "#1a5fb4",
            "#e6e600",
            "#26a269"
        ],
        "seg1": "0",
        "seg2": "15",
        "x": 490,
        "y": 180,
        "wires": []
    },
    {
        "id": "2d854492.5c3594",
        "type": "ui_chart",
        "z": "d2e8ffc8.434878",
        "name": "",
        "group": "7d0ffe0e.6dd698",
        "order": 4,
        "width": 7,
        "height": 7,
        "label": "Greenhouse Lamp Temp",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-10",
        "ymax": "70",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 490,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "82ecfc1d.ad5e58",
        "type": "ui_gauge",
        "z": "d2e8ffc8.434878",
        "name": "",
        "group": "7d0ffe0e.6dd698",
        "order": 7,
        "width": 7,
        "height": 7,
        "gtype": "gage",
        "title": "Greenhouse Clear Jar",
        "label": "Celcius",
        "format": "{{value}}",
        "min": "-10",
        "max": "40",
        "colors": [
            "#1a5fb4",
            "#e6e600",
            "#26a269"
        ],
        "seg1": "0",
        "seg2": "15",
        "x": 480,
        "y": 320,
        "wires": []
    },
    {
        "id": "ca359aa.e41d168",
        "type": "ui_chart",
        "z": "d2e8ffc8.434878",
        "name": "",
        "group": "7d0ffe0e.6dd698",
        "order": 8,
        "width": 7,
        "height": 7,
        "label": "Greenhouse Clear Jar",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-10",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 480,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "787bb703.31dbf",
        "type": "ui_gauge",
        "z": "d2e8ffc8.434878",
        "name": "",
        "group": "7d0ffe0e.6dd698",
        "order": 5,
        "width": 7,
        "height": 7,
        "gtype": "gage",
        "title": "Greenhouse Seed Container",
        "label": "Celcius",
        "format": "{{value}}",
        "min": "-10",
        "max": "50",
        "colors": [
            "#1a5fb4",
            "#e6e600",
            "#26a269"
        ],
        "seg1": "0",
        "seg2": "15",
        "x": 500,
        "y": 460,
        "wires": []
    },
    {
        "id": "473c7f75.36121",
        "type": "ui_chart",
        "z": "d2e8ffc8.434878",
        "name": "",
        "group": "7d0ffe0e.6dd698",
        "order": 6,
        "width": 7,
        "height": 7,
        "label": "Greenhouse Seed Container",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-10",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 500,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "4fe1cf0c.3e5c7",
        "type": "ui_gauge",
        "z": "d2e8ffc8.434878",
        "name": "",
        "group": "7d0ffe0e.6dd698",
        "order": 9,
        "width": 7,
        "height": 7,
        "gtype": "gage",
        "title": "ESP8266-15-RSSI",
        "label": "units",
        "format": "{{value}}",
        "min": "-40",
        "max": "-90",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "-55",
        "seg2": "-70",
        "x": 470,
        "y": 600,
        "wires": []
    },
    {
        "id": "4c470450.f8c264",
        "type": "ui_chart",
        "z": "d2e8ffc8.434878",
        "name": "",
        "group": "7d0ffe0e.6dd698",
        "order": 10,
        "width": 7,
        "height": 7,
        "label": "ESP8266-15-RSSI",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-40",
        "ymax": "-90",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 470,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "78ba08d6.421f48",
        "type": "mqtt in",
        "z": "c8fd5ca6.a08288",
        "name": "",
        "topic": "Garage/AtticTemp",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "333bb6f5.53ffaa",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 150,
        "y": 60,
        "wires": [
            [
                "ee3879c0.07624",
                "78d4f2f0.19c424",
                "9be86484.89e348"
            ]
        ]
    },
    {
        "id": "e878f934.9820b",
        "type": "mqtt in",
        "z": "c8fd5ca6.a08288",
        "name": "",
        "topic": "Garage/CeilingTemp",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "333bb6f5.53ffaa",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 150,
        "y": 160,
        "wires": [
            [
                "c4834097.a365e",
                "78d4f2f0.19c424",
                "9be86484.89e348"
            ]
        ]
    },
    {
        "id": "886cf6cf.ced27",
        "type": "mqtt in",
        "z": "c8fd5ca6.a08288",
        "name": "",
        "topic": "Garage/DeskTemp",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "333bb6f5.53ffaa",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 150,
        "y": 260,
        "wires": [
            [
                "fe0e0fc9.8656d",
                "78d4f2f0.19c424",
                "9be86484.89e348"
            ]
        ]
    },
    {
        "id": "38c09754.87566",
        "type": "mqtt in",
        "z": "c8fd5ca6.a08288",
        "name": "",
        "topic": "Garage/OutsideTemp",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "333bb6f5.53ffaa",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 140,
        "y": 360,
        "wires": [
            [
                "df218e31.261238",
                "78d4f2f0.19c424",
                "9be86484.89e348"
            ]
        ]
    },
    {
        "id": "ee3879c0.07624",
        "type": "ui_gauge",
        "z": "c8fd5ca6.a08288",
        "name": "Attic Temp",
        "group": "dc077d1c.5e85f",
        "order": 1,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Attic Temp",
        "label": "units",
        "format": "{{value}}",
        "min": "-30",
        "max": "50",
        "colors": [
            "#0432ff",
            "#00f900",
            "#ca3838"
        ],
        "seg1": "0",
        "seg2": "30",
        "x": 390,
        "y": 60,
        "wires": []
    },
    {
        "id": "c4834097.a365e",
        "type": "ui_gauge",
        "z": "c8fd5ca6.a08288",
        "name": "Ceiling Temp",
        "group": "dc077d1c.5e85f",
        "order": 2,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Ceiling Temp",
        "label": "Celcius",
        "format": "{{value}}",
        "min": 0,
        "max": "35",
        "colors": [
            "#0432ff",
            "#00f900",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "25",
        "x": 390,
        "y": 160,
        "wires": []
    },
    {
        "id": "fe0e0fc9.8656d",
        "type": "ui_gauge",
        "z": "c8fd5ca6.a08288",
        "name": "Desk Temp",
        "group": "dc077d1c.5e85f",
        "order": 3,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Desk Temp",
        "label": "Celcius",
        "format": "{{value}}",
        "min": 0,
        "max": "35",
        "colors": [
            "#0432ff",
            "#00f900",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "25",
        "x": 390,
        "y": 260,
        "wires": []
    },
    {
        "id": "df218e31.261238",
        "type": "ui_gauge",
        "z": "c8fd5ca6.a08288",
        "name": "Outside Temp",
        "group": "dc077d1c.5e85f",
        "order": 4,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Outside Temp",
        "label": "Celcius",
        "format": "{{value}}",
        "min": "-35",
        "max": "35",
        "colors": [
            "#0432ff",
            "#00f900",
            "#ca3838"
        ],
        "seg1": "0",
        "seg2": "25",
        "x": 400,
        "y": 360,
        "wires": []
    },
    {
        "id": "78d4f2f0.19c424",
        "type": "ui_chart",
        "z": "c8fd5ca6.a08288",
        "name": "All Temps",
        "group": "dc077d1c.5e85f",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "Last Week",
        "chartType": "line",
        "legend": "true",
        "xformat": "D/M",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-35",
        "ymax": "60",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 720,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "9be86484.89e348",
        "type": "ui_chart",
        "z": "c8fd5ca6.a08288",
        "name": "Last 24 Hours",
        "group": "dc077d1c.5e85f",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Last 24 hours",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-35",
        "ymax": "60",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 720,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "5a088bb7.845a24",
        "type": "mqtt in",
        "z": "e461446c.a15ed8",
        "d": true,
        "name": "",
        "topic": "pico/00/bme280Temp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "09e304fd7441b2f7",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 160,
        "y": 120,
        "wires": [
            [
                "5344dcf3.878304",
                "e29ea18.1eb776",
                "698f3a14.a92094"
            ]
        ]
    },
    {
        "id": "5344dcf3.878304",
        "type": "ui_gauge",
        "z": "e461446c.a15ed8",
        "name": "Pico Basement Temp",
        "group": "81d7c8edabb179d4",
        "order": 1,
        "width": 7,
        "height": 7,
        "gtype": "gage",
        "title": "bme280 Temperature",
        "label": "Celius",
        "format": "{{value}}",
        "min": "-20",
        "max": "30",
        "colors": [
            "#2700b3",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "15",
        "seg2": "25",
        "diff": false,
        "className": "",
        "x": 540,
        "y": 120,
        "wires": []
    },
    {
        "id": "e29ea18.1eb776",
        "type": "ui_chart",
        "z": "e461446c.a15ed8",
        "name": "Pico Basement Temp",
        "group": "81d7c8edabb179d4",
        "order": 2,
        "width": 7,
        "height": 7,
        "label": "bme280 Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-20",
        "ymax": "30",
        "removeOlder": "7",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 540,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "698f3a14.a92094",
        "type": "file",
        "z": "e461446c.a15ed8",
        "name": "",
        "filename": "/home/robin/pico-00-time.txt",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 500,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "a27e2a2a.aa07a8",
        "type": "inject",
        "z": "e461446c.a15ed8",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 60,
        "wires": [
            [
                "698f3a14.a92094"
            ]
        ]
    },
    {
        "id": "c31cdffe.9911b",
        "type": "mqtt in",
        "z": "e461446c.a15ed8",
        "d": true,
        "name": "",
        "topic": "esp8266/14/whiteTemp",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "333bb6f5.53ffaa",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 140,
        "y": 800,
        "wires": [
            [
                "be6270d6.9803",
                "eb7ac122.3712c"
            ]
        ]
    },
    {
        "id": "9a2c47e4.fa798",
        "type": "mqtt in",
        "z": "e461446c.a15ed8",
        "d": true,
        "name": "",
        "topic": "esp8266/14/blueTemp",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "333bb6f5.53ffaa",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 140,
        "y": 900,
        "wires": [
            [
                "c33ad17a.75b188",
                "a1d4624a.4b34b"
            ]
        ]
    },
    {
        "id": "b44e74bc.aa13a8",
        "type": "mqtt in",
        "z": "e461446c.a15ed8",
        "d": true,
        "name": "",
        "topic": "esp8266/14/orangeTemp",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "333bb6f5.53ffaa",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 130,
        "y": 1000,
        "wires": [
            [
                "6b63bb00.4027a4",
                "90540cce.d2a5c8"
            ]
        ]
    },
    {
        "id": "bbdf876.f721d78",
        "type": "mqtt in",
        "z": "e461446c.a15ed8",
        "d": true,
        "name": "",
        "topic": "esp8266/14/greenTemp",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "333bb6f5.53ffaa",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 140,
        "y": 1100,
        "wires": [
            [
                "aab76b00.88dcf8",
                "9ead3526.3a7358"
            ]
        ]
    },
    {
        "id": "be6270d6.9803",
        "type": "ui_gauge",
        "z": "e461446c.a15ed8",
        "name": "",
        "group": "899eb5c4.d4f138",
        "order": 1,
        "width": 7,
        "height": 7,
        "gtype": "gage",
        "title": "ESP8266-14-WhiteTemp",
        "label": "Celcius",
        "format": "{{value}}",
        "min": "-10",
        "max": "40",
        "colors": [
            "#1a5fb4",
            "#e6e600",
            "#26a269"
        ],
        "seg1": "0",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 530,
        "y": 800,
        "wires": []
    },
    {
        "id": "eb7ac122.3712c",
        "type": "ui_chart",
        "z": "e461446c.a15ed8",
        "name": "",
        "group": "899eb5c4.d4f138",
        "order": 2,
        "width": 7,
        "height": 7,
        "label": "ESP8266-14-WhiteTemp",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-19",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 530,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "c33ad17a.75b188",
        "type": "ui_gauge",
        "z": "e461446c.a15ed8",
        "name": "",
        "group": "899eb5c4.d4f138",
        "order": 3,
        "width": 7,
        "height": 7,
        "gtype": "gage",
        "title": "ESP8266-14-BlueTemp",
        "label": "Celcius",
        "format": "{{value}}",
        "min": "-10",
        "max": "40",
        "colors": [
            "#1a5fb4",
            "#e6e600",
            "#26a269"
        ],
        "seg1": "0",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 530,
        "y": 900,
        "wires": []
    },
    {
        "id": "a1d4624a.4b34b",
        "type": "ui_chart",
        "z": "e461446c.a15ed8",
        "name": "",
        "group": "899eb5c4.d4f138",
        "order": 4,
        "width": 7,
        "height": 7,
        "label": "ESP8266-14-BlueTemp",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-10",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 530,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "6b63bb00.4027a4",
        "type": "ui_gauge",
        "z": "e461446c.a15ed8",
        "name": "",
        "group": "899eb5c4.d4f138",
        "order": 5,
        "width": 7,
        "height": 7,
        "gtype": "gage",
        "title": "ESP8266-14-OrangeTemp",
        "label": "Celcius",
        "format": "{{value}}",
        "min": "-10",
        "max": "40",
        "colors": [
            "#1a5fb4",
            "#e6e600",
            "#26a269"
        ],
        "seg1": "0",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 540,
        "y": 1000,
        "wires": []
    },
    {
        "id": "90540cce.d2a5c8",
        "type": "ui_chart",
        "z": "e461446c.a15ed8",
        "name": "",
        "group": "899eb5c4.d4f138",
        "order": 6,
        "width": 7,
        "height": 7,
        "label": "ESP8266-14-OrangeTemp",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-10",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 540,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "aab76b00.88dcf8",
        "type": "ui_gauge",
        "z": "e461446c.a15ed8",
        "name": "",
        "group": "899eb5c4.d4f138",
        "order": 7,
        "width": 7,
        "height": 7,
        "gtype": "gage",
        "title": "ESP8266-14-GreenTemp",
        "label": "Celcius",
        "format": "{{value}}",
        "min": "-10",
        "max": "40",
        "colors": [
            "#1a5fb4",
            "#e6e600",
            "#26a269"
        ],
        "seg1": "0",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 530,
        "y": 1100,
        "wires": []
    },
    {
        "id": "9ead3526.3a7358",
        "type": "ui_chart",
        "z": "e461446c.a15ed8",
        "name": "",
        "group": "899eb5c4.d4f138",
        "order": 8,
        "width": 7,
        "height": 7,
        "label": "ESP8266-14-GreenTemp",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-10",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 530,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "3adc7276441ef090",
        "type": "mqtt in",
        "z": "e461446c.a15ed8",
        "d": true,
        "name": "",
        "topic": "pico/00/bme280Pres",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "09e304fd7441b2f7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 260,
        "wires": [
            [
                "a1420efa2ce4a511",
                "8a23e8d7b68e5a82"
            ]
        ]
    },
    {
        "id": "a1420efa2ce4a511",
        "type": "ui_gauge",
        "z": "e461446c.a15ed8",
        "name": "",
        "group": "81d7c8edabb179d4",
        "order": 3,
        "width": 7,
        "height": 7,
        "gtype": "gage",
        "title": "bme280 Pressure",
        "label": "hPa",
        "format": "{{value}}",
        "min": "850",
        "max": "1100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 530,
        "y": 260,
        "wires": []
    },
    {
        "id": "8a23e8d7b68e5a82",
        "type": "ui_chart",
        "z": "e461446c.a15ed8",
        "name": "",
        "group": "81d7c8edabb179d4",
        "order": 4,
        "width": 7,
        "height": 7,
        "label": "bme280 Pressure",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "850",
        "ymax": "1100",
        "removeOlder": "7",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 530,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "1f376086672807d4",
        "type": "mqtt in",
        "z": "e461446c.a15ed8",
        "d": true,
        "name": "",
        "topic": "pico/00/bme280Alt",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "09e304fd7441b2f7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 540,
        "wires": [
            [
                "fd413aaadfbfae42"
            ]
        ]
    },
    {
        "id": "fd413aaadfbfae42",
        "type": "ui_gauge",
        "z": "e461446c.a15ed8",
        "name": "",
        "group": "81d7c8edabb179d4",
        "order": 8,
        "width": 7,
        "height": 7,
        "gtype": "gage",
        "title": "bme280 Altitude",
        "label": "metres",
        "format": "{{value}}",
        "min": "800",
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 520,
        "y": 540,
        "wires": []
    },
    {
        "id": "a44fbe54453d59a7",
        "type": "mqtt in",
        "z": "e461446c.a15ed8",
        "d": true,
        "name": "",
        "topic": "pico/00/bme280Hum",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "09e304fd7441b2f7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 400,
        "wires": [
            [
                "23442c05910313ea",
                "6cb76f6d114d76db"
            ]
        ]
    },
    {
        "id": "23442c05910313ea",
        "type": "ui_gauge",
        "z": "e461446c.a15ed8",
        "name": "",
        "group": "81d7c8edabb179d4",
        "order": 5,
        "width": 7,
        "height": 7,
        "gtype": "gage",
        "title": "bme280 Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": "15",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 530,
        "y": 400,
        "wires": []
    },
    {
        "id": "6cb76f6d114d76db",
        "type": "ui_chart",
        "z": "e461446c.a15ed8",
        "name": "",
        "group": "81d7c8edabb179d4",
        "order": 6,
        "width": 7,
        "height": 7,
        "label": "bme280 Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "15",
        "ymax": "100",
        "removeOlder": "7",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 530,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "89f329b2d3c85eb9",
        "type": "mqtt in",
        "z": "e461446c.a15ed8",
        "d": true,
        "name": "",
        "topic": "pico/00/RSSI",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "09e304fd7441b2f7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 660,
        "wires": [
            [
                "fd3af92caaf75caa"
            ]
        ]
    },
    {
        "id": "fd3af92caaf75caa",
        "type": "ui_gauge",
        "z": "e461446c.a15ed8",
        "name": "Pico 00 RSSI",
        "group": "81d7c8edabb179d4",
        "order": 21,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "RSSI",
        "format": "{{value}}",
        "min": "-90",
        "max": "-60",
        "colors": [
            "#c64600",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "-80",
        "seg2": "-70",
        "diff": false,
        "className": "",
        "x": 530,
        "y": 660,
        "wires": []
    },
    {
        "id": "af23f4.b56d641",
        "type": "ui_gauge",
        "z": "3f343a43.bcb246",
        "name": "",
        "group": "4dad3600.d61218",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Ram Battery Voltage",
        "label": "volts",
        "format": "{{value}}",
        "min": "10",
        "max": "15",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "11",
        "seg2": "12",
        "x": 440,
        "y": 100,
        "wires": []
    },
    {
        "id": "859e36a0.84f1f8",
        "type": "ui_chart",
        "z": "3f343a43.bcb246",
        "name": "",
        "group": "4dad3600.d61218",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Ram Battery Voltage Weekly",
        "chartType": "line",
        "legend": "false",
        "xformat": "D/M",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "10",
        "ymax": "15",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 460,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "b4138433.6a13c",
        "type": "mqtt in",
        "z": "3f343a43.bcb246",
        "name": "",
        "topic": "esp8266/04/battVolt",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "333bb6f5.53ffaa",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 160,
        "y": 120,
        "wires": [
            [
                "af23f4.b56d641",
                "859e36a0.84f1f8",
                "60bac1e7.4c85e8",
                "f25eee62.ac2e2"
            ]
        ]
    },
    {
        "id": "60bac1e7.4c85e8",
        "type": "ui_toast",
        "z": "3f343a43.bcb246",
        "d": true,
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "",
        "x": 420,
        "y": 280,
        "wires": []
    },
    {
        "id": "f25eee62.ac2e2",
        "type": "ui_chart",
        "z": "3f343a43.bcb246",
        "name": "Ram Battery Voltage Daily",
        "group": "4dad3600.d61218",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Ram Battery Voltage Daily",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "10",
        "ymax": "15",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 450,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "6a3d639e.ac2aec",
        "type": "mqtt in",
        "z": "3f343a43.bcb246",
        "d": true,
        "name": "",
        "topic": "esp8266/01/battVolt",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "333bb6f5.53ffaa",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 170,
        "y": 440,
        "wires": [
            [
                "5c508ce5.d28b14",
                "8f6ca4f2.90ac38",
                "b6a88fb6.f29c18"
            ]
        ]
    },
    {
        "id": "5c508ce5.d28b14",
        "type": "ui_gauge",
        "z": "3f343a43.bcb246",
        "d": true,
        "name": "",
        "group": "4dad3600.d61218",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Silver Truck Voltage",
        "label": "units",
        "format": "{{value}}",
        "min": "10",
        "max": "15",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "11",
        "seg2": "12",
        "diff": false,
        "className": "",
        "x": 440,
        "y": 420,
        "wires": []
    },
    {
        "id": "8f6ca4f2.90ac38",
        "type": "ui_chart",
        "z": "3f343a43.bcb246",
        "d": true,
        "name": "",
        "group": "4dad3600.d61218",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "Silver Truck Voltage Weekly",
        "chartType": "line",
        "legend": "false",
        "xformat": "D/M",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "10",
        "ymax": "15",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 460,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "b6a88fb6.f29c18",
        "type": "ui_chart",
        "z": "3f343a43.bcb246",
        "d": true,
        "name": "",
        "group": "4dad3600.d61218",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Silver Truck Voltage Daily",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "10",
        "ymax": "15",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 450,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "e9945c37.15be5",
        "type": "mqtt in",
        "z": "3f343a43.bcb246",
        "name": "",
        "topic": "esp8266/00/battVolt",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "333bb6f5.53ffaa",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 170,
        "y": 680,
        "wires": [
            [
                "ae84a53f.040258",
                "8a46e4a7.633f98",
                "80121c94.b8a29"
            ]
        ]
    },
    {
        "id": "ae84a53f.040258",
        "type": "ui_gauge",
        "z": "3f343a43.bcb246",
        "name": "",
        "group": "4dad3600.d61218",
        "order": 7,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Trailer Battery Voltage",
        "label": "Volts",
        "format": "{{value}}",
        "min": "10",
        "max": "15",
        "colors": [
            "#b30024",
            "#e6e600",
            "#00f000"
        ],
        "seg1": "11",
        "seg2": "12",
        "x": 440,
        "y": 680,
        "wires": []
    },
    {
        "id": "8a46e4a7.633f98",
        "type": "ui_chart",
        "z": "3f343a43.bcb246",
        "name": "",
        "group": "4dad3600.d61218",
        "order": 9,
        "width": 0,
        "height": 0,
        "label": "Trailer Voltage Weekly",
        "chartType": "line",
        "legend": "false",
        "xformat": "D/M",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "10",
        "ymax": "15",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 440,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "80121c94.b8a29",
        "type": "ui_chart",
        "z": "3f343a43.bcb246",
        "name": "",
        "group": "4dad3600.d61218",
        "order": 8,
        "width": 0,
        "height": 0,
        "label": "Trailer Voltage Daily",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "10",
        "ymax": "`15",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 440,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "e3433439a0b01cd4",
        "type": "ui_gauge",
        "z": "3bd6686c23d8dec0",
        "name": "Wind Speed m/s",
        "group": "a47c5bafa17c6b2b",
        "order": 1,
        "width": "7",
        "height": "7",
        "gtype": "gage",
        "title": "Wind Speed m/s",
        "label": "m/s",
        "format": "{{value}}",
        "min": "0",
        "max": "30",
        "colors": [
            "#0401d0",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "25",
        "diff": false,
        "className": "",
        "x": 690,
        "y": 60,
        "wires": []
    },
    {
        "id": "77454904f1105f0f",
        "type": "mqtt in",
        "z": "3bd6686c23d8dec0",
        "name": "",
        "topic": "pico2w/03/windSpd1",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "412ae33ef3641257",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 120,
        "y": 60,
        "wires": [
            [
                "e3433439a0b01cd4"
            ]
        ]
    },
    {
        "id": "13ab5ed474dce263",
        "type": "mqtt in",
        "z": "3bd6686c23d8dec0",
        "name": "",
        "topic": "pico2w/03/windSpd2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "412ae33ef3641257",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 120,
        "wires": [
            [
                "4789dd7e.eaa124",
                "1f8363c1ebafc4df"
            ]
        ]
    },
    {
        "id": "4789dd7e.eaa124",
        "type": "ui_chart",
        "z": "3bd6686c23d8dec0",
        "name": "Wind Spees",
        "group": "a47c5bafa17c6b2b",
        "order": 3,
        "width": "7",
        "height": "7",
        "label": "ESP32 Wind Speed",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d22928",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 680,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "1f8363c1ebafc4df",
        "type": "ui_gauge",
        "z": "3bd6686c23d8dec0",
        "name": "Wind Speed km/hr",
        "group": "a47c5bafa17c6b2b",
        "order": 2,
        "width": "7",
        "height": "7",
        "gtype": "gage",
        "title": "Wind Speed km/hr",
        "label": "km/hr",
        "format": "{{value}}",
        "min": 0,
        "max": "108",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 700,
        "y": 140,
        "wires": []
    },
    {
        "id": "e4fcff21.233de",
        "type": "mqtt in",
        "z": "3bd6686c23d8dec0",
        "name": "",
        "topic": "pico2w/03/windDir",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "412ae33ef3641257",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 130,
        "y": 180,
        "wires": [
            [
                "648a4cc1.4ea534"
            ]
        ]
    },
    {
        "id": "648a4cc1.4ea534",
        "type": "ui_gauge",
        "z": "3bd6686c23d8dec0",
        "name": "Wind Direction",
        "group": "a47c5bafa17c6b2b",
        "order": 4,
        "width": "7",
        "height": "7",
        "gtype": "compass",
        "title": "ESP32 Wind Direction",
        "label": "Compass",
        "format": "{{value}}",
        "min": "0",
        "max": "360",
        "colors": [
            "#f66151",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "11",
        "seg2": "12",
        "diff": false,
        "className": "",
        "x": 700,
        "y": 180,
        "wires": []
    },
    {
        "id": "b8b6588e4298342a",
        "type": "mqtt in",
        "z": "3bd6686c23d8dec0",
        "name": "",
        "topic": "pico2w/03/temp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "412ae33ef3641257",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 220,
        "wires": [
            [
                "ad87ebf4a4236046",
                "3c8724eef7f1dda1"
            ]
        ]
    },
    {
        "id": "ad87ebf4a4236046",
        "type": "ui_gauge",
        "z": "3bd6686c23d8dec0",
        "name": "",
        "group": "a47c5bafa17c6b2b",
        "order": 5,
        "width": "7",
        "height": "7",
        "gtype": "gage",
        "title": "Outdoor Temp",
        "label": "Celcius",
        "format": "{{value}}",
        "min": "-40",
        "max": "40",
        "colors": [
            "#1a5fb4",
            "#33d17a",
            "#ca3838"
        ],
        "seg1": "0",
        "seg2": "25",
        "diff": false,
        "className": "",
        "x": 700,
        "y": 220,
        "wires": []
    },
    {
        "id": "3c8724eef7f1dda1",
        "type": "ui_chart",
        "z": "3bd6686c23d8dec0",
        "name": "Pico Outdoor Temp",
        "group": "a47c5bafa17c6b2b",
        "order": 6,
        "width": "7",
        "height": "7",
        "label": "Outdoor Temp",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-40",
        "ymax": "40",
        "removeOlder": "7",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 710,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "9d960df4fbc12650",
        "type": "mqtt in",
        "z": "3bd6686c23d8dec0",
        "name": "",
        "topic": "pico2w/03/humid",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "412ae33ef3641257",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 300,
        "wires": [
            [
                "dc95d1e8c6c1c816",
                "aee419711612d353"
            ]
        ]
    },
    {
        "id": "dc95d1e8c6c1c816",
        "type": "ui_gauge",
        "z": "3bd6686c23d8dec0",
        "name": "",
        "group": "a47c5bafa17c6b2b",
        "order": 7,
        "width": "7",
        "height": "7",
        "gtype": "gage",
        "title": "Outdoor Humidity",
        "label": "%RH",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#f9f06b",
            "#8ff0a4",
            "#99c1f1"
        ],
        "seg1": "30",
        "seg2": "60",
        "diff": false,
        "className": "",
        "x": 710,
        "y": 300,
        "wires": []
    },
    {
        "id": "aee419711612d353",
        "type": "ui_chart",
        "z": "3bd6686c23d8dec0",
        "name": "",
        "group": "a47c5bafa17c6b2b",
        "order": 8,
        "width": "7",
        "height": "7",
        "label": "Outdoor Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "7",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 710,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "2d68599b.ae7906",
        "type": "ui_switch",
        "z": "ce257eba.c4e94",
        "name": "",
        "label": "Stair Rail Lights (2)",
        "tooltip": "",
        "group": "1249cb1b.4f9575",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 590,
        "y": 280,
        "wires": [
            [
                "cc34bbafda879f1a"
            ]
        ]
    },
    {
        "id": "7d495225.ad557c",
        "type": "ui_switch",
        "z": "ce257eba.c4e94",
        "name": "",
        "label": "Big Santa (1)",
        "tooltip": "",
        "group": "1249cb1b.4f9575",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 570,
        "y": 140,
        "wires": [
            [
                "c7bb14f9.91447"
            ]
        ]
    },
    {
        "id": "1b1992df.12d40d",
        "type": "ui_switch",
        "z": "ce257eba.c4e94",
        "name": "",
        "label": "Outlet (3)",
        "tooltip": "",
        "group": "1249cb1b.4f9575",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 560,
        "y": 380,
        "wires": [
            [
                "4aa84a306609b591"
            ]
        ]
    },
    {
        "id": "1df9357.ed2b5cb",
        "type": "ui_switch",
        "z": "ce257eba.c4e94",
        "name": "",
        "label": "Outlet (4)",
        "tooltip": "",
        "group": "1249cb1b.4f9575",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "2221",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "2220",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 560,
        "y": 480,
        "wires": [
            [
                "d523fbd532194b8a"
            ]
        ]
    },
    {
        "id": "c7bb14f9.91447",
        "type": "mqtt out",
        "z": "ce257eba.c4e94",
        "name": "",
        "topic": "esp8266/12/relay1",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "09e304fd7441b2f7",
        "x": 950,
        "y": 140,
        "wires": []
    },
    {
        "id": "5db864a7.ef6a1c",
        "type": "inject",
        "z": "ce257eba.c4e94",
        "name": "Relay 1 On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 08 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "on",
        "payloadType": "str",
        "x": 270,
        "y": 60,
        "wires": [
            [
                "7d495225.ad557c"
            ]
        ]
    },
    {
        "id": "4684c608.8bbc88",
        "type": "inject",
        "z": "ce257eba.c4e94",
        "name": "Relay 1 Off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 22 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "off",
        "payloadType": "str",
        "x": 270,
        "y": 100,
        "wires": [
            [
                "7d495225.ad557c"
            ]
        ]
    },
    {
        "id": "6c929af3.80685c",
        "type": "inject",
        "z": "ce257eba.c4e94",
        "name": "Relay 2 On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 16 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "on",
        "payloadType": "str",
        "x": 270,
        "y": 260,
        "wires": [
            [
                "2d68599b.ae7906"
            ]
        ]
    },
    {
        "id": "9bd67852.26756",
        "type": "inject",
        "z": "ce257eba.c4e94",
        "name": "Relay 2 Off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 22 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "off",
        "payloadType": "str",
        "x": 270,
        "y": 300,
        "wires": [
            [
                "2d68599b.ae7906"
            ]
        ]
    },
    {
        "id": "acc6b217.f1c4e8",
        "type": "inject",
        "z": "ce257eba.c4e94",
        "d": true,
        "name": "Relay 3 On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "30 22 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "on",
        "payloadType": "str",
        "x": 270,
        "y": 360,
        "wires": [
            [
                "1b1992df.12d40d"
            ]
        ]
    },
    {
        "id": "24abfa77.08f996",
        "type": "inject",
        "z": "ce257eba.c4e94",
        "name": "Relay 3 Off",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "30 23 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "off",
        "payloadType": "str",
        "x": 270,
        "y": 400,
        "wires": [
            [
                "1b1992df.12d40d"
            ]
        ]
    },
    {
        "id": "2dc1c461.d1bda4",
        "type": "inject",
        "z": "ce257eba.c4e94",
        "d": true,
        "name": "Relay 4 On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 16 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2221",
        "payloadType": "str",
        "x": 270,
        "y": 460,
        "wires": [
            [
                "1df9357.ed2b5cb"
            ]
        ]
    },
    {
        "id": "adb9e4a5.02037",
        "type": "inject",
        "z": "ce257eba.c4e94",
        "name": "Relay 4 Off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 22 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2220",
        "payloadType": "str",
        "x": 270,
        "y": 500,
        "wires": [
            [
                "1df9357.ed2b5cb"
            ]
        ]
    },
    {
        "id": "1a32a271256c7a30",
        "type": "inject",
        "z": "ce257eba.c4e94",
        "d": true,
        "name": "Relay 1 On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 13 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1222",
        "payloadType": "str",
        "x": 270,
        "y": 160,
        "wires": [
            [
                "7d495225.ad557c"
            ]
        ]
    },
    {
        "id": "9b4c73f3cb7dda98",
        "type": "inject",
        "z": "ce257eba.c4e94",
        "d": true,
        "name": "Relay 1 Off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 16 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0222",
        "payloadType": "str",
        "x": 270,
        "y": 200,
        "wires": [
            [
                "7d495225.ad557c"
            ]
        ]
    },
    {
        "id": "cc34bbafda879f1a",
        "type": "mqtt out",
        "z": "ce257eba.c4e94",
        "name": "",
        "topic": "esp8266/12/relay2",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "09e304fd7441b2f7",
        "x": 950,
        "y": 280,
        "wires": []
    },
    {
        "id": "4aa84a306609b591",
        "type": "mqtt out",
        "z": "ce257eba.c4e94",
        "name": "",
        "topic": "esp8266/12/relay3",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "09e304fd7441b2f7",
        "x": 950,
        "y": 380,
        "wires": []
    },
    {
        "id": "d523fbd532194b8a",
        "type": "mqtt out",
        "z": "ce257eba.c4e94",
        "name": "",
        "topic": "esp8266/12/relay4",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "09e304fd7441b2f7",
        "x": 950,
        "y": 480,
        "wires": []
    },
    {
        "id": "25a6c695143fbdb8",
        "type": "inject",
        "z": "4f5f66f6863a95c9",
        "name": "SSR 1 On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10000000",
        "payloadType": "str",
        "x": 160,
        "y": 40,
        "wires": [
            [
                "1471a936eb8d0514"
            ]
        ]
    },
    {
        "id": "26ef0954364de3aa",
        "type": "inject",
        "z": "4f5f66f6863a95c9",
        "name": "SSR 1 Off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "07 13 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "00000000",
        "payloadType": "str",
        "x": 170,
        "y": 120,
        "wires": [
            [
                "1471a936eb8d0514"
            ]
        ]
    },
    {
        "id": "1471a936eb8d0514",
        "type": "ui_switch",
        "z": "4f5f66f6863a95c9",
        "name": "",
        "label": "SSR 1",
        "tooltip": "",
        "group": "4d572a9c.a8ec54",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "10000000",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "00000000",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 390,
        "y": 80,
        "wires": [
            [
                "e959eca48cff6bb4"
            ]
        ]
    },
    {
        "id": "e959eca48cff6bb4",
        "type": "mqtt out",
        "z": "4f5f66f6863a95c9",
        "name": "",
        "topic": "esp8266/24/GPIO",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "09e304fd7441b2f7",
        "x": 610,
        "y": 80,
        "wires": []
    },
    {
        "id": "c797f0ca3dad2e4b",
        "type": "inject",
        "z": "4f5f66f6863a95c9",
        "name": "SSR 2 On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "01000000",
        "payloadType": "str",
        "x": 160,
        "y": 200,
        "wires": [
            [
                "b18213c3c6675ee0"
            ]
        ]
    },
    {
        "id": "c55676999f8960f7",
        "type": "inject",
        "z": "4f5f66f6863a95c9",
        "name": "SSR 2 Off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "00000000",
        "payloadType": "str",
        "x": 160,
        "y": 280,
        "wires": [
            [
                "b18213c3c6675ee0"
            ]
        ]
    },
    {
        "id": "b18213c3c6675ee0",
        "type": "ui_switch",
        "z": "4f5f66f6863a95c9",
        "name": "",
        "label": "SSR 2",
        "tooltip": "",
        "group": "4d572a9c.a8ec54",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "01000000",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "00000000",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 390,
        "y": 240,
        "wires": [
            [
                "77455d10c1649305"
            ]
        ]
    },
    {
        "id": "77455d10c1649305",
        "type": "mqtt out",
        "z": "4f5f66f6863a95c9",
        "name": "",
        "topic": "esp8266/24/GPIO",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "09e304fd7441b2f7",
        "x": 610,
        "y": 240,
        "wires": []
    },
    {
        "id": "f862db14904385aa",
        "type": "inject",
        "z": "4f5f66f6863a95c9",
        "name": "SSR 3 On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "00100000",
        "payloadType": "str",
        "x": 160,
        "y": 360,
        "wires": [
            [
                "d9f430b9b2721f9c"
            ]
        ]
    },
    {
        "id": "96a70dc5bb34503a",
        "type": "inject",
        "z": "4f5f66f6863a95c9",
        "name": "SSR 3 Off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "00000000",
        "payloadType": "str",
        "x": 160,
        "y": 440,
        "wires": [
            [
                "d9f430b9b2721f9c"
            ]
        ]
    },
    {
        "id": "d9f430b9b2721f9c",
        "type": "ui_switch",
        "z": "4f5f66f6863a95c9",
        "name": "",
        "label": "SSR 3",
        "tooltip": "",
        "group": "4d572a9c.a8ec54",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "00100000",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "00000000",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 390,
        "y": 400,
        "wires": [
            [
                "72da4647fbb3a9cf"
            ]
        ]
    },
    {
        "id": "72da4647fbb3a9cf",
        "type": "mqtt out",
        "z": "4f5f66f6863a95c9",
        "name": "",
        "topic": "esp8266/24/GPIO",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "09e304fd7441b2f7",
        "x": 610,
        "y": 400,
        "wires": []
    },
    {
        "id": "9d3027950c0eb154",
        "type": "inject",
        "z": "4f5f66f6863a95c9",
        "name": "SSR 4 On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "00010000",
        "payloadType": "str",
        "x": 160,
        "y": 520,
        "wires": [
            [
                "375ee8049edef8f5"
            ]
        ]
    },
    {
        "id": "fde7a96e27a88ef6",
        "type": "inject",
        "z": "4f5f66f6863a95c9",
        "name": "SSR 4 Off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "00000000",
        "payloadType": "str",
        "x": 160,
        "y": 600,
        "wires": [
            [
                "375ee8049edef8f5"
            ]
        ]
    },
    {
        "id": "375ee8049edef8f5",
        "type": "ui_switch",
        "z": "4f5f66f6863a95c9",
        "name": "",
        "label": "SSR 4",
        "tooltip": "",
        "group": "4d572a9c.a8ec54",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "00010000",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "00000000",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 390,
        "y": 560,
        "wires": [
            [
                "cf509d883ec2f03b"
            ]
        ]
    },
    {
        "id": "cf509d883ec2f03b",
        "type": "mqtt out",
        "z": "4f5f66f6863a95c9",
        "name": "",
        "topic": "esp8266/24/GPIO",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "09e304fd7441b2f7",
        "x": 610,
        "y": 560,
        "wires": []
    },
    {
        "id": "f7cbeff84c918ad9",
        "type": "inject",
        "z": "4f5f66f6863a95c9",
        "name": "SSR 5 On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "00001000",
        "payloadType": "str",
        "x": 820,
        "y": 40,
        "wires": [
            [
                "a3f8659e27e39d8e"
            ]
        ]
    },
    {
        "id": "279dad5dc88344f2",
        "type": "inject",
        "z": "4f5f66f6863a95c9",
        "name": "SSR 5 Off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "00000000",
        "payloadType": "str",
        "x": 820,
        "y": 120,
        "wires": [
            [
                "a3f8659e27e39d8e"
            ]
        ]
    },
    {
        "id": "a3f8659e27e39d8e",
        "type": "ui_switch",
        "z": "4f5f66f6863a95c9",
        "name": "",
        "label": "SSR 5",
        "tooltip": "",
        "group": "4d572a9c.a8ec54",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "00001000",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "00000000",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1050,
        "y": 80,
        "wires": [
            [
                "dd6448011836c071"
            ]
        ]
    },
    {
        "id": "dd6448011836c071",
        "type": "mqtt out",
        "z": "4f5f66f6863a95c9",
        "name": "",
        "topic": "esp8266/24/GPIO",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "09e304fd7441b2f7",
        "x": 1270,
        "y": 80,
        "wires": []
    },
    {
        "id": "154732f77c0e3d6c",
        "type": "inject",
        "z": "4f5f66f6863a95c9",
        "name": "SSR 6 On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "00000100",
        "payloadType": "str",
        "x": 820,
        "y": 200,
        "wires": [
            [
                "501980d1df5b48bf"
            ]
        ]
    },
    {
        "id": "17b9759aad0d806a",
        "type": "inject",
        "z": "4f5f66f6863a95c9",
        "name": "SSR 6 Off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "00000000",
        "payloadType": "str",
        "x": 820,
        "y": 280,
        "wires": [
            [
                "501980d1df5b48bf"
            ]
        ]
    },
    {
        "id": "501980d1df5b48bf",
        "type": "ui_switch",
        "z": "4f5f66f6863a95c9",
        "name": "",
        "label": "SSR 6",
        "tooltip": "",
        "group": "4d572a9c.a8ec54",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "00000100",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "00000000",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1050,
        "y": 240,
        "wires": [
            [
                "522c87f343b933f2"
            ]
        ]
    },
    {
        "id": "522c87f343b933f2",
        "type": "mqtt out",
        "z": "4f5f66f6863a95c9",
        "name": "",
        "topic": "esp8266/24/GPIO",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "09e304fd7441b2f7",
        "x": 1270,
        "y": 240,
        "wires": []
    },
    {
        "id": "b983435cd04ae78e",
        "type": "inject",
        "z": "4f5f66f6863a95c9",
        "name": "SSR 7 On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "00000010",
        "payloadType": "str",
        "x": 820,
        "y": 360,
        "wires": [
            [
                "bee3af526ac4a5c0"
            ]
        ]
    },
    {
        "id": "88c5aae70b6b6605",
        "type": "inject",
        "z": "4f5f66f6863a95c9",
        "name": "SSR 7 Off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "00000000",
        "payloadType": "str",
        "x": 820,
        "y": 440,
        "wires": [
            [
                "bee3af526ac4a5c0"
            ]
        ]
    },
    {
        "id": "bee3af526ac4a5c0",
        "type": "ui_switch",
        "z": "4f5f66f6863a95c9",
        "name": "",
        "label": "SSR 7",
        "tooltip": "",
        "group": "4d572a9c.a8ec54",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "00000010",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "00000000",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1050,
        "y": 400,
        "wires": [
            [
                "9837fea73d44e197"
            ]
        ]
    },
    {
        "id": "9837fea73d44e197",
        "type": "mqtt out",
        "z": "4f5f66f6863a95c9",
        "name": "",
        "topic": "esp8266/24/GPIO",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "09e304fd7441b2f7",
        "x": 1270,
        "y": 400,
        "wires": []
    },
    {
        "id": "179f26c5e632c836",
        "type": "inject",
        "z": "4f5f66f6863a95c9",
        "name": "SSR 8 On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "00000001",
        "payloadType": "str",
        "x": 820,
        "y": 520,
        "wires": [
            [
                "52bff7166a29c202"
            ]
        ]
    },
    {
        "id": "fe17762feae557f4",
        "type": "inject",
        "z": "4f5f66f6863a95c9",
        "name": "SSR 8 Off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "00000000",
        "payloadType": "str",
        "x": 820,
        "y": 600,
        "wires": [
            [
                "52bff7166a29c202"
            ]
        ]
    },
    {
        "id": "52bff7166a29c202",
        "type": "ui_switch",
        "z": "4f5f66f6863a95c9",
        "name": "",
        "label": "SSR 8",
        "tooltip": "",
        "group": "4d572a9c.a8ec54",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "00000001",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "00000000",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1050,
        "y": 560,
        "wires": [
            [
                "6ebdec76a427ab0e"
            ]
        ]
    },
    {
        "id": "6ebdec76a427ab0e",
        "type": "mqtt out",
        "z": "4f5f66f6863a95c9",
        "name": "",
        "topic": "esp8266/24/GPIO",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "09e304fd7441b2f7",
        "x": 1270,
        "y": 560,
        "wires": []
    }
]