Irricana30/irricana30.2023.08.07.json
[{"id":"b95bec79.02ed6","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"73813edc.e2c9c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"f0b4a474.eb7298","type":"ui_group","z":"","name":"Bathrooms","tab":"73813edc.e2c9c","order":1,"disp":true,"width":"6","collapse":false},{"id":"9a1f3a32.bba338","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a6dc7399.48d4e","type":"ui_group","z":"","name":"Furnace","tab":"73813edc.e2c9c","order":3,"disp":true,"width":"6","collapse":false},{"id":"685898a9.cf45f8","type":"ui_group","z":"","name":"Kitchen","tab":"73813edc.e2c9c","order":2,"disp":true,"width":"6","collapse":false},{"id":"919fc34e.64b0d","type":"ui_group","z":"","name":"Living Room","tab":"73813edc.e2c9c","order":4,"disp":true,"width":"6","collapse":false},{"id":"2d681219.b67a7e","type":"mqtt-broker","z":"","name":"mqtt21","broker":"192.168.200.21","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bedcfc7d.dc649","type":"mqtt-broker","z":"","name":"HiveMQ","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"140c912a.10211f","type":"ui_group","z":"","name":"Outside","tab":"73813edc.e2c9c","order":6,"disp":true,"width":"6","collapse":false},{"id":"b286d2f8.52365","type":"ui_switch","z":"b95bec79.02ed6","name":"Small Bathroom","label":"Small Bathroom","tooltip":"","group":"f0b4a474.eb7298","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":140,"y":60,"wires":[["c133e838.1a6a58"]]},{"id":"c133e838.1a6a58","type":"rpi-gpio out","z":"b95bec79.02ed6","name":"Pin 12, GPIO18","pin":"12","set":true,"level":"0","freq":"","out":"out","x":420,"y":60,"wires":[]},{"id":"1a63e6d4.9367f9","type":"ui_switch","z":"b95bec79.02ed6","name":"Master Bathroom","label":"Master Bathroom","tooltip":"","group":"f0b4a474.eb7298","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":170,"y":120,"wires":[["2116a7f5.6c72c8"]]},{"id":"2116a7f5.6c72c8","type":"rpi-gpio out","z":"b95bec79.02ed6","name":"Pin 11, GPIO 17","pin":"11","set":true,"level":"0","freq":"","out":"out","x":420,"y":120,"wires":[]},{"id":"13dacc52.4b46b4","type":"ui_switch","z":"b95bec79.02ed6","d":true,"name":"Spare Relay","label":"Spare Relay","tooltip":"","group":"a6dc7399.48d4e","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","x":170,"y":200,"wires":[["4a9b0ef1.645d5"]]},{"id":"4a9b0ef1.645d5","type":"rpi-gpio out","z":"b95bec79.02ed6","name":"Pin 37, GPIO 26","pin":"37","set":true,"level":"1","freq":"","out":"out","x":420,"y":200,"wires":[]},{"id":"b20ae7d6.e40898","type":"ui_switch","z":"b95bec79.02ed6","name":"Sink Toekick","label":"Sink Toekick","tooltip":"","group":"685898a9.cf45f8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":170,"y":320,"wires":[["939c2cd6.87d6f"]]},{"id":"939c2cd6.87d6f","type":"rpi-gpio out","z":"b95bec79.02ed6","name":"Pin 29, GPIO 05","pin":"29","set":true,"level":"0","freq":"","out":"out","x":420,"y":320,"wires":[]},{"id":"d329d5e5.aaf238","type":"ui_switch","z":"b95bec79.02ed6","name":"Island Toekick","label":"Island Toekick","tooltip":"","group":"685898a9.cf45f8","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":160,"y":380,"wires":[["dd4c75b2.d67608"]]},{"id":"d73c432f.3bf8a","type":"ui_switch","z":"b95bec79.02ed6","name":"Oven Toekick","label":"Oven Toekick","tooltip":"","group":"685898a9.cf45f8","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":160,"y":440,"wires":[["5fafe2ac.5ff28c"]]},{"id":"dd4c75b2.d67608","type":"rpi-gpio out","z":"b95bec79.02ed6","name":"Pin 31, GPIO 06","pin":"31","set":true,"level":"0","freq":"","out":"out","x":420,"y":380,"wires":[]},{"id":"5fafe2ac.5ff28c","type":"rpi-gpio out","z":"b95bec79.02ed6","name":"Pin 33, GPIO 13","pin":"33","set":true,"level":"0","freq":"","out":"out","x":420,"y":440,"wires":[]},{"id":"490d8598.939a4c","type":"ui_switch","z":"b95bec79.02ed6","name":"Furnace","label":"Furnace Fan","tooltip":"","group":"a6dc7399.48d4e","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","x":160,"y":260,"wires":[["d6d3bc5f.9dab9"]]},{"id":"d6d3bc5f.9dab9","type":"rpi-gpio out","z":"b95bec79.02ed6","name":"Pin 36, GPIO 16","pin":"36","set":true,"level":"1","freq":"","out":"out","x":420,"y":260,"wires":[]},{"id":"d79ce7e9.c74058","type":"ui_switch","z":"b95bec79.02ed6","name":"","label":"Tiffany Lamp","tooltip":"","group":"919fc34e.64b0d","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","x":150,"y":600,"wires":[["1f49a5f2.fa85c2"]]},{"id":"1f49a5f2.fa85c2","type":"mqtt out","z":"b95bec79.02ed6","name":"","topic":"Irricana/TiffanyLamp","qos":"","retain":"","broker":"2d681219.b67a7e","x":460,"y":600,"wires":[]},{"id":"a667481.ca1c138","type":"ui_switch","z":"b95bec79.02ed6","name":"","label":"Plant Lights","tooltip":"","group":"919fc34e.64b0d","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","x":410,"y":500,"wires":[["67cd9c33.708654"]]},{"id":"67cd9c33.708654","type":"mqtt out","z":"b95bec79.02ed6","name":"","topic":"Irricana/StoveFan","qos":"","retain":"true","broker":"2d681219.b67a7e","x":650,"y":500,"wires":[]},{"id":"c89d4a9c.a59e38","type":"ui_switch","z":"b95bec79.02ed6","name":"","label":"Rainbow Lamp","tooltip":"","group":"919fc34e.64b0d","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","x":170,"y":680,"wires":[["dc9d4f56.e6734"]]},{"id":"dc9d4f56.e6734","type":"mqtt out","z":"b95bec79.02ed6","name":"","topic":"Irricana/RainbowLamp","qos":"","retain":"","broker":"2d681219.b67a7e","x":460,"y":680,"wires":[]},{"id":"6e3ba8dc.7244e8","type":"ui_switch","z":"b95bec79.02ed6","name":"","label":"Outside Light","tooltip":"","group":"140c912a.10211f","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","x":690,"y":880,"wires":[["86bf5f7f.3cc1f"]]},{"id":"86bf5f7f.3cc1f","type":"mqtt out","z":"b95bec79.02ed6","name":"Outside Light","topic":"Irricana/OutsideLight","qos":"2","retain":"true","broker":"2d681219.b67a7e","x":890,"y":880,"wires":[]},{"id":"c5fa1e8f.aef88","type":"inject","z":"b95bec79.02ed6","name":"Light On","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"00 06 * * *","once":false,"onceDelay":0.1,"x":140,"y":500,"wires":[["a667481.ca1c138"]]},{"id":"e85084de.fc1418","type":"inject","z":"b95bec79.02ed6","name":"Light Off","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"00 20 * * *","once":false,"onceDelay":0.1,"x":140,"y":540,"wires":[["a667481.ca1c138"]]},{"id":"6f49b102.8f","type":"bigtimer","z":"b95bec79.02ed6","outtopic":"","outpayload1":"false","outpayload2":"true","name":"Front Patio Lights","comment":"","lat":"51.31833","lon":"-113.60852","starttime":"300","endtime":"5003","starttime2":"5004","endtime2":"1380","startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"false","outtext2":"true","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xday7":0,"xmonth7":0,"xday8":0,"xmonth8":0,"xday9":0,"xmonth9":0,"xday10":0,"xmonth10":0,"xday11":0,"xmonth11":0,"xday12":0,"xmonth12":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":190,"y":880,"wires":[["5d5e3a58.04b8c4"],[],[]]},{"id":"5d5e3a58.04b8c4","type":"change","z":"b95bec79.02ed6","name":"Change String to Boolean","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":880,"wires":[["6e3ba8dc.7244e8"]]}]