mqtt21/flows.json
[{"id":"82c1b90e.34f6a8","type":"tab","label":"BattMon24","disabled":false,"info":""},{"id":"e5d3b05c.b979b","type":"tab","label":"BlockHeat41","disabled":false,"info":""},{"id":"455fe491.9befcc","type":"tab","label":"Gardentemp32","disabled":false,"info":""},{"id":"e802f506.b7b218","type":"tab","label":"zero2","disabled":false,"info":""},{"id":"ccd10359.9fe168","type":"tab","label":"Counter","disabled":false,"info":""},{"id":"27c237f7.b561c8","type":"mqtt-broker","z":"","name":"mqtt37","broker":"192.168.200.37","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"1b582d29.fe2693","type":"ui_tab","z":"","name":"Gardentemp32","icon":"dashboard","disabled":false,"hidden":false},{"id":"716c9ae.4946064","type":"ui_group","z":"","name":"Planter Moisture","tab":"18f9bf20.91ed11","order":1,"disp":true,"width":"18","collapse":false},{"id":"ebd0b4b6.e05da8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"true","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"18f9bf20.91ed11","type":"ui_tab","z":"","name":"zero2","icon":"dashboard","disabled":false,"hidden":false},{"id":"aca973d7.74c73","type":"ui_group","z":"","name":"Inside & Outside Temps","tab":"1b582d29.fe2693","order":1,"disp":true,"width":"20","collapse":false},{"id":"4d572a9c.a8ec54","type":"ui_group","z":"","name":"24V Battery Voltages","tab":"ea76cd67.24cac","order":1,"disp":true,"width":"20","collapse":false},{"id":"76a6ff72.e96f7","type":"mqtt-broker","z":"","name":"mqtt37","broker":"192.168.200.37","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"2f57be2a.1d9482","type":"ui_group","z":"","name":"12V Battery Voltages","tab":"ea76cd67.24cac","order":2,"disp":true,"width":"20","collapse":false},{"id":"ea76cd67.24cac","type":"ui_tab","z":"","name":"BattMon24","icon":"dashboard","disabled":false,"hidden":false},{"id":"6ec7746d.7d4714","type":"ui_tab","z":"","name":"Weather","icon":"dashboard","disabled":false,"hidden":false},{"id":"cacd823e.f7641","type":"ui_group","z":"","name":"Rain Gauge","tab":"6ec7746d.7d4714","order":1,"disp":true,"width":"6","collapse":false},{"id":"b59dcd88.7ace4","type":"ui_tab","z":"","name":"BlockHeat41","icon":"dashboard","disabled":false,"hidden":false},{"id":"71f6ff47.b6fe9","type":"ui_group","z":"","name":"Controls","tab":"b59dcd88.7ace4","order":1,"disp":true,"width":6,"collapse":false},{"id":"95b2cce2.32d5e","type":"ui_group","z":"","name":"Temperatures","tab":"b59dcd88.7ace4","order":2,"disp":true,"width":10,"collapse":false},{"id":"3317a489.5e728c","type":"mqtt in","z":"455fe491.9befcc","name":"Outside Temp","topic":"Garden/OutTemp","qos":"2","datatype":"auto","broker":"27c237f7.b561c8","x":160,"y":80,"wires":[["bedd43b4.48a24","306169d0.164416"]]},{"id":"bedd43b4.48a24","type":"ui_chart","z":"455fe491.9befcc","name":"Outside Temps","group":"aca973d7.74c73","order":0,"width":"10","height":"6","label":"Outside Temps Label","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-35","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":380,"y":180,"wires":[[]]},{"id":"5a54dc02.e22c84","type":"mqtt in","z":"455fe491.9befcc","name":"","topic":"Garden/InTemp","qos":"2","datatype":"auto","broker":"27c237f7.b561c8","x":200,"y":280,"wires":[["bedd43b4.48a24","6d5b16f1.fbffe8"]]},{"id":"8a5df4c1.d306f8","type":"mqtt in","z":"e802f506.b7b218","name":"Planter 01","topic":"gardenWater/Planter01","qos":"2","datatype":"auto","broker":"27c237f7.b561c8","x":150,"y":100,"wires":[["fc0be77a.0c5ba8"]]},{"id":"fc0be77a.0c5ba8","type":"ui_chart","z":"e802f506.b7b218","name":"Planter Moisture Name","group":"716c9ae.4946064","order":1,"width":"18","height":"12","label":"Planter Moisture Label","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":430,"y":100,"wires":[[]]},{"id":"1ecce7b8.bd1fb8","type":"ui_chart","z":"82c1b90e.34f6a8","name":"","group":"4d572a9c.a8ec54","order":0,"width":"10","height":"6","label":"24V Battery Voltages","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"23","ymax":"29","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":360,"y":180,"wires":[[]]},{"id":"cd7cf873.bfd4f8","type":"mqtt in","z":"82c1b90e.34f6a8","name":"","topic":"Garage/SolarBatt","qos":"2","datatype":"auto","broker":"76a6ff72.e96f7","x":140,"y":100,"wires":[["1ecce7b8.bd1fb8","13b6866d.e42d4a"]]},{"id":"f064bc47.b9301","type":"mqtt in","z":"82c1b90e.34f6a8","name":"","topic":"Garage/GarageBatt","qos":"2","datatype":"auto","broker":"76a6ff72.e96f7","x":150,"y":260,"wires":[["1ecce7b8.bd1fb8","57ea321c.1195ac"]]},{"id":"71d34e9a.2454e","type":"mqtt in","z":"82c1b90e.34f6a8","name":"","topic":"Garage/HamBatt","qos":"2","datatype":"auto","broker":"76a6ff72.e96f7","x":140,"y":380,"wires":[["6c2543db.b9be3c","c9884d1b.e02e5"]]},{"id":"6c2543db.b9be3c","type":"ui_chart","z":"82c1b90e.34f6a8","name":"","group":"2f57be2a.1d9482","order":3,"width":"10","height":"6","label":"12V Battery Voltages","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"11","ymax":"16","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":340,"y":460,"wires":[[]]},{"id":"49e826a8.f261e8","type":"mqtt in","z":"82c1b90e.34f6a8","name":"","topic":"Garage/SpareBatt","qos":"2","datatype":"auto","broker":"76a6ff72.e96f7","x":150,"y":540,"wires":[["6c2543db.b9be3c","68991dee.8dc2b4"]]},{"id":"13b6866d.e42d4a","type":"ui_gauge","z":"82c1b90e.34f6a8","name":"","group":"4d572a9c.a8ec54","order":2,"width":"5","height":"5","gtype":"gage","title":"Solar Batteries Voltage","label":"Volts","format":"{{value}}","min":"23","max":"29","colors":["#ff2600","#77bb40","#f6ec00"],"seg1":"24","seg2":"28","x":420,"y":100,"wires":[]},{"id":"57ea321c.1195ac","type":"ui_gauge","z":"82c1b90e.34f6a8","name":"","group":"4d572a9c.a8ec54","order":3,"width":"5","height":"5","gtype":"gage","title":"Garage Batteries Voltage","label":"Volts","format":"{{value}}","min":"23","max":"29","colors":["#ff2600","#77bb40","#f6ec00"],"seg1":"24","seg2":"28","x":430,"y":260,"wires":[]},{"id":"c9884d1b.e02e5","type":"ui_gauge","z":"82c1b90e.34f6a8","name":"","group":"2f57be2a.1d9482","order":1,"width":"5","height":"5","gtype":"gage","title":"Ham Battery Voltage","label":"Volts","format":"{{value}}","min":"11","max":"16","colors":["#ff2600","#77bb40","#f6ec00"],"seg1":"12","seg2":"15","x":420,"y":380,"wires":[]},{"id":"68991dee.8dc2b4","type":"ui_gauge","z":"82c1b90e.34f6a8","name":"","group":"2f57be2a.1d9482","order":2,"width":"5","height":"5","gtype":"gage","title":"Spare Battery Voltage","label":"Volts","format":"{{value}}","min":"11","max":"16","colors":["#ff2600","#77bb40","#f6ec00"],"seg1":"12","seg2":"15","x":400,"y":540,"wires":[]},{"id":"306169d0.164416","type":"ui_gauge","z":"455fe491.9befcc","name":"Outside Temp","group":"aca973d7.74c73","order":1,"width":"5","height":"5","gtype":"gage","title":"Outside Temp","label":"Celcius","format":"{{value}}","min":"-30","max":"30","colors":["#ca3838","#e6e600","#00b500"],"seg1":"0","seg2":"15","x":380,"y":80,"wires":[]},{"id":"6d5b16f1.fbffe8","type":"ui_gauge","z":"455fe491.9befcc","name":"Inside Temp","group":"aca973d7.74c73","order":2,"width":"5","height":"5","gtype":"gage","title":"Inside Temp","label":"Celcius","format":"{{value}}","min":"-30","max":"30","colors":["#ca3838","#e6e600","#00b500"],"seg1":"0","seg2":"15","x":370,"y":280,"wires":[]},{"id":"647515c1.6f587c","type":"ui_text","z":"ccd10359.9fe168","group":"cacd823e.f7641","order":1,"width":0,"height":0,"name":"","label":"Rain Counter","format":"{{msg.count}}","layout":"row-spread","x":670,"y":160,"wires":[]},{"id":"4ec87b16.1c8494","type":"inject","z":"ccd10359.9fe168","name":"decrement","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":180,"wires":[["3c707a.0a4bff86"]]},{"id":"9774de32.e9dad","type":"inject","z":"ccd10359.9fe168","name":"increment","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":120,"y":80,"wires":[["b4ade9ac.8c1788"]]},{"id":"f5f96458.956198","type":"inject","z":"ccd10359.9fe168","name":"reset","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":110,"y":280,"wires":[["8814c392.f8c9"]]},{"id":"b4ade9ac.8c1788","type":"function","z":"ccd10359.9fe168","name":"msg object","func":"msg.increment = 1;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":80,"wires":[["e3a06cd7.2d95e"]]},{"id":"8814c392.f8c9","type":"function","z":"ccd10359.9fe168","name":"msg object","func":"msg.reset = true;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":280,"wires":[["e3a06cd7.2d95e"]]},{"id":"3c707a.0a4bff86","type":"function","z":"ccd10359.9fe168","name":"msg object","func":"msg.decrement = 1;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":180,"wires":[["e3a06cd7.2d95e"]]},{"id":"e3a06cd7.2d95e","type":"counter","z":"ccd10359.9fe168","name":"","init":"0","step":1,"lower":null,"upper":null,"mode":"increment","outputs":"1","x":500,"y":100,"wires":[["7bc3f915.a44518","647515c1.6f587c"]]},{"id":"12f3e9e3.cc1586","type":"inject","z":"ccd10359.9fe168","name":"normal msg without control parameter","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":210,"y":20,"wires":[["e3a06cd7.2d95e"]]},{"id":"7bc3f915.a44518","type":"debug","z":"ccd10359.9fe168","name":"message","active":true,"console":"false","complete":"true","x":660,"y":100,"wires":[]},{"id":"fcb01a84.abc898","type":"ui_button","z":"ccd10359.9fe168","name":"","group":"cacd823e.f7641","order":2,"width":0,"height":0,"passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":110,"y":220,"wires":[["8814c392.f8c9"]]},{"id":"449c46.551393bc","type":"ui_button","z":"ccd10359.9fe168","name":"","group":"cacd823e.f7641","order":1,"width":0,"height":0,"passthru":false,"label":"Increment","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":120,"y":120,"wires":[["b4ade9ac.8c1788"]]},{"id":"a2e78587.786a98","type":"mqtt in","z":"e5d3b05c.b979b","name":"","topic":"BlockHeat/right23","qos":"2","datatype":"auto","broker":"27c237f7.b561c8","x":130,"y":120,"wires":[["8b3705da.17b368"]]},{"id":"8fde0b53.708508","type":"mqtt out","z":"e5d3b05c.b979b","name":"","topic":"BlockHeat/right23","qos":"2","retain":"","broker":"76a6ff72.e96f7","x":440,"y":60,"wires":[]},{"id":"7d4d7eea.ba084","type":"mqtt in","z":"e5d3b05c.b979b","name":"","topic":"BlockHeat/left24","qos":"2","datatype":"auto","broker":"27c237f7.b561c8","x":120,"y":280,"wires":[["3a1c4224.beb2ce"]]},{"id":"c401ae7d.c4ebc","type":"mqtt out","z":"e5d3b05c.b979b","name":"","topic":"BlockHeat/left24","qos":"2","retain":"","broker":"27c237f7.b561c8","x":440,"y":200,"wires":[]},{"id":"6d0d65a9.16c5ec","type":"ui_switch","z":"e5d3b05c.b979b","name":"","label":"Right23","tooltip":"","group":"71f6ff47.b6fe9","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","x":100,"y":60,"wires":[["8fde0b53.708508"]]},{"id":"f7130e8d.e306f","type":"ui_switch","z":"e5d3b05c.b979b","name":"","label":"Left24","tooltip":"","group":"71f6ff47.b6fe9","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","x":90,"y":200,"wires":[["c401ae7d.c4ebc"]]},{"id":"3a1c4224.beb2ce","type":"rpi-gpio out","z":"e5d3b05c.b979b","name":"Left24","pin":"18","set":true,"level":"1","freq":"","out":"out","x":390,"y":280,"wires":[]},{"id":"8b3705da.17b368","type":"rpi-gpio out","z":"e5d3b05c.b979b","name":"Right23","pin":"16","set":true,"level":"1","freq":"","out":"out","x":400,"y":120,"wires":[]},{"id":"e5f6cf68.68d85","type":"mqtt in","z":"e5d3b05c.b979b","name":"","topic":"BlockHeat/BlockInTemp","qos":"2","datatype":"auto","broker":"27c237f7.b561c8","x":140,"y":380,"wires":[["7b7ec3d9.4034ac","87876f26.3a6f9"]]},{"id":"7b7ec3d9.4034ac","type":"ui_gauge","z":"e5d3b05c.b979b","name":"Inside Temperature","group":"95b2cce2.32d5e","order":1,"width":5,"height":5,"gtype":"gage","title":"Inside Temp","label":"Celcius","format":"{{value}}","min":"-30","max":"30","colors":["#e6e600","#00b400","#ca3838"],"seg1":"0","seg2":"15","x":430,"y":380,"wires":[]},{"id":"9865e7a7.ac99c8","type":"ui_gauge","z":"e5d3b05c.b979b","name":"Outside Temperatures","group":"95b2cce2.32d5e","order":2,"width":5,"height":5,"gtype":"gage","title":"Outside Temp","label":"Celcius","format":"{{value}}","min":"-30","max":"30","colors":["#e6e600","#00b500","#ca3838"],"seg1":"0","seg2":"15","x":440,"y":540,"wires":[]},{"id":"949dcb51.d9c7b8","type":"mqtt in","z":"e5d3b05c.b979b","name":"","topic":"BlockHeat/BlockOutTemp","qos":"2","datatype":"auto","broker":"27c237f7.b561c8","x":150,"y":540,"wires":[["9865e7a7.ac99c8","87876f26.3a6f9"]]},{"id":"87876f26.3a6f9","type":"ui_chart","z":"e5d3b05c.b979b","name":"BlockHeat Temps","group":"95b2cce2.32d5e","order":3,"width":0,"height":0,"label":"BlockHeat Temps","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-30","ymax":"30","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":440,"y":460,"wires":[[]]}]