mqtt21/mqtt21Flows2024.02.25.json
[{"id":"82c1b90e.34f6a8","type":"tab","label":"BattMon24","disabled":false,"info":""},{"id":"e5d3b05c.b979b","type":"tab","label":"BlockHeat41","disabled":false,"info":""},{"id":"7495b29c.33f8ec","type":"tab","label":"FurnaceTemp","disabled":false,"info":""},{"id":"406be489.84d4cc","type":"tab","label":"GardenWater02","disabled":false,"info":""},{"id":"b5c4464f.4a3ea8","type":"tab","label":"GardenWater03","disabled":false,"info":""},{"id":"ce257eba.c4e94","type":"tab","label":"PlantWater","disabled":false,"info":""},{"id":"e802f506.b7b218","type":"tab","label":"RainGauge","disabled":false,"info":""},{"id":"c8fd5ca6.a08288","type":"tab","label":"Temperatures","disabled":false,"info":""},{"id":"e461446c.a15ed8","type":"tab","label":"Testing","disabled":false,"info":""},{"id":"716c9ae.4946064","type":"ui_group","name":"Rain Gauge","tab":"4d218e63.34d8c","order":1,"disp":true,"width":16,"collapse":false},{"id":"ebd0b4b6.e05da8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"true","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":58,"sy":48,"gx":6,"gy":6,"cx":2,"cy":4,"px":0,"py":0}}},{"id":"4d572a9c.a8ec54","type":"ui_group","name":"24V Battery Voltages","tab":"3a8c30fa.bd04f","order":1,"disp":true,"width":"22","collapse":false},{"id":"2f57be2a.1d9482","type":"ui_group","name":"12V Battery Voltages","tab":"3a8c30fa.bd04f","order":2,"disp":true,"width":"22","collapse":false},{"id":"ea76cd67.24cac","type":"ui_tab","name":"FurnaceTemp","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"b59dcd88.7ace4","type":"ui_tab","name":"BlockHeat41","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"71f6ff47.b6fe9","type":"ui_group","name":"Controls","tab":"b59dcd88.7ace4","order":1,"disp":true,"width":6,"collapse":false},{"id":"95b2cce2.32d5e","type":"ui_group","name":"Temperatures","tab":"b59dcd88.7ace4","order":2,"disp":true,"width":10,"collapse":false},{"id":"333bb6f5.53ffaa","type":"mqtt-broker","name":"mqtt21","broker":"192.168.200.21","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4d218e63.34d8c","type":"ui_tab","name":"RainGauge","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"dff264e5.62692","type":"ui_tab","name":"Temperatures","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"a21ea40a.946868","type":"ui_group","name":"Furnace Temperature","tab":"ea76cd67.24cac","order":3,"disp":true,"width":"10","collapse":false},{"id":"3a8c30fa.bd04f","type":"ui_tab","name":"BattMon34","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"89813b92.261c78","type":"ui_group","name":"MQTT","tab":"","order":2,"disp":true,"width":7,"collapse":false},{"id":"2a5619c4.1bd726","type":"ui_spacer","name":"spacer","group":"89813b92.261c78","order":3,"width":4,"height":1},{"id":"b9dab6e1.e1cba8","type":"ui_spacer","name":"spacer","group":"89813b92.261c78","order":4,"width":7,"height":1},{"id":"9084736.003ba9","type":"ui_spacer","name":"spacer","group":"89813b92.261c78","order":5,"width":2,"height":1},{"id":"8a627c75.d7491","type":"ui_spacer","name":"spacer","group":"89813b92.261c78","order":7,"width":2,"height":1},{"id":"cce3349f.45b958","type":"ui_spacer","name":"spacer","group":"89813b92.261c78","order":8,"width":2,"height":1},{"id":"3d54b0f8.6e622","type":"ui_spacer","name":"spacer","group":"89813b92.261c78","order":9,"width":2,"height":1},{"id":"925e0650.189a78","type":"ui_spacer","name":"spacer","group":"","order":2,"width":6,"height":1},{"id":"f03116bf.fe1698","type":"ui_spacer","name":"spacer","group":"","order":3,"width":2,"height":1},{"id":"41f06247.fc970c","type":"ui_spacer","name":"spacer","group":"","order":4,"width":2,"height":1},{"id":"a767422d.a575","type":"ui_spacer","name":"spacer","group":"","order":5,"width":2,"height":1},{"id":"8ccb14d5.2bc498","type":"ui_spacer","name":"spacer","group":"","order":6,"width":2,"height":1},{"id":"1be952ad.5b7c3d","type":"ui_tab","name":"GardenWater03","icon":"dashboard","order":7,"disabled":false,"hidden":false},{"id":"b137338.ff230d","type":"ui_group","name":"Solar Voltage","tab":"1be952ad.5b7c3d","order":1,"disp":true,"width":10,"collapse":false},{"id":"ce063734.e3e7a8","type":"ui_group","name":"ESP8266","tab":"1be952ad.5b7c3d","order":2,"disp":true,"width":10,"collapse":false},{"id":"f5b2243.9c64bd8","type":"ui_tab","name":"PlantWater","icon":"dashboard","order":8,"disabled":false,"hidden":false},{"id":"1249cb1b.4f9575","type":"ui_group","name":"AfricanViolet","tab":"f5b2243.9c64bd8","order":1,"disp":true,"width":10,"collapse":false},{"id":"a674df91.073ef","type":"ui_spacer","name":"spacer","group":"1249cb1b.4f9575","order":2,"width":10,"height":1},{"id":"db4d2bda.55ed18","type":"ui_tab","name":"Testing","icon":"dashboard","order":9,"disabled":false,"hidden":false},{"id":"a78a18ea.8a7958","type":"ui_group","name":"PowerSwitch","tab":"db4d2bda.55ed18","order":1,"disp":true,"width":6,"collapse":false},{"id":"dc077d1c.5e85f","type":"ui_group","name":"Temps","tab":"dff264e5.62692","order":1,"disp":true,"width":16,"collapse":false},{"id":"98feebd1.c78568","type":"mqtt-broker","name":"mqtt00","broker":"mqtt00.local","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"899eb5c4.d4f138","type":"ui_group","name":"Temps","tab":"db4d2bda.55ed18","order":2,"disp":true,"width":14,"collapse":false},{"id":"c7225b00.065aa8","type":"ui_tab","name":"GardenWater02","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"a641b81d.993c8","type":"ui_group","name":"Solar Voltage","tab":"c7225b00.065aa8","order":1,"disp":true,"width":"10","collapse":false},{"id":"e81fc5c6.6eb65","type":"ui_group","name":"ESP8266","tab":"c7225b00.065aa8","order":2,"disp":true,"width":10,"collapse":false},{"id":"8a5df4c1.d306f8","type":"mqtt in","z":"e802f506.b7b218","name":"Raingauge","topic":"Weather/Raingauge","qos":"2","datatype":"auto","broker":"333bb6f5.53ffaa","x":150,"y":100,"wires":[["fc0be77a.0c5ba8"]]},{"id":"fc0be77a.0c5ba8","type":"ui_chart","z":"e802f506.b7b218","name":"Rain Gauge","group":"716c9ae.4946064","order":5,"width":16,"height":11,"label":"Rain Gauge","chartType":"line","legend":"true","xformat":"D/M","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"40","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":400,"y":100,"wires":[[]]},{"id":"1ecce7b8.bd1fb8","type":"ui_chart","z":"82c1b90e.34f6a8","name":"","group":"4d572a9c.a8ec54","order":3,"width":10,"height":6,"label":"24V Battery Voltages","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"23","ymax":"29","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff9200","#1c15e4","#aa7941","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":360,"y":180,"wires":[[]]},{"id":"cd7cf873.bfd4f8","type":"mqtt in","z":"82c1b90e.34f6a8","name":"","topic":"Garage/BlueOrange","qos":"2","datatype":"auto","broker":"333bb6f5.53ffaa","x":150,"y":100,"wires":[["1ecce7b8.bd1fb8","13b6866d.e42d4a"]]},{"id":"f064bc47.b9301","type":"mqtt in","z":"82c1b90e.34f6a8","name":"","topic":"Garage/BlueBlue","qos":"2","datatype":"auto","broker":"333bb6f5.53ffaa","x":140,"y":260,"wires":[["1ecce7b8.bd1fb8","57ea321c.1195ac"]]},{"id":"71d34e9a.2454e","type":"mqtt in","z":"82c1b90e.34f6a8","name":"","topic":"Garage/WhiteBrown","qos":"2","datatype":"auto","broker":"333bb6f5.53ffaa","x":150,"y":380,"wires":[["6c2543db.b9be3c","c9884d1b.e02e5"]]},{"id":"6c2543db.b9be3c","type":"ui_chart","z":"82c1b90e.34f6a8","name":"","group":"2f57be2a.1d9482","order":3,"width":10,"height":6,"label":"12V Battery Voltages","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"11","ymax":"16","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#aa7941","#ff9200","#0432ff","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":340,"y":460,"wires":[[]]},{"id":"49e826a8.f261e8","type":"mqtt in","z":"82c1b90e.34f6a8","name":"","topic":"Garage/WhiteOrange","qos":"2","datatype":"auto","broker":"333bb6f5.53ffaa","x":160,"y":540,"wires":[["6c2543db.b9be3c","68991dee.8dc2b4"]]},{"id":"13b6866d.e42d4a","type":"ui_gauge","z":"82c1b90e.34f6a8","name":"","group":"4d572a9c.a8ec54","order":1,"width":6,"height":6,"gtype":"gage","title":"Solar Batteries (BlueOrange)","label":"Volts","format":"{{value}}","min":"23","max":"29","colors":["#ff2600","#77bb40","#f6ec00"],"seg1":"24","seg2":"28","x":440,"y":100,"wires":[]},{"id":"57ea321c.1195ac","type":"ui_gauge","z":"82c1b90e.34f6a8","name":"","group":"4d572a9c.a8ec54","order":2,"width":6,"height":6,"gtype":"gage","title":"Garage Batteries (BlueBlue)","label":"Volts","format":"{{value}}","min":"23","max":"29","colors":["#ff2600","#77bb40","#f6ec00"],"seg1":"24","seg2":"28","x":440,"y":260,"wires":[]},{"id":"c9884d1b.e02e5","type":"ui_gauge","z":"82c1b90e.34f6a8","name":"","group":"2f57be2a.1d9482","order":1,"width":6,"height":6,"gtype":"gage","title":"Ham Battery (WhiteBrown)","label":"Volts","format":"{{value}}","min":"11","max":"16","colors":["#ff2600","#77bb40","#f6ec00"],"seg1":"12","seg2":"15","x":440,"y":380,"wires":[]},{"id":"68991dee.8dc2b4","type":"ui_gauge","z":"82c1b90e.34f6a8","name":"","group":"2f57be2a.1d9482","order":2,"width":6,"height":6,"gtype":"gage","title":"Trailer Batteries (WhiteOrange)","label":"Volts","format":"{{value}}","min":"11","max":"16","colors":["#ff2600","#77bb40","#f6ec00"],"seg1":"12","seg2":"15","x":430,"y":540,"wires":[]},{"id":"8fde0b53.708508","type":"mqtt out","z":"e5d3b05c.b979b","name":"","topic":"BlockHeat/right23","qos":"2","retain":"true","broker":"333bb6f5.53ffaa","x":610,"y":40,"wires":[]},{"id":"c401ae7d.c4ebc","type":"mqtt out","z":"e5d3b05c.b979b","name":"","topic":"BlockHeat/left24","qos":"2","retain":"true","broker":"333bb6f5.53ffaa","x":610,"y":280,"wires":[]},{"id":"6d0d65a9.16c5ec","type":"ui_switch","z":"e5d3b05c.b979b","name":"","label":"Left23","tooltip":"","group":"71f6ff47.b6fe9","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","x":390,"y":40,"wires":[["8fde0b53.708508"]]},{"id":"f7130e8d.e306f","type":"ui_switch","z":"e5d3b05c.b979b","name":"","label":"Right24","tooltip":"","group":"71f6ff47.b6fe9","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","x":420,"y":280,"wires":[["c401ae7d.c4ebc"]]},{"id":"e5f6cf68.68d85","type":"mqtt in","z":"e5d3b05c.b979b","name":"","topic":"BlockHeat/BlockInTemp","qos":"2","datatype":"auto","broker":"333bb6f5.53ffaa","x":130,"y":440,"wires":[["7b7ec3d9.4034ac","87876f26.3a6f9"]]},{"id":"7b7ec3d9.4034ac","type":"ui_gauge","z":"e5d3b05c.b979b","name":"Inside Temperature","group":"95b2cce2.32d5e","order":1,"width":5,"height":5,"gtype":"gage","title":"Inside Temp","label":"Celcius","format":"{{value}}","min":"-35","max":"35","colors":["#e6e600","#00b400","#ca3838"],"seg1":"0","seg2":"15","x":390,"y":440,"wires":[]},{"id":"9865e7a7.ac99c8","type":"ui_gauge","z":"e5d3b05c.b979b","name":"Outside Temperatures","group":"95b2cce2.32d5e","order":2,"width":5,"height":5,"gtype":"gage","title":"Outside Temp","label":"Celcius","format":"{{value}}","min":"-35","max":"35","colors":["#e6e600","#00b500","#ca3838"],"seg1":"0","seg2":"15","x":400,"y":600,"wires":[]},{"id":"949dcb51.d9c7b8","type":"mqtt in","z":"e5d3b05c.b979b","name":"","topic":"BlockHeat/BlockOutTemp","qos":"2","datatype":"auto","broker":"333bb6f5.53ffaa","x":130,"y":600,"wires":[["9865e7a7.ac99c8","87876f26.3a6f9"]]},{"id":"87876f26.3a6f9","type":"ui_chart","z":"e5d3b05c.b979b","name":"BlockHeat Temps","group":"95b2cce2.32d5e","order":3,"width":0,"height":0,"label":"BlockHeat Temps","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-40","ymax":"30","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":390,"y":520,"wires":[[]]},{"id":"78ba08d6.421f48","type":"mqtt in","z":"c8fd5ca6.a08288","name":"","topic":"Garage/AtticTemp","qos":"2","datatype":"auto","broker":"333bb6f5.53ffaa","x":150,"y":60,"wires":[["ee3879c0.07624","78d4f2f0.19c424","9be86484.89e348"]]},{"id":"e878f934.9820b","type":"mqtt in","z":"c8fd5ca6.a08288","name":"","topic":"Garage/CeilingTemp","qos":"2","datatype":"auto","broker":"333bb6f5.53ffaa","x":150,"y":160,"wires":[["c4834097.a365e","78d4f2f0.19c424","9be86484.89e348"]]},{"id":"886cf6cf.ced27","type":"mqtt in","z":"c8fd5ca6.a08288","name":"","topic":"Garage/DeskTemp","qos":"2","datatype":"auto","broker":"333bb6f5.53ffaa","x":150,"y":260,"wires":[["fe0e0fc9.8656d","78d4f2f0.19c424","9be86484.89e348"]]},{"id":"38c09754.87566","type":"mqtt in","z":"c8fd5ca6.a08288","name":"","topic":"Garage/OutsideTemp","qos":"2","datatype":"auto","broker":"333bb6f5.53ffaa","x":140,"y":360,"wires":[["df218e31.261238","78d4f2f0.19c424","9be86484.89e348"]]},{"id":"ee3879c0.07624","type":"ui_gauge","z":"c8fd5ca6.a08288","name":"Attic Temp","group":"dc077d1c.5e85f","order":1,"width":4,"height":4,"gtype":"gage","title":"Attic Temp","label":"units","format":"{{value}}","min":"-30","max":"50","colors":["#0432ff","#00f900","#ca3838"],"seg1":"0","seg2":"30","x":390,"y":60,"wires":[]},{"id":"c4834097.a365e","type":"ui_gauge","z":"c8fd5ca6.a08288","name":"Ceiling Temp","group":"dc077d1c.5e85f","order":2,"width":4,"height":4,"gtype":"gage","title":"Ceiling Temp","label":"Celcius","format":"{{value}}","min":0,"max":"35","colors":["#0432ff","#00f900","#ca3838"],"seg1":"10","seg2":"25","x":390,"y":160,"wires":[]},{"id":"fe0e0fc9.8656d","type":"ui_gauge","z":"c8fd5ca6.a08288","name":"Desk Temp","group":"dc077d1c.5e85f","order":3,"width":4,"height":4,"gtype":"gage","title":"Desk Temp","label":"Celcius","format":"{{value}}","min":0,"max":"35","colors":["#0432ff","#00f900","#ca3838"],"seg1":"10","seg2":"25","x":390,"y":260,"wires":[]},{"id":"df218e31.261238","type":"ui_gauge","z":"c8fd5ca6.a08288","name":"Outside Temp","group":"dc077d1c.5e85f","order":4,"width":4,"height":4,"gtype":"gage","title":"Outside Temp","label":"Celcius","format":"{{value}}","min":"-35","max":"35","colors":["#0432ff","#00f900","#ca3838"],"seg1":"0","seg2":"25","x":400,"y":360,"wires":[]},{"id":"78d4f2f0.19c424","type":"ui_chart","z":"c8fd5ca6.a08288","name":"All Temps","group":"dc077d1c.5e85f","order":6,"width":0,"height":0,"label":"Last Week","chartType":"line","legend":"true","xformat":"D/M","interpolate":"linear","nodata":"","dot":false,"ymin":"-35","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":720,"y":120,"wires":[[]]},{"id":"84e5d6bf.b3baa","type":"mqtt in","z":"e802f506.b7b218","name":"Quad1","topic":"Weather/Quad1","qos":"2","datatype":"auto","broker":"333bb6f5.53ffaa","x":150,"y":200,"wires":[["cfb5bc88.d151d"]]},{"id":"f9fc538b.b9d2a","type":"mqtt in","z":"e802f506.b7b218","name":"Quad2","topic":"Weather/Quad2","qos":"2","datatype":"auto","broker":"333bb6f5.53ffaa","x":150,"y":280,"wires":[["328b640a.f93694"]]},{"id":"56a053c6.98a2d4","type":"mqtt in","z":"e802f506.b7b218","name":"Quad3","topic":"Weather/Quad3","qos":"2","datatype":"auto","broker":"333bb6f5.53ffaa","x":150,"y":360,"wires":[["d4a5a449.f087f"]]},{"id":"bacabd06.068e68","type":"mqtt in","z":"e802f506.b7b218","name":"Quad4","topic":"Weather/Quad4","qos":"2","datatype":"auto","broker":"333bb6f5.53ffaa","x":150,"y":440,"wires":[["eb9ceced.73b4b"]]},{"id":"cfb5bc88.d151d","type":"ui_gauge","z":"e802f506.b7b218","name":"Midnight > 6am","group":"716c9ae.4946064","order":1,"width":4,"height":4,"gtype":"gage","title":"00:00 > 06:00","label":"mm","format":"{{value}}","min":0,"max":"35","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":400,"y":200,"wires":[]},{"id":"328b640a.f93694","type":"ui_gauge","z":"e802f506.b7b218","name":"6am > 12pm","group":"716c9ae.4946064","order":2,"width":4,"height":4,"gtype":"gage","title":"06:00 > 12:00","label":"mm","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":390,"y":280,"wires":[]},{"id":"d4a5a449.f087f","type":"ui_gauge","z":"e802f506.b7b218","name":"Noon > 6pm","group":"716c9ae.4946064","order":3,"width":4,"height":4,"gtype":"gage","title":"12:00 > 18:00","label":"mm","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":390,"y":360,"wires":[]},{"id":"eb9ceced.73b4b","type":"ui_gauge","z":"e802f506.b7b218","name":"6pm > Midnight","group":"716c9ae.4946064","order":4,"width":4,"height":4,"gtype":"gage","title":"18:00 > 24:00","label":"mm","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":400,"y":440,"wires":[]},{"id":"9cfdc014.907fd","type":"mqtt in","z":"7495b29c.33f8ec","name":"","topic":"Garage/FurnaceTemp","qos":"2","datatype":"auto","broker":"333bb6f5.53ffaa","x":170,"y":120,"wires":[["d41fa6fb.902338"]]},{"id":"d41fa6fb.902338","type":"ui_gauge","z":"7495b29c.33f8ec","name":"Garage Temperature","group":"a21ea40a.946868","order":0,"width":0,"height":0,"gtype":"gage","title":"FurnaceTemp","label":"Celcius","format":"{{value}}","min":0,"max":"35","colors":["#0015b3","#1be600","#ca3838"],"seg1":"10","seg2":"25","x":590,"y":120,"wires":[]},{"id":"1f051af8.8c4455","type":"ui_slider","z":"7495b29c.33f8ec","name":"","label":"Garage Temperature","tooltip":"","group":"a21ea40a.946868","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"10","max":"22","step":1,"x":210,"y":240,"wires":[["2d3ff7f1.fffa28"]]},{"id":"2d3ff7f1.fffa28","type":"mqtt out","z":"7495b29c.33f8ec","name":"","topic":"Garage/FurnaceHeat","qos":"2","retain":"true","broker":"333bb6f5.53ffaa","x":600,"y":240,"wires":[]},{"id":"9be86484.89e348","type":"ui_chart","z":"c8fd5ca6.a08288","name":"Last 24 Hours","group":"dc077d1c.5e85f","order":5,"width":0,"height":0,"label":"Last 24 hours","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-35","ymax":"35","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":720,"y":240,"wires":[[]]},{"id":"7c70658e.afef6c","type":"inject","z":"e5d3b05c.b979b","name":"BlockHeat Time ON","props":[{"p":"payload"}],"repeat":"","crontab":"00 03 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":160,"y":120,"wires":[["6d0d65a9.16c5ec","f7130e8d.e306f"]]},{"id":"4ccf6bba.977ab4","type":"inject","z":"e5d3b05c.b979b","name":"BlockHeat Time OFF","props":[{"p":"payload"}],"repeat":"","crontab":"00 10 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":160,"y":260,"wires":[["6d0d65a9.16c5ec","f7130e8d.e306f"]]},{"id":"8fa53ccd.3ff75","type":"ui_gauge","z":"b5c4464f.4a3ea8","name":"Battery Voltage","group":"b137338.ff230d","order":2,"width":0,"height":0,"gtype":"gage","title":"Battery Voltage","label":"Volts","format":"{{value}}","min":"10","max":"15","colors":["#b3001b","#60ef39","#f9f06b"],"seg1":"12","seg2":"14","x":400,"y":60,"wires":[]},{"id":"aaf98ec1.64242","type":"ui_chart","z":"b5c4464f.4a3ea8","name":"Battery Voltage Daily","group":"b137338.ff230d","order":3,"width":0,"height":0,"label":"Battery Voltage Daily","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"11","ymax":"15","removeOlder":"36","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":420,"y":120,"wires":[[]]},{"id":"6a01be00.824f84","type":"file","z":"b5c4464f.4a3ea8","d":true,"name":"","filename":"/home/robin/BattVolt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":420,"y":240,"wires":[[]]},{"id":"177342bd.b0398d","type":"mqtt in","z":"b5c4464f.4a3ea8","name":"","topic":"esp8266/03/RSSI","qos":"2","datatype":"auto","broker":"333bb6f5.53ffaa","x":120,"y":380,"wires":[["2becd7bb.8e6468","e9f73128.a39c8"]]},{"id":"2becd7bb.8e6468","type":"ui_chart","z":"b5c4464f.4a3ea8","name":"ESP8266 RSSI","group":"b137338.ff230d","order":6,"width":6,"height":6,"label":"RSSI","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-40","ymax":"-85","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ea32e","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":420,"y":420,"wires":[[]]},{"id":"e9f73128.a39c8","type":"ui_gauge","z":"b5c4464f.4a3ea8","name":"RSSI","group":"b137338.ff230d","order":5,"width":4,"height":6,"gtype":"gage","title":"ESP8266 RSSI","label":"dB","format":"{{value}}","min":"-85","max":"-40","colors":["#ca3838","#e6e600","#00b500"],"seg1":"-75","seg2":"65","x":390,"y":340,"wires":[]},{"id":"13d88c41.32b214","type":"mqtt in","z":"b5c4464f.4a3ea8","name":"","topic":"esp8266/03/outTemp","qos":"2","datatype":"auto","broker":"333bb6f5.53ffaa","x":140,"y":580,"wires":[["dc9a6020.c1239","b5c7821e.0336b","94deebfd.f3db48"]]},{"id":"dc9a6020.c1239","type":"ui_gauge","z":"b5c4464f.4a3ea8","name":"Outside Temp","group":"ce063734.e3e7a8","order":1,"width":0,"height":0,"gtype":"gage","title":"Outside Temp Daily","label":"Celcius","format":"{{value}}","min":"-40","max":"40","colors":["#0006b3","#00e645","#ca3838"],"seg1":"0","seg2":"22","x":400,"y":520,"wires":[]},{"id":"96e6b48e.9eeb68","type":"mqtt in","z":"ce257eba.c4e94","name":"Soil Moisture","topic":"esp8266/09/SOIL","qos":"2","datatype":"auto","broker":"333bb6f5.53ffaa","x":180,"y":120,"wires":[["935201e4.7c05f","e17e4a82.1b67c8"]]},{"id":"935201e4.7c05f","type":"ui_chart","z":"ce257eba.c4e94","name":"Plant Moisture","group":"1249cb1b.4f9575","order":3,"width":0,"height":0,"label":"Plant Moisture (Higher = Drier)","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"500","ymax":"650","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":440,"y":120,"wires":[[]]},{"id":"e17e4a82.1b67c8","type":"ui_gauge","z":"ce257eba.c4e94","name":"","group":"1249cb1b.4f9575","order":1,"width":0,"height":0,"gtype":"gage","title":"Plant Moisture (Higher = Drier)","label":"units","format":"{{value}}","min":"500","max":"650","colors":["#1220e2","#07f28d","#d7ee63"],"seg1":"540","seg2":"575","x":520,"y":200,"wires":[]},{"id":"7b523a33.1eef34","type":"mqtt out","z":"e461446c.a15ed8","d":true,"name":"","topic":"esp/pSwitch02","qos":"1","retain":"true","broker":"333bb6f5.53ffaa","x":580,"y":160,"wires":[]},{"id":"ef03c4e1.65c2b8","type":"inject","z":"e461446c.a15ed8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"100000000","payloadType":"str","x":120,"y":140,"wires":[["51a2a202.bbd7fc"]]},{"id":"a0b14675.8d27b8","type":"inject","z":"e461446c.a15ed8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"01000000","payloadType":"str","x":120,"y":200,"wires":[["f0f686b9.2f4d78"]]},{"id":"ee32dedd.9b192","type":"inject","z":"e461446c.a15ed8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"00000000","payloadType":"str","x":120,"y":80,"wires":[["2a698a95.4af096"]]},{"id":"2a698a95.4af096","type":"ui_button","z":"e461446c.a15ed8","d":true,"name":"","group":"a78a18ea.8a7958","order":1,"width":0,"height":0,"passthru":true,"label":"All Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"00000000","payloadType":"str","topic":"","x":290,"y":80,"wires":[["7b523a33.1eef34"]]},{"id":"51a2a202.bbd7fc","type":"ui_button","z":"e461446c.a15ed8","d":true,"name":"","group":"a78a18ea.8a7958","order":2,"width":0,"height":0,"passthru":true,"label":"1 On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"10000000","payloadType":"str","topic":"","x":290,"y":140,"wires":[["7b523a33.1eef34"]]},{"id":"f0f686b9.2f4d78","type":"ui_button","z":"e461446c.a15ed8","d":true,"name":"","group":"a78a18ea.8a7958","order":3,"width":0,"height":0,"passthru":true,"label":"2 On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"01000000","payloadType":"str","topic":"","x":290,"y":200,"wires":[["7b523a33.1eef34"]]},{"id":"9807ee29.aa07f","type":"inject","z":"b5c4464f.4a3ea8","d":true,"name":"Morning On","props":[{"p":"payload"}],"repeat":"","crontab":"00 06 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"10000000","payloadType":"str","x":110,"y":880,"wires":[["160aca6.d66cb36"]]},{"id":"2c32a55f.1a168a","type":"inject","z":"b5c4464f.4a3ea8","d":true,"name":"Morning Off","props":[{"p":"payload"}],"repeat":"","crontab":"03 06 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"00000000","payloadType":"str","x":110,"y":940,"wires":[["160aca6.d66cb36"]]},{"id":"25eb5e26.79b1a2","type":"inject","z":"b5c4464f.4a3ea8","d":true,"name":"Evening On","props":[{"p":"payload"}],"repeat":"","crontab":"00 18 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"10000000","payloadType":"str","x":110,"y":1120,"wires":[["160aca6.d66cb36"]]},{"id":"5f796731.778d78","type":"inject","z":"b5c4464f.4a3ea8","d":true,"name":"Evening Off","props":[{"p":"payload"}],"repeat":"","crontab":"03 18 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"00000000","payloadType":"str","x":110,"y":1180,"wires":[["160aca6.d66cb36"]]},{"id":"92eb50d2.3066b","type":"mqtt out","z":"b5c4464f.4a3ea8","name":"","topic":"esp8266/03/GPIO","qos":"1","retain":"true","broker":"333bb6f5.53ffaa","x":650,"y":1060,"wires":[]},{"id":"160aca6.d66cb36","type":"ui_switch","z":"b5c4464f.4a3ea8","name":"","label":"Garden Pump 01","tooltip":"","group":"b137338.ff230d","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"10000000","onvalueType":"str","onicon":"","oncolor":"","offvalue":"00000000","offvalueType":"str","officon":"","offcolor":"","x":410,"y":1060,"wires":[["92eb50d2.3066b"]]},{"id":"d2c5f530.8c2788","type":"inject","z":"b5c4464f.4a3ea8","d":true,"name":"Noon On","props":[{"p":"payload"}],"repeat":"","crontab":"00 12 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"10000000","payloadType":"str","x":110,"y":1000,"wires":[["160aca6.d66cb36"]]},{"id":"d74b21f2.2efad","type":"inject","z":"b5c4464f.4a3ea8","d":true,"name":"Noon Off","props":[{"p":"payload"}],"repeat":"","crontab":"03 12 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"00000000","payloadType":"str","x":110,"y":1060,"wires":[["160aca6.d66cb36"]]},{"id":"b5c7821e.0336b","type":"ui_chart","z":"b5c4464f.4a3ea8","name":"","group":"ce063734.e3e7a8","order":3,"width":0,"height":0,"label":"Outside Temp Weekly","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"-40","ymax":"40","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":420,"y":640,"wires":[[]]},{"id":"30960182.23f76e","type":"mqtt in","z":"b5c4464f.4a3ea8","name":"","topic":"esp8266/03/battVolt","qos":"2","datatype":"auto","broker":"333bb6f5.53ffaa","x":150,"y":160,"wires":[["8fa53ccd.3ff75","aaf98ec1.64242","6a01be00.824f84","31a2476a.3fea68"]]},{"id":"64aaa5f3.5287ac","type":"inject","z":"e461446c.a15ed8","name":"","props":[{"p":"payload"}],"repeat":"300","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":340,"wires":[["b75b483.24b30b8"]]},{"id":"d593de7b.973c6","type":"mqtt in","z":"e461446c.a15ed8","name":"","topic":"esp8266/05/RSSI","qos":"2","datatype":"auto","broker":"333bb6f5.53ffaa","x":140,"y":400,"wires":[["b75b483.24b30b8","eab9c522.0fd158","3780a954.73038e"]]},{"id":"b75b483.24b30b8","type":"file","z":"e461446c.a15ed8","name":"","filename":"/home/robin/esp8266-05-time.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":610,"y":320,"wires":[[]]},{"id":"31a2476a.3fea68","type":"ui_chart","z":"b5c4464f.4a3ea8","name":"Battery Voltage Weekly","group":"b137338.ff230d","order":4,"width":0,"height":0,"label":"Battery Voltage Weekly","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"11","ymax":"15","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#0e87dd","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":430,"y":180,"wires":[[]]},{"id":"94deebfd.f3db48","type":"ui_chart","z":"b5c4464f.4a3ea8","name":"","group":"ce063734.e3e7a8","order":2,"width":0,"height":0,"label":"Outside Temp Daily","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"-40","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":410,"y":580,"wires":[[]]},{"id":"5a088bb7.845a24","type":"mqtt in","z":"e461446c.a15ed8","name":"","topic":"pico/00/basementTemp","qos":"2","datatype":"auto","broker":"333bb6f5.53ffaa","x":140,"y":640,"wires":[["5344dcf3.878304","e29ea18.1eb776","698f3a14.a92094"]]},{"id":"5344dcf3.878304","type":"ui_gauge","z":"e461446c.a15ed8","name":"Pico Basement Temp","group":"899eb5c4.d4f138","order":1,"width":7,"height":7,"gtype":"gage","title":"Pico Basement Temp","label":"Celius","format":"{{value}}","min":"10","max":"30","colors":["#2700b3","#00b500","#ca3838"],"seg1":"15","seg2":"25","x":580,"y":620,"wires":[]},{"id":"e29ea18.1eb776","type":"ui_chart","z":"e461446c.a15ed8","name":"Pico Basement Temp","group":"899eb5c4.d4f138","order":2,"width":7,"height":7,"label":"Pico Basement Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"10","ymax":"30","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":580,"y":680,"wires":[[]]},{"id":"698f3a14.a92094","type":"file","z":"e461446c.a15ed8","name":"","filename":"/home/robin/pico-00-time.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":600,"y":560,"wires":[[]]},{"id":"a27e2a2a.aa07a8","type":"inject","z":"e461446c.a15ed8","name":"","props":[{"p":"payload"}],"repeat":"300","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":580,"wires":[["698f3a14.a92094"]]},{"id":"d9c34d8e.cfdeb","type":"inject","z":"e461446c.a15ed8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":780,"wires":[["dad7c7c7.dffc88"]]},{"id":"58f9c344.3ed4fc","type":"mqtt in","z":"e461446c.a15ed8","name":"","topic":"esp8266/05/temp","qos":"2","datatype":"auto","broker":"333bb6f5.53ffaa","x":140,"y":840,"wires":[["dad7c7c7.dffc88","c674f6fa.d9c858","4789dd7e.eaa124"]]},{"id":"dad7c7c7.dffc88","type":"file","z":"e461446c.a15ed8","name":"","filename":"/home/robin/esp8266-05-time.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":610,"y":760,"wires":[[]]},{"id":"c674f6fa.d9c858","type":"ui_gauge","z":"e461446c.a15ed8","name":"ESP8266-05 Basement temp","group":"899eb5c4.d4f138","order":3,"width":7,"height":7,"gtype":"gage","title":"ESP8266-05 Basement temp","label":"units","format":"{{value}}","min":"10","max":"30","colors":["#0401d0","#00b500","#ca3838"],"seg1":"20","seg2":"25","x":600,"y":820,"wires":[]},{"id":"4789dd7e.eaa124","type":"ui_chart","z":"e461446c.a15ed8","name":"ESP8266-05 Basement Temp","group":"899eb5c4.d4f138","order":4,"width":7,"height":7,"label":"ESP8266-05 Basement Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"10","ymax":"30","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d22928","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":610,"y":880,"wires":[[]]},{"id":"eab9c522.0fd158","type":"ui_gauge","z":"e461446c.a15ed8","name":"","group":"899eb5c4.d4f138","order":5,"width":7,"height":7,"gtype":"gage","title":"ESP8266-05 RSSI","label":"units","format":"{{value}}","min":"-40","max":"-70","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":380,"wires":[]},{"id":"3780a954.73038e","type":"ui_chart","z":"e461446c.a15ed8","name":"","group":"899eb5c4.d4f138","order":6,"width":7,"height":7,"label":"ESP8266-05 RSSI","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-40","ymax":"-70","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":570,"y":440,"wires":[[]]},{"id":"263280d7.c81da","type":"mqtt in","z":"b5c4464f.4a3ea8","name":"","topic":"esp8266/03/battTemp","qos":"2","datatype":"auto","broker":"333bb6f5.53ffaa","x":120,"y":720,"wires":[["3ae3b757.25fc4","583f63e6.3a1824","5d857db3.634d9c"]]},{"id":"3ae3b757.25fc4","type":"ui_gauge","z":"b5c4464f.4a3ea8","name":"Battery Temp","group":"ce063734.e3e7a8","order":4,"width":0,"height":0,"gtype":"gage","title":"Battery Temperature","label":"Celcius","format":"{{value}}","min":"-40","max":"40","colors":["#1a5fb4","#8ff0a4","#ca3838"],"seg1":"0","seg2":"22","x":400,"y":720,"wires":[]},{"id":"583f63e6.3a1824","type":"ui_chart","z":"b5c4464f.4a3ea8","name":"Battery Temp Daily","group":"ce063734.e3e7a8","order":5,"width":0,"height":0,"label":"Battery Temp Daily","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"-40","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#8529db","#c5b0d5"],"outputs":1,"x":420,"y":780,"wires":[[]]},{"id":"5d857db3.634d9c","type":"ui_chart","z":"b5c4464f.4a3ea8","name":"","group":"ce063734.e3e7a8","order":6,"width":0,"height":0,"label":"Battery Temp Weekly","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"-40","ymax":"40","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#7823c7","#c5b0d5"],"outputs":1,"x":440,"y":840,"wires":[[]]},{"id":"62fdfc00.ed757c","type":"ui_gauge","z":"406be489.84d4cc","name":"Battery Voltage","group":"a641b81d.993c8","order":2,"width":10,"height":6,"gtype":"gage","title":"Battery Voltage","label":"Volts","format":"{{value}}","min":"10","max":"15","colors":["#b3001b","#00e645","#e6e600"],"seg1":"12","seg2":"14","x":420,"y":60,"wires":[]},{"id":"b218a804.410ed8","type":"ui_chart","z":"406be489.84d4cc","name":"Battery Voltage Daily","group":"a641b81d.993c8","order":3,"width":10,"height":6,"label":"Battery Voltage Daily","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"11","ymax":"15","removeOlder":"36","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":440,"y":120,"wires":[[]]},{"id":"513ef858.f67dc8","type":"file","z":"406be489.84d4cc","d":true,"name":"","filename":"/home/robin/BattVolt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":440,"y":240,"wires":[[]]},{"id":"9f7c2021.6e8f6","type":"mqtt in","z":"406be489.84d4cc","name":"","topic":"esp8266/02/RSSI","qos":"2","datatype":"auto","broker":"333bb6f5.53ffaa","x":140,"y":380,"wires":[["2af69aae.17b89e","bd125159.49ce6"]]},{"id":"2af69aae.17b89e","type":"ui_chart","z":"406be489.84d4cc","name":"ESP8266 RSSI","group":"a641b81d.993c8","order":6,"width":6,"height":6,"label":"RSSI","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-40","ymax":"-85","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ea32e","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":440,"y":420,"wires":[[]]},{"id":"bd125159.49ce6","type":"ui_gauge","z":"406be489.84d4cc","name":"RSSI","group":"a641b81d.993c8","order":5,"width":4,"height":6,"gtype":"gage","title":"ESP8266 RSSI","label":"dB","format":"{{value}}","min":"-85","max":"-40","colors":["#ca3838","#e6e600","#00b500"],"seg1":"-75","seg2":"65","x":410,"y":340,"wires":[]},{"id":"669a0f0a.16cc9","type":"mqtt in","z":"406be489.84d4cc","name":"","topic":"esp8266/02/outTemp","qos":"2","datatype":"auto","broker":"333bb6f5.53ffaa","x":160,"y":520,"wires":[["7d6c4d22.211764","84ee777c.86c488","2fac8623.366512"]]},{"id":"7d6c4d22.211764","type":"ui_gauge","z":"406be489.84d4cc","name":"Outside Temp","group":"e81fc5c6.6eb65","order":1,"width":0,"height":0,"gtype":"gage","title":"Outside Temp Daily","label":"Celcius","format":"{{value}}","min":"-40","max":"40","colors":["#0006b3","#00e645","#ca3838"],"seg1":"0","seg2":"22","x":420,"y":520,"wires":[]},{"id":"910067e1.48eea","type":"inject","z":"406be489.84d4cc","d":true,"name":"Morning On","props":[{"p":"payload"}],"repeat":"","crontab":"00 06 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"10000000","payloadType":"str","x":130,"y":880,"wires":[["11596caf.3b3a7b"]]},{"id":"6421e836.9d48c8","type":"inject","z":"406be489.84d4cc","d":true,"name":"Morning Off","props":[{"p":"payload"}],"repeat":"","crontab":"03 06 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"00000000","payloadType":"str","x":130,"y":940,"wires":[["11596caf.3b3a7b"]]},{"id":"e2d53442.fc804","type":"inject","z":"406be489.84d4cc","d":true,"name":"Evening On","props":[{"p":"payload"}],"repeat":"","crontab":"00 18 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"10000000","payloadType":"str","x":130,"y":1120,"wires":[["11596caf.3b3a7b"]]},{"id":"a388fd5e.ee7e98","type":"inject","z":"406be489.84d4cc","d":true,"name":"Evening Off","props":[{"p":"payload"}],"repeat":"","crontab":"03 18 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"00000000","payloadType":"str","x":130,"y":1180,"wires":[["11596caf.3b3a7b"]]},{"id":"e3745c2d.74fc38","type":"mqtt out","z":"406be489.84d4cc","name":"","topic":"esp8266/02/GPIO","qos":"1","retain":"true","broker":"333bb6f5.53ffaa","x":650,"y":1060,"wires":[]},{"id":"11596caf.3b3a7b","type":"ui_switch","z":"406be489.84d4cc","name":"","label":"Garden Pump 01","tooltip":"","group":"a641b81d.993c8","order":1,"width":10,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"10000000","onvalueType":"str","onicon":"","oncolor":"","offvalue":"00000000","offvalueType":"str","officon":"","offcolor":"","x":430,"y":1060,"wires":[["e3745c2d.74fc38"]]},{"id":"14274981.4034ce","type":"inject","z":"406be489.84d4cc","d":true,"name":"Noon On","props":[{"p":"payload"}],"repeat":"","crontab":"00 12 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"10000000","payloadType":"str","x":130,"y":1000,"wires":[["11596caf.3b3a7b"]]},{"id":"aab4eeda.09b9b8","type":"inject","z":"406be489.84d4cc","d":true,"name":"Noon Off","props":[{"p":"payload"}],"repeat":"","crontab":"03 12 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"00000000","payloadType":"str","x":130,"y":1060,"wires":[["11596caf.3b3a7b"]]},{"id":"84ee777c.86c488","type":"ui_chart","z":"406be489.84d4cc","name":"","group":"e81fc5c6.6eb65","order":3,"width":0,"height":0,"label":"Outside Temp Weekly","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"-40","ymax":"40","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":440,"y":640,"wires":[[]]},{"id":"b202174a.ea353","type":"mqtt in","z":"406be489.84d4cc","name":"","topic":"esp8266/02/battVolt","qos":"2","datatype":"auto","broker":"333bb6f5.53ffaa","x":130,"y":140,"wires":[["62fdfc00.ed757c","b218a804.410ed8","513ef858.f67dc8","7f15dd70.2b03dc"]]},{"id":"7f15dd70.2b03dc","type":"ui_chart","z":"406be489.84d4cc","name":"Battery Voltage Weekly","group":"a641b81d.993c8","order":4,"width":10,"height":6,"label":"Battery Voltage Weekly","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"11","ymax":"15","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#0e87dd","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":450,"y":180,"wires":[[]]},{"id":"2fac8623.366512","type":"ui_chart","z":"406be489.84d4cc","name":"","group":"e81fc5c6.6eb65","order":2,"width":0,"height":0,"label":"Outside Temp Daily","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"-40","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":430,"y":580,"wires":[[]]},{"id":"7bc42986.d8ce1","type":"mqtt in","z":"406be489.84d4cc","name":"","topic":"esp8266/02/battTemp","qos":"2","datatype":"auto","broker":"333bb6f5.53ffaa","x":140,"y":720,"wires":[["3eff2c31.273294","76d0f06e.b4fed8","3134d19f.5a7b4e"]]},{"id":"3eff2c31.273294","type":"ui_gauge","z":"406be489.84d4cc","name":"Battery Temp","group":"e81fc5c6.6eb65","order":4,"width":0,"height":0,"gtype":"gage","title":"Battery Temperature","label":"Celcius","format":"{{value}}","min":"-40","max":"40","colors":["#1a5fb4","#00e645","#ca3838"],"seg1":"0","seg2":"22","x":420,"y":720,"wires":[]},{"id":"76d0f06e.b4fed8","type":"ui_chart","z":"406be489.84d4cc","name":"Battery Temp Daily","group":"e81fc5c6.6eb65","order":5,"width":0,"height":0,"label":"Battery Temp Daily","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"-40","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#8529db","#c5b0d5"],"outputs":1,"x":440,"y":780,"wires":[[]]},{"id":"3134d19f.5a7b4e","type":"ui_chart","z":"406be489.84d4cc","name":"","group":"e81fc5c6.6eb65","order":6,"width":0,"height":0,"label":"Battery Temp Weekly","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"-40","ymax":"40","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#7823c7","#c5b0d5"],"outputs":1,"x":460,"y":840,"wires":[[]]}]