mqtt21/mqtt21Flows2021.12.18.json
[{"id":"82c1b90e.34f6a8","type":"tab","label":"BattMon24","disabled":false,"info":""},{"id":"e5d3b05c.b979b","type":"tab","label":"BlockHeat41","disabled":false,"info":""},{"id":"455fe491.9befcc","type":"tab","label":"Gardentemp32","disabled":false,"info":""},{"id":"e802f506.b7b218","type":"tab","label":"RainGauge","disabled":false,"info":""},{"id":"c8fd5ca6.a08288","type":"tab","label":"Temperatures","disabled":false,"info":""},{"id":"7495b29c.33f8ec","type":"tab","label":"FurnaceTemp","disabled":false,"info":""},{"id":"1b582d29.fe2693","type":"ui_tab","name":"Gardentemp32","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"716c9ae.4946064","type":"ui_group","name":"Rain Gauge","tab":"4d218e63.34d8c","order":1,"disp":true,"width":16,"collapse":false},{"id":"ebd0b4b6.e05da8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"true","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":58,"sy":48,"gx":6,"gy":6,"cx":2,"cy":4,"px":0,"py":0}}},{"id":"aca973d7.74c73","type":"ui_group","name":"Inside & Outside Temps","tab":"1b582d29.fe2693","order":1,"disp":true,"width":"20","collapse":false},{"id":"4d572a9c.a8ec54","type":"ui_group","name":"24V Battery Voltages","tab":"3a8c30fa.bd04f","order":1,"disp":true,"width":"22","collapse":false},{"id":"2f57be2a.1d9482","type":"ui_group","name":"12V Battery Voltages","tab":"3a8c30fa.bd04f","order":2,"disp":true,"width":"22","collapse":false},{"id":"ea76cd67.24cac","type":"ui_tab","name":"FurnaceTemp","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"b59dcd88.7ace4","type":"ui_tab","name":"BlockHeat41","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"71f6ff47.b6fe9","type":"ui_group","name":"Controls","tab":"b59dcd88.7ace4","order":1,"disp":true,"width":6,"collapse":false},{"id":"95b2cce2.32d5e","type":"ui_group","name":"Temperatures","tab":"b59dcd88.7ace4","order":2,"disp":true,"width":10,"collapse":false},{"id":"333bb6f5.53ffaa","type":"mqtt-broker","name":"mqtt21","broker":"192.168.200.21","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4d218e63.34d8c","type":"ui_tab","name":"RainGauge","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"dff264e5.62692","type":"ui_tab","name":"Temperatures","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"d81316b6.3d9f6","type":"ui_group","name":"All Temps","tab":"dff264e5.62692","order":1,"disp":true,"width":"16","collapse":false},{"id":"a21ea40a.946868","type":"ui_group","name":"Furnace Temperature","tab":"ea76cd67.24cac","order":3,"disp":true,"width":"10","collapse":false},{"id":"3a8c30fa.bd04f","type":"ui_tab","name":"BattMon34","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"3317a489.5e728c","type":"mqtt in","z":"455fe491.9befcc","name":"","topic":"Garden/OutTemp","qos":"2","datatype":"auto","broker":"333bb6f5.53ffaa","x":170,"y":80,"wires":[["bedd43b4.48a24","306169d0.164416"]]},{"id":"bedd43b4.48a24","type":"ui_chart","z":"455fe491.9befcc","name":"Outside Temps","group":"aca973d7.74c73","order":0,"width":"10","height":"6","label":"Outside Temps Label","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-35","ymax":"40","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":380,"y":180,"wires":[[]]},{"id":"5a54dc02.e22c84","type":"mqtt in","z":"455fe491.9befcc","name":"","topic":"Garden/InTemp","qos":"2","datatype":"auto","broker":"333bb6f5.53ffaa","x":160,"y":280,"wires":[["bedd43b4.48a24","6d5b16f1.fbffe8"]]},{"id":"8a5df4c1.d306f8","type":"mqtt in","z":"e802f506.b7b218","name":"Raingauge","topic":"Weather/Raingauge","qos":"2","datatype":"auto","broker":"333bb6f5.53ffaa","x":150,"y":100,"wires":[["fc0be77a.0c5ba8"]]},{"id":"fc0be77a.0c5ba8","type":"ui_chart","z":"e802f506.b7b218","name":"Rain Gauge","group":"716c9ae.4946064","order":5,"width":16,"height":11,"label":"Rain Gauge","chartType":"line","legend":"true","xformat":"D/M","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"40","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":400,"y":100,"wires":[[]]},{"id":"1ecce7b8.bd1fb8","type":"ui_chart","z":"82c1b90e.34f6a8","name":"","group":"4d572a9c.a8ec54","order":3,"width":10,"height":6,"label":"24V Battery Voltages","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"23","ymax":"29","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff9200","#1c15e4","#aa7941","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":360,"y":180,"wires":[[]]},{"id":"cd7cf873.bfd4f8","type":"mqtt in","z":"82c1b90e.34f6a8","name":"","topic":"Garage/BlueOrange","qos":"2","datatype":"auto","broker":"333bb6f5.53ffaa","x":150,"y":100,"wires":[["1ecce7b8.bd1fb8","13b6866d.e42d4a"]]},{"id":"f064bc47.b9301","type":"mqtt in","z":"82c1b90e.34f6a8","name":"","topic":"Garage/BlueBlue","qos":"2","datatype":"auto","broker":"333bb6f5.53ffaa","x":140,"y":260,"wires":[["1ecce7b8.bd1fb8","57ea321c.1195ac"]]},{"id":"71d34e9a.2454e","type":"mqtt in","z":"82c1b90e.34f6a8","name":"","topic":"Garage/WhiteBrown","qos":"2","datatype":"auto","broker":"333bb6f5.53ffaa","x":150,"y":380,"wires":[["6c2543db.b9be3c","c9884d1b.e02e5"]]},{"id":"6c2543db.b9be3c","type":"ui_chart","z":"82c1b90e.34f6a8","name":"","group":"2f57be2a.1d9482","order":3,"width":10,"height":6,"label":"12V Battery Voltages","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"11","ymax":"16","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#aa7941","#ff9200","#0432ff","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":340,"y":460,"wires":[[]]},{"id":"49e826a8.f261e8","type":"mqtt in","z":"82c1b90e.34f6a8","name":"","topic":"Garage/WhiteOrange","qos":"2","datatype":"auto","broker":"333bb6f5.53ffaa","x":160,"y":540,"wires":[["6c2543db.b9be3c","68991dee.8dc2b4"]]},{"id":"13b6866d.e42d4a","type":"ui_gauge","z":"82c1b90e.34f6a8","name":"","group":"4d572a9c.a8ec54","order":1,"width":6,"height":6,"gtype":"gage","title":"Solar Batteries (BlueOrange)","label":"Volts","format":"{{value}}","min":"23","max":"29","colors":["#ff2600","#77bb40","#f6ec00"],"seg1":"24","seg2":"28","x":440,"y":100,"wires":[]},{"id":"57ea321c.1195ac","type":"ui_gauge","z":"82c1b90e.34f6a8","name":"","group":"4d572a9c.a8ec54","order":2,"width":6,"height":6,"gtype":"gage","title":"Garage Batteries (BlueBlue)","label":"Volts","format":"{{value}}","min":"23","max":"29","colors":["#ff2600","#77bb40","#f6ec00"],"seg1":"24","seg2":"28","x":440,"y":260,"wires":[]},{"id":"c9884d1b.e02e5","type":"ui_gauge","z":"82c1b90e.34f6a8","name":"","group":"2f57be2a.1d9482","order":1,"width":6,"height":6,"gtype":"gage","title":"Ham Battery (WhiteBrown)","label":"Volts","format":"{{value}}","min":"11","max":"16","colors":["#ff2600","#77bb40","#f6ec00"],"seg1":"12","seg2":"15","x":440,"y":380,"wires":[]},{"id":"68991dee.8dc2b4","type":"ui_gauge","z":"82c1b90e.34f6a8","name":"","group":"2f57be2a.1d9482","order":2,"width":6,"height":6,"gtype":"gage","title":"Trailer Batteries (WhiteOrange)","label":"Volts","format":"{{value}}","min":"11","max":"16","colors":["#ff2600","#77bb40","#f6ec00"],"seg1":"12","seg2":"15","x":430,"y":540,"wires":[]},{"id":"306169d0.164416","type":"ui_gauge","z":"455fe491.9befcc","name":"Outside Temp","group":"aca973d7.74c73","order":1,"width":"5","height":"5","gtype":"gage","title":"Outside Temp","label":"Celcius","format":"{{value}}","min":"-30","max":"30","colors":["#ca3838","#e6e600","#00b500"],"seg1":"0","seg2":"15","x":380,"y":80,"wires":[]},{"id":"6d5b16f1.fbffe8","type":"ui_gauge","z":"455fe491.9befcc","name":"Inside Temp","group":"aca973d7.74c73","order":2,"width":"5","height":"5","gtype":"gage","title":"Inside Temp","label":"Celcius","format":"{{value}}","min":"-30","max":"30","colors":["#ca3838","#e6e600","#00b500"],"seg1":"0","seg2":"15","x":370,"y":280,"wires":[]},{"id":"8fde0b53.708508","type":"mqtt out","z":"e5d3b05c.b979b","name":"","topic":"BlockHeat/right23","qos":"2","retain":"","broker":"333bb6f5.53ffaa","x":430,"y":40,"wires":[]},{"id":"c401ae7d.c4ebc","type":"mqtt out","z":"e5d3b05c.b979b","name":"","topic":"BlockHeat/left24","qos":"2","retain":"","broker":"333bb6f5.53ffaa","x":430,"y":200,"wires":[]},{"id":"6d0d65a9.16c5ec","type":"ui_switch","z":"e5d3b05c.b979b","name":"","label":"Right23","tooltip":"","group":"71f6ff47.b6fe9","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","x":100,"y":40,"wires":[["8fde0b53.708508"]]},{"id":"f7130e8d.e306f","type":"ui_switch","z":"e5d3b05c.b979b","name":"","label":"Left24","tooltip":"","group":"71f6ff47.b6fe9","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","x":110,"y":200,"wires":[["c401ae7d.c4ebc"]]},{"id":"e5f6cf68.68d85","type":"mqtt in","z":"e5d3b05c.b979b","name":"","topic":"BlockHeat/BlockInTemp","qos":"2","datatype":"auto","broker":"333bb6f5.53ffaa","x":130,"y":340,"wires":[["7b7ec3d9.4034ac","87876f26.3a6f9"]]},{"id":"7b7ec3d9.4034ac","type":"ui_gauge","z":"e5d3b05c.b979b","name":"Inside Temperature","group":"95b2cce2.32d5e","order":1,"width":5,"height":5,"gtype":"gage","title":"Inside Temp","label":"Celcius","format":"{{value}}","min":"-30","max":"30","colors":["#e6e600","#00b400","#ca3838"],"seg1":"0","seg2":"15","x":410,"y":340,"wires":[]},{"id":"9865e7a7.ac99c8","type":"ui_gauge","z":"e5d3b05c.b979b","name":"Outside Temperatures","group":"95b2cce2.32d5e","order":2,"width":5,"height":5,"gtype":"gage","title":"Outside Temp","label":"Celcius","format":"{{value}}","min":"-30","max":"30","colors":["#e6e600","#00b500","#ca3838"],"seg1":"0","seg2":"15","x":420,"y":460,"wires":[]},{"id":"949dcb51.d9c7b8","type":"mqtt in","z":"e5d3b05c.b979b","name":"","topic":"BlockHeat/BlockOutTemp","qos":"2","datatype":"auto","broker":"333bb6f5.53ffaa","x":130,"y":460,"wires":[["9865e7a7.ac99c8","87876f26.3a6f9"]]},{"id":"87876f26.3a6f9","type":"ui_chart","z":"e5d3b05c.b979b","name":"BlockHeat Temps","group":"95b2cce2.32d5e","order":3,"width":0,"height":0,"label":"BlockHeat Temps","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-30","ymax":"30","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":410,"y":400,"wires":[[]]},{"id":"78ba08d6.421f48","type":"mqtt in","z":"c8fd5ca6.a08288","name":"","topic":"Garage/AtticTemp","qos":"2","datatype":"auto","broker":"333bb6f5.53ffaa","x":150,"y":60,"wires":[["ee3879c0.07624","78d4f2f0.19c424"]]},{"id":"e878f934.9820b","type":"mqtt in","z":"c8fd5ca6.a08288","name":"","topic":"Garage/CeilingTemp","qos":"2","datatype":"auto","broker":"333bb6f5.53ffaa","x":150,"y":160,"wires":[["c4834097.a365e","78d4f2f0.19c424"]]},{"id":"886cf6cf.ced27","type":"mqtt in","z":"c8fd5ca6.a08288","name":"","topic":"Garage/DeskTemp","qos":"2","datatype":"auto","broker":"333bb6f5.53ffaa","x":150,"y":260,"wires":[["fe0e0fc9.8656d","78d4f2f0.19c424"]]},{"id":"38c09754.87566","type":"mqtt in","z":"c8fd5ca6.a08288","name":"","topic":"Garage/OutsideTemp","qos":"2","datatype":"auto","broker":"333bb6f5.53ffaa","x":140,"y":360,"wires":[["df218e31.261238","78d4f2f0.19c424"]]},{"id":"ee3879c0.07624","type":"ui_gauge","z":"c8fd5ca6.a08288","name":"Attic Temp","group":"d81316b6.3d9f6","order":1,"width":4,"height":4,"gtype":"gage","title":"Attic Temp","label":"units","format":"{{value}}","min":"-30","max":"50","colors":["#0432ff","#00f900","#ca3838"],"seg1":"0","seg2":"30","x":390,"y":60,"wires":[]},{"id":"c4834097.a365e","type":"ui_gauge","z":"c8fd5ca6.a08288","name":"Ceiling Temp","group":"d81316b6.3d9f6","order":2,"width":4,"height":4,"gtype":"gage","title":"Ceiling Temp","label":"Celcius","format":"{{value}}","min":0,"max":"35","colors":["#0432ff","#00f900","#ca3838"],"seg1":"10","seg2":"25","x":390,"y":160,"wires":[]},{"id":"fe0e0fc9.8656d","type":"ui_gauge","z":"c8fd5ca6.a08288","name":"Desk Temp","group":"d81316b6.3d9f6","order":3,"width":4,"height":4,"gtype":"gage","title":"Desk Temp","label":"Celcius","format":"{{value}}","min":0,"max":"35","colors":["#0432ff","#00f900","#ca3838"],"seg1":"10","seg2":"25","x":390,"y":260,"wires":[]},{"id":"df218e31.261238","type":"ui_gauge","z":"c8fd5ca6.a08288","name":"Outside Temp","group":"d81316b6.3d9f6","order":4,"width":4,"height":4,"gtype":"gage","title":"Outside Temp","label":"Celcius","format":"{{value}}","min":"-35","max":"35","colors":["#0432ff","#00f900","#ca3838"],"seg1":"0","seg2":"25","x":400,"y":360,"wires":[]},{"id":"78d4f2f0.19c424","type":"ui_chart","z":"c8fd5ca6.a08288","name":"All Temps","group":"d81316b6.3d9f6","order":6,"width":0,"height":0,"label":"chart","chartType":"line","legend":"true","xformat":"D/M","interpolate":"linear","nodata":"","dot":false,"ymin":"-35","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":720,"y":200,"wires":[[]]},{"id":"84e5d6bf.b3baa","type":"mqtt in","z":"e802f506.b7b218","name":"Quad1","topic":"Weather/Quad1","qos":"2","datatype":"auto","broker":"333bb6f5.53ffaa","x":150,"y":200,"wires":[["cfb5bc88.d151d"]]},{"id":"f9fc538b.b9d2a","type":"mqtt in","z":"e802f506.b7b218","name":"Quad2","topic":"Weather/Quad2","qos":"2","datatype":"auto","broker":"333bb6f5.53ffaa","x":150,"y":280,"wires":[["328b640a.f93694"]]},{"id":"56a053c6.98a2d4","type":"mqtt in","z":"e802f506.b7b218","name":"Quad3","topic":"Weather/Quad3","qos":"2","datatype":"auto","broker":"333bb6f5.53ffaa","x":150,"y":360,"wires":[["d4a5a449.f087f"]]},{"id":"bacabd06.068e68","type":"mqtt in","z":"e802f506.b7b218","name":"Quad4","topic":"Weather/Quad4","qos":"2","datatype":"auto","broker":"333bb6f5.53ffaa","x":150,"y":440,"wires":[["eb9ceced.73b4b"]]},{"id":"cfb5bc88.d151d","type":"ui_gauge","z":"e802f506.b7b218","name":"Midnight > 6am","group":"716c9ae.4946064","order":1,"width":4,"height":4,"gtype":"gage","title":"00:00 > 06:00","label":"mm","format":"{{value}}","min":0,"max":"35","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":400,"y":200,"wires":[]},{"id":"328b640a.f93694","type":"ui_gauge","z":"e802f506.b7b218","name":"6am > 12pm","group":"716c9ae.4946064","order":2,"width":4,"height":4,"gtype":"gage","title":"06:00 > 12:00","label":"mm","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":390,"y":280,"wires":[]},{"id":"d4a5a449.f087f","type":"ui_gauge","z":"e802f506.b7b218","name":"Noon > 6pm","group":"716c9ae.4946064","order":3,"width":4,"height":4,"gtype":"gage","title":"12:00 > 18:00","label":"mm","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":390,"y":360,"wires":[]},{"id":"eb9ceced.73b4b","type":"ui_gauge","z":"e802f506.b7b218","name":"6pm > Midnight","group":"716c9ae.4946064","order":4,"width":4,"height":4,"gtype":"gage","title":"18:00 > 24:00","label":"mm","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":400,"y":440,"wires":[]},{"id":"9cfdc014.907fd","type":"mqtt in","z":"7495b29c.33f8ec","name":"","topic":"Garage/FurnaceTemp","qos":"2","datatype":"auto","broker":"333bb6f5.53ffaa","x":170,"y":120,"wires":[["d41fa6fb.902338"]]},{"id":"d41fa6fb.902338","type":"ui_gauge","z":"7495b29c.33f8ec","name":"Garage Temperature","group":"a21ea40a.946868","order":0,"width":0,"height":0,"gtype":"gage","title":"FurnaceTemp","label":"Celcius","format":"{{value}}","min":0,"max":"35","colors":["#0015b3","#1be600","#ca3838"],"seg1":"10","seg2":"25","x":590,"y":120,"wires":[]},{"id":"1f051af8.8c4455","type":"ui_slider","z":"7495b29c.33f8ec","name":"","label":"Garage Temperature","tooltip":"","group":"a21ea40a.946868","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"12","max":"22","step":1,"x":210,"y":240,"wires":[["2d3ff7f1.fffa28"]]},{"id":"2d3ff7f1.fffa28","type":"mqtt out","z":"7495b29c.33f8ec","name":"","topic":"Garage/FurnaceHeat","qos":"2","retain":"true","broker":"333bb6f5.53ffaa","x":600,"y":240,"wires":[]},{"id":"4aa32aab.26f894","type":"mqtt in","z":"e5d3b05c.b979b","name":"","topic":"BlockHeat/right23","qos":"2","datatype":"auto","broker":"333bb6f5.53ffaa","x":110,"y":120,"wires":[["94a5f414.8e18a8"]]},{"id":"42f3a76a.acd6c8","type":"mqtt in","z":"e5d3b05c.b979b","name":"","topic":"BlockHeat/left24","qos":"2","datatype":"auto","broker":"333bb6f5.53ffaa","x":100,"y":280,"wires":[["baa9dc52.6c445"]]},{"id":"94a5f414.8e18a8","type":"ui_text","z":"e5d3b05c.b979b","group":"71f6ff47.b6fe9","order":2,"width":0,"height":0,"name":"","label":"right23 (false is ON)","format":"{{msg.payload}}","layout":"row-center","x":430,"y":120,"wires":[]},{"id":"baa9dc52.6c445","type":"ui_text","z":"e5d3b05c.b979b","group":"71f6ff47.b6fe9","order":4,"width":0,"height":0,"name":"","label":"left24 (false is ON)","format":"{{msg.payload}}","layout":"row-center","x":430,"y":280,"wires":[]}]