Node-Red/Dashboard/Openweather5flows.json
[{"id":"a5968f77.8a8cd","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"ee509065.a09fa","type":"inject","z":"a5968f77.8a8cd","name":"","topic":"","payload":"1","payloadType":"num","repeat":"900","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":200,"wires":[["35f6e8cd.2a16e8"]]},{"id":"35f6e8cd.2a16e8","type":"openweathermap","z":"a5968f77.8a8cd","name":"","wtype":"current","lon":"","lat":"","city":"calgary","country":"ca","language":"en","x":350,"y":200,"wires":[["642e6b7f.accda4"]]},{"id":"642e6b7f.accda4","type":"function","z":"a5968f77.8a8cd","name":"","func":"var msg1 = { payload:msg.payload.temp_maxc };\nvar msg2 = { payload:msg.payload.tempc };\nvar msg3 = { payload:msg.payload.temp_minc };\nvar msg4 = { payload:msg.payload.description};\nvar msg5 = { payload:msg.payload.icon};\n\n\nreturn [ msg1, msg2, msg3, msg4, msg5 ];","outputs":5,"noerr":0,"x":530,"y":200,"wires":[["f0eecf42.7bd93"],["700d35ca.2baa1c","226b91dd.87451e"],["bc321a79.e70f18"],["8cb96e26.349bd"],["b1e1b4c.8e49d48"]],"outputLabels":["Temp Max","Current Temp","Temp Min","Description","Weather icon"]},{"id":"f0eecf42.7bd93","type":"ui_gauge","z":"a5968f77.8a8cd","name":"","group":"b2e91207.0854c","order":11,"width":"4","height":"4","gtype":"gage","title":"Max temp","label":"units","format":"{{value}}","min":"-5","max":"40","colors":["#0080ff","#008080","#ca3838"],"seg1":"5","seg2":"25","x":740,"y":80,"wires":[]},{"id":"700d35ca.2baa1c","type":"ui_gauge","z":"a5968f77.8a8cd","name":"","group":"b2e91207.0854c","order":11,"width":"4","height":"4","gtype":"gage","title":"Current temp","label":"units","format":"{{value}}","min":"-5","max":"40","colors":["#0080ff","#008040","#ca3838"],"seg1":"5","seg2":"25","x":750,"y":140,"wires":[]},{"id":"bc321a79.e70f18","type":"ui_gauge","z":"a5968f77.8a8cd","name":"","group":"b2e91207.0854c","order":11,"width":"4","height":"4","gtype":"gage","title":"Min temp","label":"units","format":"{{value}}","min":"-5","max":"40","colors":["#0080ff","#008080","#ca3838"],"seg1":"5","seg2":"25","x":740,"y":200,"wires":[]},{"id":"226b91dd.87451e","type":"ui_chart","z":"a5968f77.8a8cd","name":"","group":"105cdb6e.1f25e5","order":1,"width":"14","height":"8","label":"Temp in degrees C","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-5","ymax":"40","removeOlder":"4","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":770,"y":260,"wires":[[],[]]},{"id":"8cb96e26.349bd","type":"ui_text","z":"a5968f77.8a8cd","group":"6101d188.07919","order":2,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":730,"y":320,"wires":[]},{"id":"b1e1b4c.8e49d48","type":"ui_template","z":"a5968f77.8a8cd","group":"6101d188.07919","name":"Weather icon","order":1,"width":"4","height":"4","format":"<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-3x wi wi-owm-{{msg.payload}}\"></i>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":750,"y":380,"wires":[[]]},{"id":"b2e91207.0854c","type":"ui_group","z":"","name":"Gauges","tab":"bd965799.d93528","order":1,"disp":true,"width":"6","collapse":false},{"id":"105cdb6e.1f25e5","type":"ui_group","z":"","name":"Chart","tab":"bd965799.d93528","order":2,"disp":true,"width":"14","collapse":false},{"id":"6101d188.07919","type":"ui_group","z":"","name":"Description","tab":"bd965799.d93528","order":3,"disp":true,"width":"14","collapse":false},{"id":"bd965799.d93528","type":"ui_tab","z":"","name":"Weather","icon":"dashboard","disabled":false,"hidden":false}]