Node-Red/Dashboard/OpenweatherHTTP.json
[{"id":"1da23ba9.ca2cf4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"33bcc5ed.19569a","type":"ui_text","z":"1da23ba9.ca2cf4","group":"7263061e.66df38","order":2,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-left","x":870,"y":340,"wires":[]},{"id":"8a395c39.862aa","type":"http request","z":"1da23ba9.ca2cf4","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://api.openweathermap.org/data/2.5/weather?id=5913490&appid=8fc2f53a554c22bc492bf68ebc109d4f","tls":"","proxy":"","authType":"","x":630,"y":340,"wires":[["33bcc5ed.19569a","599db626.da85d8"]]},{"id":"124cbe.d0ba7342","type":"inject","z":"1da23ba9.ca2cf4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"60","x":270,"y":340,"wires":[["8a395c39.862aa"]]},{"id":"599db626.da85d8","type":"debug","z":"1da23ba9.ca2cf4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":880,"y":300,"wires":[]},{"id":"7263061e.66df38","type":"ui_group","z":"","name":"Dashboard","tab":"27432060.79d55","disp":true,"width":"6","collapse":false},{"id":"27432060.79d55","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]