Node-Red/Dashboard/Openweather1guage.json
[{"id":"1da23ba9.ca2cf4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"fa929944.513cd8","type":"debug","z":"1da23ba9.ca2cf4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1170,"y":280,"wires":[]},{"id":"546f56b.1f1a7a8","type":"openweathermap","z":"1da23ba9.ca2cf4","name":"Calgary Weather","wtype":"current","lon":"","lat":"","city":"Calgary","country":"ca","language":"en","x":560,"y":280,"wires":[["ef3a6cb4.c91f9"]]},{"id":"ccd4f481.56e838","type":"inject","z":"1da23ba9.ca2cf4","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"onceDelay":"120","x":290,"y":280,"wires":[["546f56b.1f1a7a8"]]},{"id":"ef3a6cb4.c91f9","type":"function","z":"1da23ba9.ca2cf4","name":"parse local temp","func":"var temp = { payload:msg.payload.tempc };\nreturn temp;","outputs":1,"noerr":0,"x":890,"y":280,"wires":[["fa929944.513cd8","a6fcbe89.9db4a"]]},{"id":"a6fcbe89.9db4a","type":"ui_gauge","z":"1da23ba9.ca2cf4","name":"","group":"7263061e.66df38","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":"-30","max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1180,"y":340,"wires":[]},{"id":"7263061e.66df38","type":"ui_group","z":"","name":"Dashboard","tab":"27432060.79d55","disp":true,"width":"6","collapse":false},{"id":"27432060.79d55","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]