Node-Red/Dashboard/RaspberryControlDashboard.json
[{"id":"563a42a4.cbc6dc","type":"tab","label":"RaspberryPiControlDashboard01","disabled":false,"info":""},{"id":"c5694644.6d1c08","type":"ui_gauge","z":"563a42a4.cbc6dc","name":"","group":"13dad8f9.07b857","order":2,"width":0,"height":0,"gtype":"gage","title":"CPU Temperature","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":930,"y":320,"wires":[]},{"id":"57916897.79a408","type":"exec","z":"563a42a4.cbc6dc","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"","timer":"","name":"RPi Temp.","x":570,"y":320,"wires":[["bde06c90.ffa05"],[],[]]},{"id":"808843e5.0887","type":"inject","z":"563a42a4.cbc6dc","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"x":364.5,"y":328.25,"wires":[["57916897.79a408","9b8f8db2.bad1e","ee04c1cf.5c374"]]},{"id":"bde06c90.ffa05","type":"function","z":"563a42a4.cbc6dc","name":"","func":"str = msg.payload\nmsg.payload = str.substring(5,9);\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":320,"wires":[["c5694644.6d1c08","922e568a.302a78"]]},{"id":"8ae006c.83b4ff8","type":"ui_button","z":"563a42a4.cbc6dc","name":"","group":"6ba93fe0.69915","order":2,"width":0,"height":0,"label":"Reboot","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":340,"y":700,"wires":[["ac2e1033.141ec"]]},{"id":"ac2e1033.141ec","type":"exec","z":"563a42a4.cbc6dc","command":"sudo reboot","addpay":false,"append":"","useSpawn":"","timer":"","name":"Reboot","x":558,"y":700,"wires":[[],[],[]]},{"id":"645db46.84ed04c","type":"ui_button","z":"563a42a4.cbc6dc","name":"","group":"6ba93fe0.69915","order":3,"width":0,"height":0,"label":"Shutdown","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","x":348.5,"y":744.25,"wires":[["d08acaf5.f21e98"]]},{"id":"d08acaf5.f21e98","type":"exec","z":"563a42a4.cbc6dc","command":"sudo shutdown -h now","addpay":false,"append":"","useSpawn":"","timer":"","name":"Shutdown","x":569.5,"y":762.25,"wires":[[],[],[]]},{"id":"922e568a.302a78","type":"ui_chart","z":"563a42a4.cbc6dc","name":"","group":"13dad8f9.07b857","order":3,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"outputs":2,"x":930,"y":360,"wires":[[],[]]},{"id":"9b8f8db2.bad1e","type":"exec","z":"563a42a4.cbc6dc","command":"top -d 0.5 -b -n2 | grep \"Cpu(s)\"|tail -n 1 | awk '{print $2 + $4}'","addpay":false,"append":"","useSpawn":"","timer":"","name":"CPU Load","x":570,"y":400,"wires":[["1101a0ca.04aaef"],[],[]]},{"id":"ee04c1cf.5c374","type":"exec","z":"563a42a4.cbc6dc","command":"free | grep Mem | awk '{print 100*($4+$6+$7)/$2}'","addpay":false,"append":"","useSpawn":"","timer":"","name":"Free Memory","x":570,"y":480,"wires":[["85bbc2f5.f7fd2"],[],[]]},{"id":"1101a0ca.04aaef","type":"ui_gauge","z":"563a42a4.cbc6dc","name":"","group":"13dad8f9.07b857","order":1,"width":0,"height":0,"gtype":"gage","title":"Processor","label":"CPU","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":930,"y":400,"wires":[]},{"id":"85bbc2f5.f7fd2","type":"ui_gauge","z":"563a42a4.cbc6dc","name":"","group":"f46de918.47f648","order":1,"width":0,"height":0,"gtype":"gage","title":"Memory","label":"RAM","format":"{{value.toFixed(1)}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":930,"y":480,"wires":[]},{"id":"86534a26.4c7178","type":"exec","z":"563a42a4.cbc6dc","command":"df -h","addpay":false,"append":"","useSpawn":"","timer":"","name":"Disk Usage","x":570,"y":560,"wires":[["1644942a.c73c4c"],[],[]]},{"id":"84f91f0e.9e32f","type":"ui_gauge","z":"563a42a4.cbc6dc","name":"","group":"3ee0cd43.09c7e2","order":1,"width":0,"height":0,"gtype":"gage","title":"Disk","label":"Usage","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":930,"y":560,"wires":[]},{"id":"1644942a.c73c4c","type":"function","z":"563a42a4.cbc6dc","name":"","func":"var re = /([0-9]{2})%/\nvar idx = msg.payload.search(re);\nvar str = msg.payload;\nif (idx >=0) {\n    str = msg.payload.substring(idx, idx + 2);\n}\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":560,"wires":[["84f91f0e.9e32f"]]},{"id":"410399a8.3bb418","type":"inject","z":"563a42a4.cbc6dc","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":370,"y":560,"wires":[["86534a26.4c7178"]]},{"id":"13dad8f9.07b857","type":"ui_group","z":"","name":"Col1","tab":"d990ba26.6265a8","order":1,"disp":false,"width":"6"},{"id":"6ba93fe0.69915","type":"ui_group","z":"","name":"Actions","tab":"d990ba26.6265a8","order":4,"disp":true,"width":"6"},{"id":"f46de918.47f648","type":"ui_group","z":"","name":"Col2","tab":"d990ba26.6265a8","order":2,"disp":false,"width":"6"},{"id":"3ee0cd43.09c7e2","type":"ui_group","z":"","name":"Col3","tab":"d990ba26.6265a8","order":3,"disp":false,"width":"6"},{"id":"d990ba26.6265a8","type":"ui_tab","z":"","name":"RPi Control","icon":"dashboard","order":1}]