Node-Red/Dashboard/TrueFalseGPIO24.json
[{"id":"563a42a4.cbc6dc","type":"tab","label":"True False GPIO24","disabled":false,"info":""},{"id":"cd48c01f.27feb","type":"rpi-gpio out","z":"563a42a4.cbc6dc","name":"Yellow LED","pin":"18","set":true,"level":"0","freq":"","out":"out","x":800,"y":240,"wires":[]},{"id":"e6e99bd2.41be28","type":"inject","z":"563a42a4.cbc6dc","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":200,"wires":[["cd48c01f.27feb"]]},{"id":"dfee5ffc.b704f","type":"inject","z":"563a42a4.cbc6dc","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":320,"wires":[["cd48c01f.27feb"]]}]